{{ ansible_managed | comment }}
# phpmyadmin configuration

# stop searching after this location
location ^~ {{ phpmyadmin_location }} {
  root {{ alphanodes_dir }};
  index index.php;
  location ~ ^{{ phpmyadmin_location }}/(.+.php) {

    {%- include 'templates/fpm.inc.j2' with context %}

    fastcgi_index  index.php;
  }

  {% if phpmyadmin_ssl_only -%}

  if ($scheme = http) {
    return 403;
  }

  {% endif -%}

  {% include 'templates/nginx/protection.inc.j2' with context %}

  location ~ {{ phpmyadmin_location }}/\. {
    deny all;
  }

  location ~* ^(?:.+\.(?:htaccess|make|rst|inc|py|bat|mo|po|sh)|.*changelog|.*composer\.json|.*composer\.lock)$ {
    deny all;
  }
}
