user = {{ dovecot_db_user }}
password = {{ dovecot_db_password }}
hosts = {{ dovecot_db_host }}
dbname = {{ dovecot_db_name }}
table = domain
select_field = transport
where_field = domain
additional_conditions = and backupmx = '0' and active = '1'
