---

# ansible_processor_vcpus and nginx auto is broken for lxc
- name: Set real_nginx_worker_processes (LXC)
  ansible.builtin.set_fact:
    real_nginx_worker_processes: "{{ ansible_processor_nproc if nginx_worker_processes == '' else nginx_worker_processes }}"
  when: ansible_virtualization_type == 'lxc'

- name: Set real_nginx_worker_processes (non LXC)
  ansible.builtin.set_fact:
    real_nginx_worker_processes: "{{ 'auto' if nginx_worker_processes == '' else nginx_worker_processes }}"
  when: ansible_virtualization_type != 'lxc'

- name: Ensure nginx is installed
  ansible.builtin.apt:
    name: '{{ nginx_packages }}'
    state: present

- name: Update nginx.conf
  ansible.builtin.template:
    src: nginx.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
  notify: Reload nginx

- name: Remove nginx.conf.dpkg-dist
  ansible.builtin.file:
    path: /etc/nginx/nginx.conf.dpkg-dist
    state: absent

- name: Install maps configuration for protection
  ansible.builtin.copy:
    src: nginx/conf.d/protection.conf
    dest: /etc/nginx/conf.d/protection.conf
    mode: 0644
  when: nginx_with_protection

- name: Remove protection maps because its disabled
  ansible.builtin.file:
    path: /etc/nginx/conf.d/protection.conf
    state: absent
  when: not nginx_with_protection

- name: Get fastcgi_params.dpkg-dist file infos
  ansible.builtin.stat:
    path: /etc/nginx/fastcgi_params.dpkg-dist
  register: fastcgi_params_dist

- name: Restore default fastcgi_params from fastcgi_params.dpkg-dist
  ansible.builtin.command: mv {{ fastcgi_params_dist.stat.path }} /etc/nginx/fastcgi_params
  when: fastcgi_params_dist.stat.exists

- name: Remove unwanted dynamic nginx module
  ansible.builtin.file:
    path: /etc/nginx/modules-enabled/{{ item }}
    state: absent
  loop: '{{ nginx_disable_modules | default([]) }}'
  notify: Restart nginx
  when: >
    ansible_distribution == 'Debian'
    or ansible_distribution == 'Ubuntu' and ansible_distribution_major_version == '18'

- name: Remove default nginx vhost config file (if configured).
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  when: nginx_remove_default_vhost
  notify: Reload nginx

- name: Ensure nginx is started and enabled to start at boot.
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: true

- name: Add web users to ssl-cert group
  ansible.builtin.user:
    name: '{{ item }}'
    groups: ssl-cert
    append: true
  loop: '{{ nginx_ssl_web_users | default([]) }}'

- name: Calc resolver if not specified
  when: nginx_resolver | length < 1
  block:
    - name: Set resolver for lxc clients
      ansible.builtin.set_fact:
        nginx_resolver:
          - '{{ server_lxc_nameserver_ip }}'
      when: ansible_virtualization_type == 'lxc'

    - name: Set resolver for non lxc clients
      ansible.builtin.set_fact:
        nginx_resolver: "{{ ['127.0.0.1'] + hetzner_nameserver_v4 if hoster == 'hetzner' else ['8.8.8.8', '8.8.4.4'] }}"
      when: >
        ansible_virtualization_type != 'lxc'
        and server_hetzner_resolv_conf_with_unbound is defined
        and server_hetzner_resolv_conf_with_unbound

    - name: Set resolver for non lxc clients
      ansible.builtin.set_fact:
        nginx_resolver: "{{ hetzner_nameserver_v4 if hoster == 'hetzner' else ['8.8.8.8', '8.8.4.4'] }}"
      when: ansible_virtualization_type != 'lxc' and nginx_resolver | length < 1

- name: Setup SSL configuration
  ansible.builtin.template:
    src: ssl.j2
    dest: /etc/nginx/conf.d/ssl.conf
    mode: 0644
  notify: Restart nginx
  when: nginx_with_ssl

- name: Remove SSL configuration
  ansible.builtin.file:
    path: /etc/nginx/conf.d/ssl.conf
    state: absent
  notify: Restart nginx
  when: not nginx_with_ssl

- name: Remove obsolete configuration files
  ansible.builtin.file:
    path: '/etc/nginx/{{ item }}'
    state: absent
  loop:
    - blacklist.conf
    - fpm.conf
    - ssl.conf
    - map_block_http_methods.conf
    - conf.d/blacklist.conf
    - conf.d/block_http_methods.conf
    - conf.d/private_network.conf

- name: Install nginx vcbackups.conf configuration
  ansible.builtin.copy:
    src: nginx/vcbackups.conf
    dest: /etc/nginx/
    mode: 0644
  when: nginx_vcbackups_users | length

- name: Update vcbackups user access
  community.general.htpasswd:
    path: '{{ nginx_vcbackups_pwd_file }}'
    name: '{{ item.user }}'
    password: '{{ item.password }}'
    owner: root
    group: '{{ nginx_group }}'
    mode: 0640
  loop: '{{ nginx_vcbackups_users }}'
  when: nginx_vcbackups_users | length

- name: Install nginx software.conf configuration
  ansible.builtin.copy:
    src: nginx/software.conf
    dest: /etc/nginx/
    mode: 0644
  when: nginx_software_users | length

- name: Update software user access
  community.general.htpasswd:
    path: '{{ nginx_software_pwd_file }}'
    name: '{{ item.user }}'
    password: '{{ item.password }}'
    owner: root
    group: '{{ nginx_group }}'
    mode: 0640
  loop: '{{ nginx_software_users }}'
  when: nginx_software_users | length

- name: Ensure custom vhosts are enabled
  ansible.builtin.file:
    src: /etc/nginx/sites-available/{{ item }}.conf
    dest: /etc/nginx/sites-enabled/{{ item }}.conf
    state: link
  loop: '{{ nginx_custom_vhosts }}'
  when: nginx_custom_vhosts | length
  notify: Reload nginx

- name: Ensure disabled custom vhosts are removed
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/{{ item }}.conf
    state: absent
  loop: '{{ nginx_custom_vhosts }}'
  when: nginx_custom_vhosts_disabled | length
  notify: Reload nginx

- name: Setup error_pages directory
  ansible.builtin.file:
    path: '{{ nginx_error_pages_path }}'
    state: directory
    mode: 0755

- name: Install html page for status errors
  ansible.builtin.copy:
    src: nginx/error_pages/{{ item }}
    dest: '{{ nginx_error_pages_path }}/'
    mode: 0644
    owner: root
    group: root
  loop:
    - 403.html
    - 404.html
    - 502.html
