# /etc/zsh/zshenv: system-wide .zshenv file for zsh(1).
{{ ansible_managed | comment }}
#
# This file is sourced on all invocations of the shell.
# If the -f flag is present or if the NO_RCS option is
# set within this file, all other initialization files
# are skipped.
#
# This file should contain commands to set the command
# search path, plus other important environment variables.
# This file should not contain commands that produce
# output or assume the shell is attached to a tty.
#
# Global Order: zshenv, zprofile, zshrc, zlogin

if [[ -z "$PATH" || "$PATH" == "/bin:/usr/bin" ]]
then
	export PATH="/usr/local/bin:/usr/bin:/bin:/usr/games"
fi

export FPATH=/usr/share/zsh/site-functions:$FPATH
{% if zsh_with_completions %}
export FPATH=/usr/share/zsh-completions:$FPATH
{% endif %}

{% if http_proxy is defined %}
export http_proxy={{ http_proxy }}
{% endif %}
{% if https_proxy is defined %}
export https_proxy={{ https_proxy }}
{% endif %}
{% if shell_with_ruby_gems %}
export GEM_HOME=$(ruby -e 'print Gem.user_dir')
export PATH="$GEM_HOME/bin:$PATH"
{% endif %}

{% for env_line in zsh_global_env %}
{{ env_line }}
{% endfor %}
