---

- name: Redis repo
  when: redis_use_redis_io
  block:
    # see https://docs.ansible.com/ansible/latest/collections/ansible/builtin/deb822_repository_module.html
    - name: Add redis apt repository
      ansible.builtin.deb822_repository:
        name: redis
        uris: "{{ redis_apt_url }}"
        types: deb
        suites: "{{ redis_apt_suites }}"
        components: "{{ redis_apt_components }}"
        signed_by: "{{ redis_apt_signed_by }}"
        state: present
      register: redis_repo

    - name: Update apt cache
      apt:
        update_cache: true
      when: redis_repo.changed
      tags:
        - skip_ansible_lint

- name: Do not redis repo
  when: not redis_use_redis_io
  ansible.builtin.deb822_repository:
    name: redis
    state: absent

- name: Be sure redis is installed
  ansible.builtin.apt:
    name: '{{ redis_server_packages }}'
    state: present

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: "auto"

- name: Check if php is installed
  ansible.builtin.set_fact:
    php_installed: "{{ true if redis_server_check_php_package in ansible_facts.packages else false }}"

- name: Install PHP package (if required)
  ansible.builtin.apt:
    name: '{{ redis_server_php_package }}'
    state: present
  when: php_installed

- name: Setup redis configuration
  ansible.builtin.template:
    src: redis.conf.j2
    dest: /etc/redis/redis.conf
    owner: redis
    group: redis
    mode: '0640'
  notify: Restart redis

- name: Setup sysctl vm.overcommit_memory
  when: redis_vm_overcommit_memory is defined and server_vm_overcommit_memory is undefined
  ansible.posix.sysctl:
    name: vm.overcommit_memory
    value: '{{ redis_vm_overcommit_memory }}'
    sysctl_set: true
    reload: true

- name: Include systemd tasks
  ansible.builtin.import_tasks: systemd.yml

- name: Start the redis-server service
  ansible.builtin.systemd_service:
    name: '{{ redis_server_service_name }}'
    state: started
    enabled: true
    daemon_reload: true

- name: Test Redis is working on port {{ redis_server_port }}
  ansible.builtin.command: redis-cli ping
  register: redis_test
  failed_when: redis_test.stdout != 'PONG'
  changed_when: false
  when: redis_server_port != 0

- name: Test Redis is working on socket
  ansible.builtin.command: redis-cli -s {{ redis_server_unixsocket }} ping
  register: redis_test
  failed_when: redis_test.stdout != 'PONG'
  changed_when: false
  when: redis_server_port == 0
