---
php_fpm_version: '8.4'

php_fpm_service: php{{ php_fpm_version }}-fpm
php_fpm_php_fpm_conf: /etc/php/{{ php_fpm_version }}/fpm/php-fpm.conf
php_fpm_custom_php_ini: /etc/php/{{ php_fpm_version }}/fpm/conf.d/custom.ini
php_fpm_pool_dir: /etc/php/{{ php_fpm_version }}/fpm/pool.d
__php_session_save_path: /var/lib/php/sessions

php_fpm_base: /run/php/{{ php_fpm_service }}
php_fpm_listen: '{{ php_fpm_base }}.sock'
php_fpm_pid: '{{ php_fpm_base }}.pid'

php_fpm_packages:
  - php8.4-fpm
  - php8.4-gd
  - php8.4-readline
  - php8.4-mbstring
  - php8.4-xml

php_fpm_remove_packages:
  - php-fpm
  # and pa packages
  - php7.2-fpm
  - php7.2-gd
  - php7.2-json
  - php7.2-readline
  - php7.2-mbstring
  - php7.2-xml
  - php7.3-fpm
  - php7.3-gd
  - php7.3-json
  - php7.3-readline
  - php7.3-mbstring
  - php7.3-xml
  - php7.4-fpm
  - php7.4-gd
  - php7.4-json
  - php7.4-readline
  - php7.4-mbstring
  - php8.2-xml
  - php8.2-fpm
  - php8.2-gd
  - php8.2-json
  - php8.2-readline
  - php8.2-mbstring
  - php8.2-xml
