---
- name: Use different mongod.conf for auth initialization
  ansible.builtin.template:
    src: mongod_init.conf.j2
    dest: /etc/mongod.conf
    mode: 0644
  notify:
    - Restart mongodb
    - Wait when mongodb is started on localhost

- name: Flush all handlers at this point
  ansible.builtin.meta: flush_handlers

- name: Create administrative user "{{ mongodb_user_admin_name }}"
  community.mongodb.mongodb_user:
    database: admin
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    update_password: "{{ mongodb_user_update_password }}"
    roles: "{{ item.roles }}"
    login_host: "{{ mongodb_net_bindip.split(',') | map('replace', '0.0.0.0', '127.0.0.1') | list | first }}"
    login_port: "{{ mongodb_net_port | int }}"
  loop:
    - name: "{{ mongodb_user_admin_name }}"
      password: "{{ mongodb_user_admin_password }}"
      roles: "userAdminAnyDatabase"

- name: Create administrative user "{{ mongodb_root_admin_name }}"
  community.mongodb.mongodb_user:
    database: admin
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    update_password: "{{ mongodb_user_update_password }}"
    roles: "{{ item.roles }}"
    login_host: "{{ mongodb_net_bindip.split(',') | map('replace', '0.0.0.0', '127.0.0.1') | list | first }}"
    login_port: "{{ mongodb_net_port | int }}"
  loop:
    - name: "{{ mongodb_root_admin_name }}"
      password: "{{ mongodb_root_admin_password }}"
      roles: "root"

- name: Create backup user "{{ mongodb_root_backup_name }}"
  community.mongodb.mongodb_user:
    database: admin
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    update_password: "{{ mongodb_user_update_password }}"
    roles: "{{ item.roles }}"
    login_host: "{{ mongodb_net_bindip.split(',') | map('replace', '0.0.0.0', '127.0.0.1') | list | first }}"
    login_port: "{{ mongodb_net_port | int }}"
  loop:
    - name: "{{ mongodb_root_backup_name }}"
      password: "{{ mongodb_root_backup_password }}"
      roles: "backup,clusterMonitor"

- name: Move back mongod.conf
  ansible.builtin.template:
    src: mongod.conf.j2
    dest: /etc/mongod.conf
    mode: 0644
  notify:
    - Restart mongodb
    - Wait when mongodb is started

- name: Flush all handlers at this point
  ansible.builtin.meta: flush_handlers
