---
- name: Install MMS agent
  ansible.builtin.apt:
    deb: "{{ mongodb_mms_agent_pkg }}"

- name: Configure the MMS agent pt. 1
  ansible.builtin.file:
    state: directory
    path: /etc/mongodb-mms
    owner: "{{ mongodb_user }}"
    group: "{{ mongodb_user }}"
    mode: '0755'

- name: Configure the MMS agent pt. 2
  ansible.builtin.template:
    src: monitoring-agent.config.j2
    dest: /etc/mongodb-mms/monitoring-agent.config
    owner: "{{ mongodb_user }}"
    group: "{{ mongodb_user }}"
    mode: '0644'
  notify: Restart mongodb-mms-monitoring-agent

- name: Ensure that the MMS agent is started
  ansible.builtin.systemd_service:
    name: mongodb-mms-monitoring-agent
    state: started
    enabled: true
