---

- name: Setup nginx_mono and configure grafana vhost
  tags: nginx
  ansible.builtin.include_role:
    name: alphanodes.setup.nginx_mono
  vars:
    nginx_mono_service_name: grafana
    nginx_mono_service_enabled: true
    nginx_mono_service_config:
      server_name: "{{ grafana_vhost_server }}"
      proxy_pass: "http://127.0.0.1:{{ grafana_listen_port }}/"
      proxy_location: "/"
      proxy_headers:
        - "X-Forwarded-Host $host"
      redirects: "{{ grafana_redirects | default([]) }}"
      vhost_users: "{{ [{'user': grafana_web_user, 'password': grafana_web_password}] if grafana_web_password | length > 0 else [] }}"
      vhost_for_zabbix: "{{ grafana_vhost_for_zabbix | default(false) }}"
      letsencrypt: "{{ grafana_vhost_letsencrypt | default(false) }}"
      letsencrypt_cert: "{{ grafana_vhost_letsencrypt_cert | default('') }}"
      letsencrypt_key: "{{ grafana_vhost_letsencrypt_key | default('') }}"
      ssl_cert: "{{ grafana_vhost_ssl_cert | default('') }}"
      vhost_includes: "{{ grafana_vhost_includes | default([]) }}"

- name: Include ssl role
  ansible.builtin.include_role:
    name: alphanodes.setup.ssl
