---
# see default: https://github.com/adrienverge/yamllint/blob/master/yamllint/conf/default.yaml
extends: default

ignore:
  - roles/alphanodes.mongodb/
  - '.ansible'
  - '.venv'

rules:
  line-length: disable
  new-lines: {type: unix}
  braces: {max-spaces-inside: 1, level: error}
  brackets: {max-spaces-inside: 1, level: error}
  comments-indentation: disable
  comments: { min-spaces-from-content: 1 }
  octal-values: { forbid-implicit-octal: true, forbid-explicit-octal: true }
  # indentation: disable
  #  key-duplicates: enable
  #  truthy: disable
