{{ ansible_managed | comment }}

[Unit]
Description=Gitlab mailroom Worker
PartOf=gitlab.target
After=network.target
StartLimitIntervalSec={{ gitlab_systemd_start_limit_interval_sec_mailroom }}

[Service]
Type=simple
User={{ gitlab_user }}
WorkingDirectory={{ gitlab_path }}
Environment=RAILS_ENV={{ gitlab_rails_env }}
Environment=GITLAB_LOG_LEVEL={{ gitlab_log_level }}
{% if gitlab_rvm_ruby %}
Environment="PATH={{ gitlab_rvm_ruby_path }}:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
{% else %}
Environment="PATH={{ gitlab_gem_home }}/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
{% endif %}
{% if gitlab_rvm_ruby %}
ExecStart={{ gitlab_rvm_ruby_path }}/bundle exec mail_room --log-exit-as json --quiet --config {{ gitlab_path }}/config/mail_room.yml
{% else %}
ExecStart={{ gitlab_gem_home }}/bin/bundle exec mail_room --log-exit-as json --quiet --config {{ gitlab_path }}/config/mail_room.yml
{% endif %}
Restart=on-failure
RestartSec={{ gitlab_systemd_restart_sec }}
SyslogIdentifier=gitlab-mailroom
Slice=gitlab.slice

[Install]
WantedBy=gitlab.target
