{{ ansible_managed | comment }}

[Unit]
Description=Gitlab Workhorse handles slow HTTP requests for Gitlab.
ReloadPropagatedFrom=gitlab.target
PartOf=gitlab.target
After=network.target gitlab-puma.service
Wants=gitlab-puma.service
StartLimitIntervalSec={{ gitlab_systemd_start_limit_interval_sec }}
StartLimitBurst={{ gitlab_systemd_start_limit_burst }}

[Service]
Type=simple
User={{ gitlab_user }}
WorkingDirectory={{ gitlab_workhorse_path }}
Environment="PATH={{ gitlab_workhorse_path }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="GITLAB_LOG_LEVEL={{ gitlab_log_level }}"
ExecStart={{ gitlab_workhorse_path }}/gitlab-workhorse \
  -listenUmask 0 \
  -listenNetwork unix \
  -listenAddr {{ gitlab_workhorse_socket }} \
  -authBackend http://127.0.0.1:{{ gitlab_authbackend_port }} \
  -authSocket {{ gitlab_auth_socket }} \
  -documentRoot {{ gitlab_path }}/public \
  -secretPath {{ gitlab_path }}/.gitlab_workhorse_secret
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
RestartSec={{ gitlab_systemd_restart_sec }}
SyslogIdentifier=gitlab-workhorse
Slice=gitlab.slice

[Install]
WantedBy=gitlab.target
