{{ ansible_managed | comment }}

[Unit]
Description=GitLab Puma Server
Conflicts=gitlab.service
ReloadPropagatedFrom=gitlab.target
PartOf=gitlab.target
Wants=redis.service postgresql.service
After=redis.service postgresql.service
StartLimitIntervalSec={{ gitlab_systemd_start_limit_interval_sec_puma }}

[Service]
Type=simple
User={{ gitlab_user }}
WorkingDirectory={{ gitlab_path }}
Environment=RAILS_ENV={{ gitlab_rails_env }}
Environment=USER={{ gitlab_user }}
Environment=GITLAB_LOG_LEVEL={{ gitlab_log_level }}
# see  https://gitlab.com/gitlab-org/gitlab/-/issues/352055
Environment=WIPE_METRICS_DIR=1
Environment=prometheus_multiproc_dir={{ gitlab_path }}/tmp/prometheus_multiproc_dir
{% if gitlab_rvm_ruby %}
ExecStart={{ gitlab_rvm_ruby_path }}/bundle exec puma --config {{ gitlab_path }}/config/puma.rb
{% else %}
ExecStart={{ gitlab_gem_home }}/bin/bundle exec puma --config {{ gitlab_path }}/config/puma.rb
{% endif %}
PIDFile={{ gitlab_pid_path }}/puma.pid
Restart=on-failure
RestartSec={{ gitlab_systemd_restart_sec }}
ExecReload=/bin/kill -USR2 $MAINPID
SyslogIdentifier=gitlab-puma
Slice=gitlab.slice

[Install]
WantedBy=gitlab.target
