{{ managed_by_ansible | comment }}

[Unit]
Description=GitLab Pages daemon
ReloadPropagatedFrom=gitlab.target
PartOf=gitlab.target
After=network.target gitlab-puma.service
Wants=gitlab-puma.service

[Service]
Type=simple
User={{ gitlab_user }}
WorkingDirectory={{ gitlab_pages_path }}
Environment=RAILS_ENV={{ gitlab_rails_env }}
Environment=GITLAB_LOG_LEVEL={{ gitlab_log_level }}
ExecStart={{ gitlab_pages_path }}/gitlab-pages -config {{ gitlab_pages_path }}/gitlab-pages.conf
Restart=on-failure
RestartSec={{ gitlab_systemd_restart_sec }}
SyslogIdentifier=gitlab-pages
Slice=gitlab.slice

[Install]
WantedBy=gitlab.target
