{# In alphanodes.setup.nginx/templates/_macros.j2 #}

{% macro listen(
    ssl=false,
    port=none,
    default_server=false,
    ipv6=none,
    http_port='80',
    ssl_port='443',
    ssl_only=false,
    both=false
) -%}

{# Auto-detect IPv6 if not specified #}
{% set use_ipv6 = ipv6 if ipv6 is not none else nginx_with_ipv6 | default(false) -%}

{# Determine ports #}
{% set actual_ssl_port = port if port and ssl else ssl_port -%}
{% set actual_http_port = port if port and not ssl else http_port -%}

{# Build listen options #}
{% if nginx_with_reuseport | default(false) -%}
  {% set ssl_options = nginx_ssl_listen_option ~ ' reuseport' -%}
  {% set http_options = 'reuseport' -%}
{% else -%}
  {% set ssl_options = nginx_ssl_listen_option -%}
  {% set http_options = '' -%}
{% endif -%}

{# SSL + HTTP (dual mode) #}
{% if both or (ssl and not ssl_only) -%}
listen {{ actual_ssl_port }} {{ ssl_options }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_ssl_port }} {{ ssl_options }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% if nginx_with_http3 | default(false) -%}
listen {{ actual_ssl_port }} quic{{ ' reuseport' if nginx_with_reuseport else '' }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_ssl_port }} quic{{ ' reuseport' if nginx_with_reuseport else '' }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% endif -%}
{% if not ssl_only -%}
listen {{ actual_http_port }}{{ ' ' ~ http_options if http_options else '' }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_http_port }}{{ ' ' ~ http_options if http_options else '' }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% endif -%}

{# SSL only #}
{% elif ssl -%}
listen {{ actual_ssl_port }} {{ ssl_options }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_ssl_port }} {{ ssl_options }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% if nginx_with_http3 | default(false) -%}
listen {{ actual_ssl_port }} quic{{ ' reuseport' if nginx_with_reuseport else '' }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_ssl_port }} quic{{ ' reuseport' if nginx_with_reuseport else '' }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% endif -%}

{# HTTP only #}
{% else -%}
listen {{ actual_http_port }}{{ ' ' ~ http_options if http_options else '' }}{{ ' default_server' if default_server else '' }};
{% if use_ipv6 -%}
listen [::]:{{ actual_http_port }}{{ ' ' ~ http_options if http_options else '' }}{{ ' default_server' if default_server else '' }};
{% endif -%}
{% endif -%}
{%- endmacro %}
