#
# Mapping for {{ instance.name | default(nginx_mono_service_name) }}
#

{% for m in instance.mappings %}

{% if m.index_php_map is defined %}
map $arg_id $page_id_map {
  {% for re_map in m.index_php_map -%}
  {{ re_map }};
  {% endfor %}
}
{% endif %}

# Mapping for {{ m.server }}
server {
  listen {{ '80' if m.port == 80 else '443 ' + nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
{% if m.port == 80 %}
  listen [::]:80;
{% else %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
{% endif %}
  {% include 'includes/modern_protocols.inc.j2' %}
  server_name {{ m.server }}{{ ' ' + m.server_alias if m.server_alias is defined else '' }};
  access_log off;

  {% if m.port != 80 -%}
  {% if m.letsencrypt is defined and m.letsencrypt -%}
  ssl_certificate {{ m.letsencrypt_cert | default(vhost_letsencrypt_cert) }};
  ssl_certificate_key {{ m.letsencrypt_key | default(vhost_letsencrypt_key) }};
  {% else -%}
  ssl_certificate /etc/ssl/certs/{{ m.ssl_cert | default(vhost_ssl_cert) }}.crt;
  ssl_certificate_key /etc/ssl/private/{{ m.ssl_cert | default(vhost_ssl_cert) }}.key;
  ssl_trusted_certificate /etc/ssl/certs/{{ m.ssl_cert | default(vhost_ssl_cert) }}_trusted.crt;
  {% endif -%}
  {% endif -%}

  {% if m.redirect_other_to is defined and m.location is defined -%}
  # redirects, if mapping location is not /
  location / {
    return 301 {{ m.redirect_other_to }};
  }
  {% endif -%}

  {% if m.rewrite_lines is defined -%}
  {% for rewrite_line in m.rewrite_lines -%}
    rewrite {{ rewrite_line }};
  {% endfor -%}
  {% endif -%}

  {% if m.relative_redirects is defined -%}
  {% for re in m.relative_redirects -%}
  location = {{ re.old }} { return 301 {{ re.new }}; }
  {% endfor %}
  {% endif %}

  {% if m.rewrites is defined -%}
  {% for re in m.rewrites -%}
  location {{ re.location }} {
    rewrite {{ re.rewrite }} permanent;
  }
  {% endfor %}
  {% endif %}

  {% if m.index_php_map is defined %}
  # see https://kzar.co.uk/blog/2010/04/07/clean-nginx-param-rewrite/
  if ($page_id_map) {
    set $args "";
    rewrite ^/index.php $page_id_map permanent;
  }
  {% endif %}

  {% if m.locations is defined %}
  {% for loc in m.locations %}

  location {{ loc.location }} {
    proxy_http_version 1.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    {% if m.port == 443 -%}
    proxy_set_header X-Forwarded-Proto https;
    {% endif %}
    proxy_pass {{ loc.proxy_pass }};

    {% if m.vhost_dnt_private_ip is defined and m.vhost_dnt_private_ip -%}

    set $dnt_header $http_dnt;
    if ($private_network) {
      set $dnt_header "";
    }
    proxy_set_header DNT $dnt_header;
    {% endif %}
  }

  {% endfor %}
  {% else -%}

  location {{ m.location | default('/') }} {
    proxy_http_version 1.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    {% if m.port == 443 -%}
    proxy_set_header X-Forwarded-Proto https;
    {% endif %}
    {% if m.proxy_pass_extra_headers is defined -%}
    {% for extra_header in m.proxy_pass_extra_headers -%}
    proxy_set_header {{ extra_header }};
    {% endfor %}
    {% endif %}

    {% if m.vhost_dnt_private_ip is defined and m.vhost_dnt_private_ip -%}

    set $dnt_header $http_dnt;
    if ($private_network) {
      set $dnt_header "";
    }
    proxy_set_header DNT $dnt_header;
    {% endif %}

    {% if m.actions is defined -%}
    {% for action in m.actions -%}
    {{ action }};
    {% endfor -%}

    {% endif -%}

    proxy_pass {{ m.proxy_pass }};
  }
  {% endif %}
}

# Mapping for opposite port
server {
  listen {{ '443 ' + nginx_ssl_listen_option if m.port == 80 else '80' }};
{% if nginx_with_ipv6 %}
{% if m.port == 80 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% else %}
  listen [::]:80;
{% endif %}
{% endif %}
  {% include 'includes/modern_protocols.inc.j2' %}
  server_name {{ m.server }};

  {% if m.port == 80 -%}
  {% if m.letsencrypt is defined and m.letsencrypt -%}
  ssl_certificate {{ m.letsencrypt_cert | default(vhost_letsencrypt_cert) }};
  ssl_certificate_key {{ m.letsencrypt_key | default(vhost_letsencrypt_key) }};
  {% else -%}
  ssl_certificate /etc/ssl/certs/{{ m.ssl_cert | default(vhost_ssl_cert) }}.crt;
  ssl_certificate_key /etc/ssl/private/{{ m.ssl_cert | default(vhost_ssl_cert) }}.key;
  {% endif -%}
  {% endif -%}

  return 301 {{ 'http' if m.port == 80 else 'https' }}://{{ m.server }}$request_uri;
}

{% if m.redirects is defined -%}
# Specified mapping redirects always are redirected for both ports
server {
  listen 80;
  listen 443 {{ nginx_ssl_listen_option }};
  {% include 'includes/modern_protocols.inc.j2' %}
  server_name {{ m.redirects | join(' ') }};

  {% if m.letsencrypt is defined and m.letsencrypt -%}
  ssl_certificate {{ m.letsencrypt_cert | default(vhost_letsencrypt_cert) }};
  ssl_certificate_key {{ m.letsencrypt_key | default(vhost_letsencrypt_key) }};
  {% else -%}
  ssl_certificate /etc/ssl/certs/{{ m.ssl_cert | default(vhost_ssl_cert) }}.crt;
  ssl_certificate_key /etc/ssl/private/{{ m.ssl_cert | default(vhost_ssl_cert) }}.key;
  {% endif %}

  return 301 $scheme://{{ m.server }}$request_uri;
}
{% endif %}

{% endfor %}
