{{ managed_by_ansible | comment }}
# nginx {{ nginx_mono_service_name }} vhost configuration

{% include 'includes/upstream.inc.j2' %}
server {
{# Clean listen configuration using pre-calculated variables #}
{% set default_server_flag = ' default_server' if nginx_listen_config.default_server else '' -%}
{% set reuseport_flag = ' reuseport' if nginx_listen_config.use_reuseport else '' -%}

{# SSL Configuration (443) #}
{% if nginx_listen_config.use_ssl %}
{# SSL listen directives #}
  listen 443 {{ nginx_ssl_listen_option }}{{ default_server_flag }}{{ reuseport_flag }};
{% if nginx_listen_config.use_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }}{{ default_server_flag }}{{ reuseport_flag }};
{% endif %}
{# HTTP/3 QUIC support - reuseport only for primary service #}
{% if nginx_listen_config.use_http3 %}
{%- set quic_reuseport = ' reuseport' if nginx_listen_config.use_reuseport else '' %}
  listen 443 quic{{ default_server_flag }}{{ quic_reuseport }};
{% if nginx_listen_config.use_ipv6 %}
  listen [::]:443 quic{{ default_server_flag }}{{ quic_reuseport }};
{% endif %}
{% endif %}
{% endif %}

{# HTTP Configuration (80) - only if not SSL-only #}
{% if nginx_listen_config.use_http and not nginx_listen_config.ssl_only %}
  listen 80{{ default_server_flag }}{{ reuseport_flag }};
{% if nginx_listen_config.use_ipv6 %}
  listen [::]:80{{ default_server_flag }}{{ reuseport_flag }};
{% endif %}
{% endif %}
{% include 'includes/modern_protocols.inc.j2' %}
{% if instance.server_name is defined %}
  server_name {{ instance.server_name }}{{ ' ' + instance.server_alias if instance.server_alias is defined else '' }};
{% endif %}
{% if not nginx_vhost_with_access_log %}
  access_log off;
{% elif instance.access_log is defined %}
  access_log {{ instance.access_log }};
{% endif %}
{% if instance.root is defined %}
  root {{ instance.root }};
{% endif %}
{% if instance.index is defined %}
  index {{ instance.index }};
{% endif %}

{% if nginx_with_protection %}
{% include 'includes/protection.inc.j2' %}
{% endif %}
{% if instance.vhost_dnt_private_ip is defined and instance.vhost_dnt_private_ip %}
  set $dnt_header $http_dnt;
  if ($private_network) {
    set $dnt_header "";
  }
  more_clear_input_headers DNT $dnt_header;

{% endif %}
{% if nginx_with_ssl %}
{% include 'includes/ssl.inc.j2' %}
{% endif %}
{% if instance.additional_headers is defined %}
{% for header in instance.additional_headers %}
  {{ ('add_header ' ~ header) | ensure_semicolon }}
{% endfor %}

{% endif %}
{% if nginx_fastcgi_microcache_zone != '' and instance.microcache_zone is defined %}
  # microcache settings for zone {{ nginx_fastcgi_microcache_zone }}
  fastcgi_cache {{ nginx_fastcgi_microcache_zone }};
  fastcgi_cache_key $scheme$host$request_uri$request_method;
  fastcgi_cache_valid 200 301 302 {{ nginx_fastcgi_microcache_valid }};
  fastcgi_cache_use_stale updating error timeout invalid_header http_500;
  fastcgi_pass_header Set-Cookie;
  fastcgi_pass_header Cookie;
  fastcgi_ignore_headers Cache-Control Expires Set-Cookie;

{% endif %}
{% if instance.fastcgi_params is defined %}
{% for fastcgi_param in instance.fastcgi_params %}
  {{ ('fastcgi_param ' ~ fastcgi_param) | ensure_semicolon }}
{% endfor %}

{% endif %}
{% if instance.fastcgi_buffers is defined %}
  fastcgi_buffer_size {{ instance.fastcgi_buffer_size | default('4k') }};
  fastcgi_busy_buffers_size {{ instance.fastcgi_busy_buffers_size | default('8k') }};
  fastcgi_buffers {{ instance.fastcgi_buffers }};
  fastcgi_max_temp_file_size 0;

{% endif %}
{% if instance.with_fpm is defined %}
{% include 'includes/fpm_location.inc.j2' %}

{% endif %}
{% if instance.vhost_includes is defined %}
{% for vhost_include in instance.vhost_includes %}
  include {{ vhost_include }}.conf;
{% endfor %}

{% endif %}
{% if instance.vhost_redirect_to is defined %}
  return 301 {{ instance.vhost_redirect_to }}$request_uri;

{% endif %}
{% if instance.vhost_redirect_to_static is defined %}
  return 301 {{ instance.vhost_redirect_to_static }};

{% endif %}
{% include 'includes/location.inc.j2' %}
{% include 'includes/proxy.inc.j2' %}
{% include 'includes/rewrite_lines.inc.j2' %}
{% include 'includes/error_handler.inc.j2' %}
{% if instance.vhost_users is defined and instance.vhost_users | length > 0 %}
  # access protection
  auth_basic "Restricted access only";
  auth_basic_user_file /etc/nginx/.htpasswd_{{ nginx_mono_service_name }};

{% endif %}
}

{% if nginx_with_ssl and instance.server_port is defined %}
{% include 'includes/port_redirect.inc.j2' %}
{% endif %}
{% if instance.mappings is defined %}
{% include 'mappings.inc.j2' with context %}
{% endif %}
{% if instance.redirects is defined and instance.redirects | length > 0 %}
{% include 'includes/redirects.inc.j2' %}
{% endif %}
{% if instance.external_redirects is defined and instance.external_redirects | length > 0 %}
{% include 'includes/external_redirects.inc.j2' %}
{% endif %}
{% if instance.vhost_for_zabbix is defined and instance.vhost_for_zabbix %}
{% include 'includes/monitoring.inc.j2' %}
{% endif %}
