---
# install documentation
# https://docs.gitlab.com/ee/install/installation.html

gitlab_update: true

gitlab_user: git
gitlab_group: '{{ gitlab_user }}'
gitlab_home: /home/{{ gitlab_user }}

gitlab_root_email: your@email.com
gitlab_root_password: init_password_you_should_change

gitlab_with_zsh: true

gitlab_omniauth_enabled: false
gitlab_omniauth_providers: []

gitlab_repository_version: '18-2-stable'
gitlab_ce_version: '{{ gitlab_repository_version }}'
gitlab_ee_version: '{{ gitlab_repository_version }}-ee'
gitlab_path: "{{ gitlab_home }}/gitlab"

gitlab_type: ce
gitlab_ce_repository: https://gitlab.com/gitlab-org/gitlab-foss.git
gitlab_ee_repository: https://gitlab.com/gitlab-org/gitlab.git

gitlab_socket_path: '{{ gitlab_path }}/tmp/sockets'
gitlab_pid_path: '{{ gitlab_path }}/tmp/pids'

gitlab_auth_socket: '{{ gitlab_socket_path }}/gitlab.socket'
gitlab_repositories_path: "{{ gitlab_home }}/repositories"

gitlab_workhorse_path: "{{ gitlab_home }}/gitlab-workhorse"
gitlab_workhorse_socket: '{{ gitlab_socket_path }}/gitlab-workhorse.socket'

gitlab_sidekiq_pidfile: '{{ gitlab_pid_path }}/sidekiq.pid'
# PID file is not used with systemd
gitlab_sidekiq_logfile: '{{ gitlab_path }}/log/sidekiq.log'
gitlab_sidekiq_threads: 5
gitlab_sidekiq_log_format: json

gitlab_redis_url: 'unix:/run/redis/redis.sock'
gitlab_authbackend_port: 8080

gitlab_rails_rack_timeout: 600

gitlab_git_prefix: /usr/local
gitlab_git_bin: '{{ gitlab_git_prefix }}/bin/git'
gitlab_rails_env: production

gitlab_node_env: production
# see https://stackoverflow.com/questions/48387040/how-do-i-determine-the-correct-max-old-space-size-for-node-js/48392705#48392705
# official doc: https://nodejs.org/api/cli.html#cli_max_old_space_size_size_in_megabytes
gitlab_node_options: '--max-old-space-size=6144'
gitlab_node_prefix: "{{ npm_config_prefix | default('/usr/local/lib/npm') }}"

gitlab_nodejs_version: '20.x'
gitlab_nodejs_install_npm_user: git
gitlab_nodejs_npm_global_packages:
  - name: yarn

gitlab_log_level: warn

gitlab_puma_worker_timeout: "{{ puma_worker_timeout | default(60) }}"
gitlab_puma_worker_processes: "{{ puma_worker_processes | default(3) }}"
gitlab_puma_min_threads: "{{ puma_min_threads | default(1) }}"
gitlab_puma_max_threads: "{{ puma_max_threads | default(16) }}"

gitlab_rvm_ruby: true
gitlab_rvm_ruby_apt: false
gitlab_rvm_ruby_apt_url: https://ppa.launchpadcontent.net/rael-gc/rvm/ubuntu
gitlab_rvm_ruby_apt_suites: '{{ ansible_distribution_release | lower }}'
gitlab_rvm_ruby_apt_components: main
gitlab_rvm_ruby_apt_key_url: https://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x8094BB14F4E3FBBE

gitlab_rvm_ruby_path: '{{ gitlab_home }}/.rvm/wrappers/default'
# This Version is fixed in .ruby_version
# gitaly ruby should be rerun (on version change, manually is required - see gitlab_gitaly.yml)
# ruby 3.2 or newer uses openssl 3, which comes with ubuntu 22.04
gitlab_ruby_version: 3.3.8

gitlab_mail_room_enabled: true

gitlab_gitaly_enabled: true
gitlab_gitaly_repository: https://gitlab.com/gitlab-org/gitaly.git
gitlab_gitaly_path: '{{ gitlab_home }}/gitaly'
gitlab_gitaly_bin_path: '{{ gitlab_gitaly_path }}/_build/bin'
gitlab_gitaly_force_rebuild: false
# # One of, in order: debug, info, warn, errror, fatal, panic
# # Defaults to "info"
gitlab_gitaly_logging_level: warn

# used by gitaly and gitlab shell
gitlab_http_unix_url: "http+unix://{{ gitlab_workhorse_socket | urlencode | replace('/', '%2F') }}"

gitlab_shell_repository: https://gitlab.com/gitlab-org/gitlab-shell.git
gitlab_shell_path: '{{ gitlab_home }}/gitlab-shell'

# is required, if gitlab_shell_gitlab_url is used with https instead of socket
gitlab_shell_ca_file: ''
# default is INFO
gitlab_shell_log_level: WARN

gitlab_vhost_server: '{{ hostname | default(ansible_host) }}'
gitlab_vhost_aliases: ''
gitlab_vhost_port: 443
gitlab_vhost_ssl: true
gitlab_vhost_for_zabbix: false

gitlab_vhost_letsencrypt: false
gitlab_vhost_ssl_cert: '{{ ssl_certs[0].name }}'
gitlab_vhost_letsencrypt_cert: /etc/letsencrypt/live/{{ letsencrypt_default_cert | default(ansible_host) }}/fullchain.pem
gitlab_vhost_letsencrypt_key: /etc/letsencrypt/live/{{ letsencrypt_default_cert | default(ansible_host) }}/privkey.pem
gitlab_vhost_letsencrypt_trusted_cert: /etc/letsencrypt/live/{{ letsencrypt_default_cert | default(ansible_host) }}/chain.pem

gitlab_email_display_name: Gitlab
gitlab_email_from: '{{ gitlab_user }}@{{ gitlab_vhost_server }}'
gitlab_email_reply_to: 'noreply@{{ gitlab_vhost_server }}'
gitlab_default_theme: 2

gitlab_default_projects_features:
  builds: true
  container_registry: false
  issues: false
  merge_requests: true
  snippets: false
  wiki: false

gitlab_trusted_proxies: []

gitlab_redmine_url: 'https://pm.alphanodes.com'

google_analytics_id: ''
gitlab_matomo_url: ''
gitlab_matomo_site_id: '0'

gitlab_mattermost_enabled: false
gitlab_mattermost_host: 'https://mattermost.example.com'

# https://dev.gnupg.org/T5561
# https://gitlab.com/gitlab-org/gitlab-development-kit/-/blob/main/doc/troubleshooting/ruby.md
# problems with gpgme:
# gem install gpgme -- --use-system-libraries
gitlab_packages:
  - build-essential
  - checkinstall
  - cmake
  - curl
  - gettext
  - graphicsmagick
  - libcurl4-openssl-dev
  - libexpat1-dev
  - libffi-dev
  - libgdbm-dev
  - libgpgme-dev
  - libicu-dev
  - libimage-exiftool-perl
  - libkrb5-dev
  - libncurses-dev
  - libpcre2-dev
  - libpq-dev
  - libre2-dev
  - libreadline-dev
  - libsqlite3-dev
  - libssl-dev
  - libxml2-dev
  - libxslt-dev
  - libyaml-dev
  - libz-dev
  - logrotate
  - pkgconf
  - python3-docutils
  - zlib1g-dev

# see https://docs.gitlab.com/ee/install/installation.html#3-go
# NOTE: version should be tests in gitlab pipeline
# SEE https://gitlab.com/gitlab-org/gitlab/-/blob/master/.gitlab/ci/workhorse.gitlab-ci.yml#L30
# https://go.dev/dl/ -> linux-amd64.tar.gz
gitlab_go_version: '1.24.6'
gitlab_go_sha256_checksum: bbca37cc395c974ffa4893ee35819ad23ebb27426df87af92e93a9ec66ef8712

gitlab_nginx_auth_realm: 'Code access is restricted'
gitlab_nginx_client_max_body_size: '0'

gitlab_db_name: gitlabhq_production
gitlab_db_user: git
gitlab_db_password: '{{ [ansible_machine_id, ansible_hostname, "gitlab_ci"] | join | hash("md5") }}'
gitlab_db_role_flags: CREATEDB
gitlab_db_host: /run/postgresql

# do uninstall gitlab with all data, set it to yes
gitlab_remove: false
gitlab_remove_packages: false

gitlab_ldap_enabled: false
gitlab_ldap_prevent_ldap_sign_in: false
gitlab_ldap_server:
  label: 'LDAP'

gitlab_artifacts_enabled: true
gitlab_artifacts_storage_path: shared/artifacts
gitlab_artifacts_object_store: false
gitlab_artifacts_object_store_bucket: gl-artifacts

gitlab_external_diffs_enabled: false
gitlab_external_diffs_object_store: false
gitlab_external_diffs_object_store_bucket: gl-diffs

gitlab_lfs_enabled: true
gitlab_lfs_storage_path: shared/lfs-objects
gitlab_lfs_object_store: false
gitlab_lfs_object_store_bucket: gl-lfs

gitlab_uploads_storage_path: public/
gitlab_uploads_object_store: false
gitlab_uploads_object_store_bucket: gl-uploads

gitlab_packages_enabled: false
gitlab_packages_storage_path: shared/packages
gitlab_packages_object_store: false
gitlab_packages_object_store_bucket: gl-packages

gitlab_ci_secure_files_enabled: true
gitlab_ci_secure_files_storage_path: shared/ci_secure_files
gitlab_ci_secure_files_object_store: false
gitlab_ci_secure_files_object_store_bucket: gl-ci-secure-files

gitlab_dependency_proxy_enabled: true
gitlab_dependency_proxy_object_store: false
gitlab_dependency_proxy_object_store_bucket: gl-proxy

gitlab_terraform_state_enabled: false
gitlab_terraform_state_object_store: false
gitlab_terraform_state_object_store_bucket: gl-terraform

gitlab_pages_enabled: false
gitlab_pages_storage_path: shared/pages
gitlab_pages_local_storage: true
gitlab_pages_repository: https://gitlab.com/gitlab-org/gitlab-pages.git
gitlab_pages_path: "{{ gitlab_home }}/gitlab-pages"
gitlab_pages_secret_path: "{{ gitlab_path }}/.gitlab_pages_secret"
gitlab_pages_domain: ''
gitlab_pages_domain_ssl_cert: '{{ ssl_certs[1].name | default(ssl_certs[0].name) }}'
# this is the internal port, not the nginx port!
gitlab_pages_port: 8090
gitlab_pages_port_public: 443
gitlab_pages_ssl: true
gitlab_pages_log_verbose: false
gitlab_pages_access_control: false

# see # see https://docs.gitlab.com/ee/administration/pages/source.html#access-control
gitlab_pages_auth_client_id: ''
# gitlab_pages_auth_client_secret: <OAuth code generated by GitLab>
# gitlab_pages_auth_redirect_uri: 'http://projects.example.io/auth'
# gitlab_pages_auth_secret: <40 random hex characters>
# gitlab_pages_auth_server: <URL of the GitLab instance>

gitlab_pages_artifacts_server: true
gitlab_pages_object_store: false
gitlab_pages_object_store_bucket: gl-pages

# globally enable object_store
# ? https://docs.gitlab.com/ee/administration/object_storage.html#consolidated-object-storage-configuration
gitlab_object_store_consolidated: true

gitlab_object_store_connection:
  provider: AWS

# Passthrough all downloads via GitLab instead of using Redirects to Object Storage.
# ? https://docs.gitlab.com/ee/administration/object_storage.html#proxy-download
gitlab_object_store_proxy_download: true

gitlab_initializers_rack_attack: false

gitlab_systemd_start_limit_burst: 5

gitlab_systemd_start_limit_interval_sec_mailroom: 100s
gitlab_systemd_start_limit_interval_sec_puma: 600
gitlab_systemd_start_limit_interval_sec_sidekiq: 11min
gitlab_systemd_restart_sec: 60

gitlab_stop_puma_for_update: true

# Relative paths are relative to Rails.root (default: tmp/backups/)
gitlab_backup_path: '{{ srv_path }}/backups/gitlab'
gitlab_backup_path_mode: '0750'
# every day at 2:30 (see systemd timer)
gitlab_backup_on_calendar: '02:30'
# Permissions for the resulting backup.tar file (default: 0600)
gitlab_backup_archive_permissions: '0640'
# default: 0 (forever) (in seconds) - 7 days
gitlab_backup_keep_time: 604800
# default: nil, it means that all schemas will be backed up
gitlab_backup_pg_schema: public

# skip these runs for backup
# see https://docs.gitlab.com/ee/administration/backup_restore/backup_gitlab.html?tab=Self-compiled
gitlab_backup_skip: 'remote'

gitlab_monitoring_ip_whitelist:
  - 127.0.0.0/8
  - '{{ ip_address_v4 }}'

# NOTE: do not enable it, /jwt/auth is not implemented
gitlab_with_registry: false

# gitlab_registry_vhost: "registry.example.com"
gitlab_registry_vhost: "{{ gitlab_vhost_server }}"
# use 443, if registry_host is not same as gitlab
gitlab_registry_vhost_port: 5005

gitlab_registry_version: "2.8.3"
gitlab_registry_download_url: "https://github.com/distribution/distribution/releases/download/v{{ gitlab_registry_version }}/registry_{{ gitlab_registry_version }}_linux_amd64.tar.gz"

# see https://docs.gitlab.com/administration/packages/container_registry#self-compiled-installations
gitlab_registry_config_dir: /etc/gitlab-registry
gitlab_registry_config_file: "config.yml"
gitlab_registry_binary_path: "/usr/local/bin/registry"
gitlab_registry_realm: "https://{{ gitlab_registry_vhost }}/jwt/auth"
gitlab_registry_cert_bundle: "/etc/gitlab-ssl/registry-auth.crt"
gitlab_registry_secret: "REPLACE_WITH_LONG_RANDOM_STRING"
gitlab_registry_internal_port: 5000
gitlab_registry_token_issuer: gitlab-issuer

gitlab_registry_s3_access_key: "CHANGEME"
gitlab_registry_s3_secret_key: "CHANGEME"
gitlab_registry_s3_bucket: "gitlab-registry"
gitlab_registry_s3_endpoint: "https://s3.example.com"
gitlab_registry_s3_region: us-east-1
