---

# we do not use ansible_managed, because it internal variables are not overwritable
# with ansible < 2.19
managed_by_ansible: "{{ ansible_managed | default('This file is managed by Ansible') }}"
ansible_pip_venv: ansible
python_venv_parent: "{{ ansible_facts['env']['HOME'] }}/.venvs"

# see https://docs.ansible.com/ansible/latest/collections/ansible/posix/sysctl_module.html#parameter-sysctl_file
common_sysctl_file: /etc/sysctl.d/90-ansible.conf

# root path of all installations
srv_path: /srv

# Directory, which is used for downloading software packages
software_path: '{{ srv_path }}/software'
# software_path_owner:
# software_path_group: "{{ software_path_owner | omit }}"
# software_path_mode:

nginx_user: www-data
nginx_group: www-data

# Global nginx SSL configuration
# Set to false to disable SSL globally for all services
# Per-service roles will auto-detect SSL based on their configuration if not explicitly set
nginx_with_ssl: true

# set no_log (e.g. for passwords used)
hide_sensitive_data: true

common_packages:
  - curl
  - python3-debian

# MySQL backend selection: mysql (Oracle MySQL) or mariadb (Debian/Ubuntu native)
# Used by ansible_node playbook templates and ansible.tasks roles
mysql_backend: mysql

# @see https://ssl-config.mozilla.org
# dhparams is only needed for TLSv1.2, not for TLSv1.3 only
nginx_ssl_protocols: 'TLSv1.2 TLSv1.3'

nginx_ssl_listen_option: "ssl{{ ' http2' if ansible_facts.distribution != 'Debian' or ansible_facts.distribution_major_version != '13' else '' }}"

# enable/disable zabbix monitoring
zabbix_monitoring: false
zabbix_agent_home: /var/lib/zabbix

# PostgreSQL extensions - used by multiple roles (redmine, drupal, zabbix_server)
postgresql_with_pg_buffercache: true
postgresql_with_pg_stat_statements: true
