---
# defaults file for postgresql client

# if yes, postgresql.org packages are used, else distribution packages
postgresql_client_use_repo: true

# which version should be used?
# if postresql role (server) is available, this version is used
# possible values: 10, 11, 12, 13, 14 or 15
postgresql_client_version: "{{ postgresql_version | default('14') }}"
postgresql_client_packages:
 - postgresql-client-{{ postgresql_version | default(postgresql_client_version) }}
 - python3-psycopg2

postgresql_apt_url_protocol: https
postgresql_apt_url: '{{ postgresql_apt_url_protocol }}://apt.postgresql.org/pub/repos/apt/'
postgresql_apt_signed_by: https://www.postgresql.org/media/keys/ACCC4CF8.asc
postgresql_apt_suites: '{{ ansible_distribution_release }}-pgdg'
postgresql_apt_components: main
