{{ ansible_managed | comment }}
# nginx jekyll configuration

server {
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
  server_name {{ instance.server_name }}{{ ' ' + instance.server_alias if instance.server_alias is defined else '' }};
  root {{ jekyll_dir }}/{{ jekyll_site_prod }};
  index index.html index.html;

  {% if nginx_with_ssl %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}
  {% endif %}

  {% if nginx_with_protection %}
  {% include 'templates/nginx/protection.inc.j2' with context %}
  {% endif %}

  ## Protection against illegal HTTP methods. Out of the box only HEAD,
  ## GET and POST are allowed.
  if ($not_allowed_method) {
    return 405;
  }

  {% if instance.vhost_includes is defined -%}
  {% for include in instance.vhost_includes -%}
  include {{ include }}.conf;
  {% endfor %}
  {% else %}
  {% for include in jekyll_vhost_includes -%}
  include {{ include }}.conf;
  {% endfor %}
  {% endif %}

  {% include 'templates/nginx/location.inc.j2' with context %}

  {% include 'templates/nginx/rewrite_lines.inc.j2' with context %}

  {% include 'templates/nginx/error_handler.inc.j2' with context %}

  {% if instance.vhost_users is defined -%}
  # access protection
  auth_basic "Restricted access only";
  auth_basic_user_file /etc/nginx/.htpasswd_jekyll_{{ instance.name }};
  {% endif %}

  location ^~ /assets/ {
      log_not_found off;
      add_header Cache-Control "public";
      expires max;

      gzip_static on;
      gzip_vary on;
  }

  location / {
    try_files $uri $uri.html $uri/ =404;
  }
}

server {
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}
  server_name {{ instance.server_name }};
  return 301 https://{{ instance.server_name }}$request_uri;
}

{% if instance.redirects is defined -%}
{% include 'templates/nginx/redirects.inc.j2' with context %}
{% endif %}

{% if instance.external_redirects is defined -%}
{% include 'templates/nginx/external_redirects.inc.j2' with context %}
{% endif %}

{% if instance.vhost_for_zabbix is defined and instance.vhost_for_zabbix -%}
{% include 'templates/nginx/monitoring.inc.j2' with context %}
{% endif -%}
