---

- name: Be sure postfix is installed
  ansible.builtin.apt:
    name: '{{ postfix_packages }}'
    state: present

- name: Start the postfix service
  ansible.builtin.systemd:
    name: postfix
    state: started
    enabled: true

- name: Add postfix user to ssl-cert group
  ansible.builtin.user:
    name: postfix
    groups: ssl-cert
    append: true

- name: Set relayhost with mxlookup
  ansible.builtin.set_fact:
    real_postfix_relayhost: "{{ postfix_relayhost }}"
  when: postfix_relayhost_mxlookup

- name: Set relayhost without mxlookup
  ansible.builtin.set_fact:
    real_postfix_relayhost: "[{{ postfix_relayhost }}]"
  when: not postfix_relayhost_mxlookup

- name: Set relayhost port
  ansible.builtin.set_fact:
    real_postfix_relayhost: "{{ real_postfix_relayhost }}:{{ postfix_relayhost_port }}"
  when: postfix_relayhost_port is defined

- name: Install header cleanup configuration
  ansible.builtin.copy:
    src: submission_header_cleanup
    dest: /etc/postfix/submission_header_cleanup
    mode: 0644
  when: postfix_header_cleanup

- name: Configure main.cf
  ansible.builtin.template:
    src: postfix/main.cf.j2
    dest: '{{ postfix_main_cf }}'
    mode: 0644
  notify:
    - Restart postfix
    - Build new aliases

- name: Configure master.cf
  ansible.builtin.template:
    src: postfix/master.cf.j2
    dest: /etc/postfix/master.cf
    mode: 0644
  notify:
    - Restart postfix

- name: Update mailname
  ansible.builtin.template:
    src: mailname.j2
    dest: '{{ postfix_mailname_file }}'
    mode: 0644
  notify: Restart postfix

- name: Update aliases
  ansible.builtin.template:
    src: aliases.j2
    dest: '{{ postfix_aliases_file }}'
    mode: 0644
  notify: Build new aliases

- name: Install canonical-redirect configuration
  ansible.builtin.template:
    src: postfix/canonical-redirect.j2
    dest: /etc/postfix/canonical-redirect
    mode: 0644
  when: postfix_redirect_all_mails_to is defined
  register: canonical_redirect

- name: Build canonical-redirect map
  ansible.builtin.command: postmap /etc/postfix/canonical-redirect
  when:
    - postfix_redirect_all_mails_to is defined
    - canonical_redirect.changed
  notify: Restart postfix

- name: Remove canonical-redirect map (if unused)
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
    - /etc/postfix/canonical-redirect
    - /etc/postfix/canonical-redirect.db
  when: postfix_redirect_all_mails_to is undefined
  notify: Restart postfix

- name: Install sender-canonicals
  ansible.builtin.template:
    src: postfix/sender-canonical.j2
    dest: /etc/postfix/sender-canonical
    mode: 0644
  when: postfix_sender_canonicals | length > 0
  register: sender_canonical

- name: Build sender-canonicals map
  ansible.builtin.command: postmap /etc/postfix/sender-canonical
  when:
    - postfix_sender_canonicals | length > 0
    - sender_canonical.changed
  notify: Restart postfix

- name: Remove sender-canonicals map (if unused)
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
    - /etc/postfix/sender-canonical
    - /etc/postfix/sender-canonical.db
  when: postfix_sender_canonicals | length == 0
  notify: Restart postfix
