## GitLab configuration settings

## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template

external_url '{{ gitlab_external_url }}'

### Email Settings
gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'
gitlab_rails['gitlab_email_display_name'] = '{{ gitlab_email_display_name }}'
gitlab_rails['gitlab_email_reply_to'] = '{{ gitlab_email_reply_to }}'

## Gitlab settings
gitlab_rails['gitlab_default_theme'] = {{ gitlab_default_theme }}
gitlab_rails['gitlab_default_color_mode'] = {{ gitlab_default_color_mode }}
gitlab_rails['env'] = {{ gitlab_env }}

### Default project feature settings
gitlab_rails['gitlab_default_projects_features_issues'] = {{ gitlab_default_projects_features.issues | lower | default(false) }}
gitlab_rails['gitlab_default_projects_features_merge_requests'] = {{ gitlab_default_projects_features.merge_requests | lower | default(false) }}
gitlab_rails['gitlab_default_projects_features_wiki'] = {{ gitlab_default_projects_features.wiki | lower | default(false) }}
gitlab_rails['gitlab_default_projects_features_snippets'] = {{ gitlab_default_projects_features.snippets | lower | default(false) }}
gitlab_rails['gitlab_default_projects_features_builds'] = {{ gitlab_default_projects_features.builds | lower | default(false) }}
gitlab_rails['gitlab_default_projects_features_container_registry'] = {{ gitlab_default_projects_features.container_registry | lower | default(false) }}

{% if activ_object_store_consolidated %}
gitlab_rails['object_store']['enabled'] = true
gitlab_rails['object_store']['connection'] = {{ gitlab_object_store_connection | to_json }}
gitlab_rails['object_store']['storage_options'] = {}
gitlab_rails['object_store']['proxy_download'] = {{ gitlab_object_store_proxy_download | to_json }}
gitlab_rails['object_store']['objects']['artifacts']['enabled'] = {{ gitlab_artifacts_object_store | to_json }}
gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ gitlab_artifacts_object_store_bucket }}'
gitlab_rails['object_store']['objects']['external_diffs']['enabled'] = {{ gitlab_external_diffs_object_store | to_json }}
gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ gitlab_external_diffs_object_store_bucket }}'
gitlab_rails['object_store']['objects']['lfs']['enabled'] = {{ gitlab_lfs_object_store | to_json }}
gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ gitlab_lfs_object_store_bucket }}'
gitlab_rails['object_store']['objects']['uploads']['enabled'] = {{ gitlab_uploads_object_store | to_json }}
gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ gitlab_uploads_object_store_bucket }}'
gitlab_rails['object_store']['objects']['packages']['enabled'] = {{ gitlab_packages_object_store | to_json }}
gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ gitlab_packages_object_store_bucket }}'
gitlab_rails['object_store']['objects']['dependency_proxy']['enabled'] = {{ gitlab_dependency_proxy_object_store | to_json }}
gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ gitlab_dependency_proxy_object_store_bucket }}'
gitlab_rails['object_store']['objects']['terraform_state']['enabled'] = {{ gitlab_terraform_state_object_store | to_json }}
gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ gitlab_terraform_state_object_store_bucket }}'
gitlab_rails['object_store']['objects']['ci_secure_files']['enabled'] = {{ gitlab_ci_secure_files_object_store | to_json }}
gitlab_rails['object_store']['objects']['ci_secure_files']['bucket'] = '{{ gitlab_ci_secure_files_object_store_bucket }}'
gitlab_rails['object_store']['objects']['pages']['enabled'] = {{ gitlab_pages_object_store | to_json }}
gitlab_rails['object_store']['objects']['pages']['bucket'] = '{{ gitlab_pages_object_store_bucket }}'
{% endif %}

### Artifacts
gitlab_rails['artifacts_enabled'] = {{ gitlab_artifacts_enabled | to_json }}
{% if gitlab_artifacts_object_store and not activ_object_store_consolidated %}
gitlab_rails['artifacts_object_store_enabled'] = true
gitlab_rails['artifacts_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['artifacts_object_store_remote_directory'] = "{{ gitlab_artifacts_object_store_bucket }}"
gitlab_rails['artifacts_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### External Diffs
gitlab_rails['external_diffs_enabled'] = {{ gitlab_external_diffs_enabled | lower }}
{% if gitlab_external_diffs_object_store and not activ_object_store_consolidated %}
gitlab_rails['external_diffs_object_store_enabled'] = true
gitlab_rails['external_diffs_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['external_diffs_object_store_remote_directory'] = "{{ gitlab_external_diffs_object_store_bucket }}"
gitlab_rails['external_diffs_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### LFS
gitlab_rails['lfs_enabled'] = {{ gitlab_lfs_enabled | lower }}
{% if gitlab_lfs_object_store and not activ_object_store_consolidated %}
gitlab_rails['lfs_object_store_enabled'] = true
gitlab_rails['lfs_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['lfs_object_store_remote_directory'] = "{{ gitlab_lfs_object_store_bucket }}"
gitlab_rails['lfs_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

{% if gitlab_uploads_object_store and not activ_object_store_consolidated %}
### GitLab uploads
gitlab_rails['uploads_object_store_enabled'] = true
gitlab_rails['uploads_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['uploads_object_store_remote_directory'] = "{{ gitlab_uploads_object_store_bucket }}"
gitlab_rails['uploads_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### Terraform State
gitlab_rails['terraform_state_enabled'] = {{ gitlab_terraform_state_enabled | lower }}
{% if gitlab_terraform_state_object_store and not activ_object_store_consolidated %}
gitlab_rails['terraform_state_object_store_enabled'] = true
gitlab_rails['terraform_state_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['terraform_state_object_store_remote_directory'] = "{{ gitlab_terraform_state_object_store_bucket }}"
gitlab_rails['terraform_state_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### CI Secure Files
gitlab_rails['ci_secure_files_enabled'] = {{ gitlab_ci_secure_files_enabled | lower }}
{% if gitlab_ci_secure_files_object_store and not activ_object_store_consolidated %}
gitlab_rails['ci_secure_files_object_store_enabled'] = true
gitlab_rails['ci_secure_files_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['ci_secure_files_object_store_remote_directory'] = "{{ gitlab_ci_secure_files_object_store_bucket }}"
gitlab_rails['ci_secure_files_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### Packages
gitlab_rails['packages_enabled'] = {{ gitlab_packages_enabled | lower }}
{% if gitlab_packages_object_store and not activ_object_store_consolidated %}
gitlab_rails['packages_object_store_enabled'] = true
gitlab_rails['packages_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['packages_object_store_remote_directory'] = "{{ gitlab_packages_object_store_bucket }}"
gitlab_rails['packages_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### Dependency Proxy
gitlab_rails['dependency_proxy_enabled'] = {{ gitlab_dependency_proxy_enabled | lower }}
{% if gitlab_dependency_proxy_object_store and not activ_object_store_consolidated %}
gitlab_rails['dependency_proxy_object_store_enabled'] = true
gitlab_rails['dependency_proxy_object_store_proxy_download'] = {{ gitlab_object_store_proxy_download | lower }}
gitlab_rails['dependency_proxy_object_store_remote_directory'] = "{{ gitlab_dependency_proxy_object_store_bucket }}"
gitlab_rails['dependency_proxy_object_store_connection'] = {{ gitlab_object_store_connection }}
{% endif %}

### Monitoring settings
gitlab_rails['monitoring_whitelist'] = {{ gitlab_monitoring_ip_whitelist }}

### Backup Settings
gitlab_rails['manage_backup_path'] = {{ gitlab_manage_backup_path | lower }}
gitlab_rails['backup_path'] = "{{ gitlab_backup_path }}"
gitlab_rails['backup_archive_permissions'] = {{ gitlab_backup_archive_permissions }}
gitlab_rails['backup_pg_schema'] = "{{ gitlab_backup_pg_schema }}"
gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}

### LDAP settings
{% if gitlab_ldap_enabled %}
gitlab_rails['ldap_enabled'] = true
gitlab_rails['prevent_ldap_sign_in'] = {{ gitlab_ldap_prevent_ldap_sign_in | lower }}
gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
  {{ gitlab_ldap_servers }}
EOS
{% endif %}

### Registry
registry_nginx['listen_addresses'] = {{ gitlab_registry_nginx_listen_addresses | to_json }}
{% if gitlab_registry_storage is defined %}
registry['storage'] = {{ gitlab_registry_storage }}
{% endif %}

### Pages
gitlab_pages['enable'] = {{ gitlab_pages_enabled | lower }}
{% if gitlab_pages_enabled %}
gitlab_pages['external_http'] = {{ gitlab_pages_external_http }}
{% if gitlab_pages_with_tls %}
gitlab_pages['external_https'] = {{ gitlab_pages_external_https }}
pages_external_url "{{ gitlab_pages_external_url }}"
# pages_nginx['redirect_http_to_https'] = true
# pages_nginx['ssl_certificate'] = "{{ gitlab_pages_nginx_ssl_certificate }}"
# pages_nginx['ssl_certificate_key'] = "{{ gitlab_pages_nginx_ssl_certificate_key }}"
{% endif %}
gitlab_pages['artifacts_server'] = {{ gitlab_pages_artifacts_server | lower }}
gitlab_pages['access_control'] = {{ gitlab_pages_access_control | lower }}
{% if gitlab_pages_access_control %}
gitlab_pages['auth_scope'] = 'read_api'
{% endif %}
{% endif %}

## nginx
nginx['redirect_http_to_https'] = true
nginx['ssl_protocols'] = "{{ gitlab_nginx_ssl_protocols }}"
{% if gitlab_nginx_ssl_certificate is defined %}
nginx['ssl_certificate'] = {{ gitlab_nginx_ssl_certificate }}  # Full-Chain
{% endif %}
{% if gitlab_nginx_ssl_certificate_key is defined %}
nginx['ssl_certificate_key'] = {{ gitlab_nginx_ssl_certificate_key }}
{% endif %}
nginx['listen_addresses'] = {{ gitlab_nginx_listen_addresses | to_json }}
{% if gitlab_letsencrypt_enable is defined %}
letsencrypt['enable'] = gitlab_letsencrypt_enable | lower
{% endif %}
{% if gitlab_letsencrypt_alt_names is defined %}
letsencrypt['alt_names'] = {{ gitlab_letsencrypt_alt_names }}
{% endif %}

## alertmanager
alertmanager['enable'] = {{ gitlab_alertmanager_enable | lower }}
{% if gitlab_alertmanager_enable %}
{% if gitlab_alertmanager_flags is defined %}
alertmanager['flags'] = {{ gitlab_alertmanager_flags }}
{% endif %}
{% endif %}

## PostgreSQL
postgresql['shared_preload_libraries'] = 'pg_stat_statements'
postgresql['max_connections'] = {{ gitlab_postgresql_max_connections }}
postgresql['statement_timeout'] = "{{ gitlab_postgresql_statement_timeout }}"
postgresql['idle_in_transaction_session_timeout'] = "{{ gitlab_postgresql_idle_in_transaction_session_timeout }}"
postgresql['random_page_cost'] = {{ gitlab_postgresql_random_page_cost }}
postgresql['effective_io_concurrency'] = {{ gitlab_postgresql_effective_io_concurrency }}
{% if gitlab_postgresql_effective_cache_size is defined or postgresql_effective_cache_size is defined %}
postgresql['effective_cache_size'] = "{{ gitlab_postgresql_effective_cache_size | default(postgresql_effective_cache_size) }}"
{% endif %}
postgresql['work_mem'] = "{{ gitlab_postgresql_work_mem }}"
postgresql['maintenance_work_mem'] = "{{ gitlab_postgresql_maintenance_work_mem }}"
postgresql['max_files_per_process'] = {{ gitlab_postgresql_max_files_per_process }}
postgresql['log_connections'] = "{{ 'on' if gitlab_postgresql_log_connections else 'off' }}"
postgresql['log_disconnections'] = "{{ 'on' if gitlab_postgresql_log_disconnections else 'off' }}"
{% if gitlab_postgresql_shared_buffers is defined or postgresql_shared_buffers is defined %}
postgresql['shared_buffers'] = "{{ gitlab_postgresql_shared_buffers | default(postgresql_shared_buffers) }}"
{% endif %}
{% if postgres_exporter_enable is defined %}
postgres_exporter['enable'] = {{ postgres_exporter_enable | lower }}
{% endif %}

## Puma
{% if gitlab_puma_worker_timeout is defined or puma_worker_timeout is defined %}
puma['worker_timeout'] = {{ gitlab_puma_worker_timeout | default(puma_worker_timeout) }}
{% endif %}
{% if gitlab_puma_worker_processes is defined or puma_worker_processes is defined %}
puma['worker_processes'] = {{ gitlab_puma_worker_processes | default(puma_worker_processes) }}
{% endif %}
{% if gitlab_puma_min_threads is defined or puma_min_threads is defined %}
puma['min_threads'] = {{ gitlab_puma_min_threads | default(puma_min_threads) }}
{% endif %}
{% if gitlab_puma_max_threads is defined or puma_max_threads is defined %}
puma['max_threads'] = {{ gitlab_puma_max_threads | default(puma_max_threads) }}
{% endif %}

## KAS
gitlab_kas['enable'] = {{ gitlab_kas_enable | lower }}
gitlab_rails['gitlab_kas_enabled'] = {{ gitlab_rails_kas_enabled | lower }}

## Sidekiq
sidekiq['shutdown_timeout'] = {{ gitlab_sidekiq_shutdown_timeout }}
sidekiq['concurrency'] = {{ gitlab_sidekiq_concurrency }}
