---
dependencies:
  - role: alphanodes.setup.fail2ban
  - role: alphanodes.setup.ssh

galaxy_info:
  description: Setup netfilter
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.14'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie
