{{ managed_by_ansible | comment }}
# nginx grafana configuration

server {
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
  server_name {{ grafana_vhost_server }};

  {% include 'templates/nginx/modern_protocols.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}
  {% include 'templates/nginx/security_headers.inc.j2' with context %}

  location / {
{% if grafana_web_password != '' %}
     auth_basic "Restricted access only";
     auth_basic_user_file /etc/nginx/.htpasswd_grafana;

{% endif %}
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://127.0.0.1:{{ grafana_listen_port }}/;
  }

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  {% include 'templates/nginx/error_handler_static.inc.j2' with context %}

  {% if grafana_vhost_includes is defined -%}
  {% for include in grafana_vhost_includes -%}
  include {{ include }}.conf;
  {% endfor %}
  {% endif %}

}

server {
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}
  server_name {{ grafana_vhost_server }};
  return 301 https://{{ grafana_vhost_server }}$request_uri;
}

{% if grafana_redirects is defined -%}
server {
  server_name {{ grafana_redirects | join(' ') }};
  listen 80;
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:80;
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}

  {% include 'templates/nginx/modern_protocols.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}

  return 301 https://{{ grafana_vhost_server }}$request_uri;
}
{% endif %}
{% if grafana_vhost_for_zabbix %}

{% include 'templates/nginx/monitoring.inc.j2' with context %}
{% endif %}
