#!/usr/bin/env python3
import os
import json
import sys

{% raw %}
def main():
    try:
        # Skip virtual/pseudo devices
        skippable = ("sr", "loop", "ram", "dm-")
        devices = [device for device in os.listdir("/sys/class/block")
                   if not any(ignore in device for ignore in skippable)]

        data = [{"{#DEVICENAME}": device} for device in devices]
        print(json.dumps({"data": data}, separators=(',', ':')))

    except OSError as e:
        # Zabbix expects valid JSON even on error
        print('{"data": []}')
        sys.exit(0)

if __name__ == "__main__":
    main()
{% endraw %}
