---
dependencies:
  - role: alphanodes.setup.common
    public: true
  - role: alphanodes.setup.ssl
  - role: alphanodes.setup.postgresql
  - role: alphanodes.setup.nginx

galaxy_info:
  description: Setup hedgedoc
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.14'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - buster
        - bullseye
        - bookworm
        - trixie
