{{ managed_by_ansible | comment }}

ssl = required

ssl_server_cert_file = {{ dovecot_ssl_cert_file }}
ssl_server_key_file = {{ dovecot_ssl_key_file }}
{% if postfix_smtpd_tls_dh1024_param_file is defined %}
ssl_server_dh_file = {{ postfix_smtpd_tls_dh1024_param_file }}
{% endif %}
ssl_client_ca_dir = /etc/ssl/certs

# modern configuration - TLSv1.2 as minimum, TLSv1.3 supported
ssl_min_protocol = TLSv1.2
ssl_server_prefer_ciphers = client
