<?php
{{ ansible_managed | comment }}
# phpMyAdmin configuration

$i = 0;

/* Server localhost (http) [1] */
$i++;
$cfg['Servers'][$i]['extension'] = 'mysqli';
$cfg['Servers'][$i]['verbose'] = '';
$cfg['Servers'][$i]['host'] = '{{ phpmyadmin_db_host }}';
$cfg['Servers'][$i]['auth_type'] = 'http';

{% if phpmyadmin_db_ssl -%}

$cfg['Servers'][$i]['ssl'] = true;
$cfg['Servers'][$i]['ssl_key'] = '{{ phpmyadmin_db_ssl_key }}';
$cfg['Servers'][$i]['ssl_cert'] = '{{ phpmyadmin_db_ssl_cert }}';
$cfg['Servers'][$i]['ssl_ca'] = '{{ phpmyadmin_db_ssl_ca }}';

{% endif -%}

$cfg['Servers'][$i]['pmadb'] = '{{ phpmyadmin_db_name }}';
$cfg['Servers'][$i]['controluser'] = '{{ phpmyadmin_db_user }}';
$cfg['Servers'][$i]['controlpass'] = '{{ phpmyadmin_db_password }}';
$cfg['Servers'][$i]['bookmarktable'] = 'pma__bookmark';
$cfg['Servers'][$i]['relation'] = 'pma__relation';
$cfg['Servers'][$i]['table_info'] = 'pma__table_info';
$cfg['Servers'][$i]['table_coords'] = 'pma__table_coords';
$cfg['Servers'][$i]['favorite'] = 'pma__favorite';
$cfg['Servers'][$i]['pdf_pages'] = 'pma__pdf_pages';
$cfg['Servers'][$i]['column_info'] = 'pma__column_info';
$cfg['Servers'][$i]['history'] = 'pma__history';
$cfg['Servers'][$i]['table_uiprefs'] = 'pma__table_uiprefs';
$cfg['Servers'][$i]['tracking'] = 'pma__tracking';
$cfg['Servers'][$i]['userconfig'] = 'pma__userconfig';
$cfg['Servers'][$i]['recent'] = 'pma__recent';
$cfg['Servers'][$i]['users'] = 'pma__users';
$cfg['Servers'][$i]['usergroups'] = 'pma__usergroups';
$cfg['Servers'][$i]['navigationhiding'] = 'pma__navigationhiding';
$cfg['Servers'][$i]['savedsearches'] = 'pma__savedsearches';
$cfg['Servers'][$i]['central_columns'] = 'pma__central_columns';
$cfg['Servers'][$i]['designer_settings'] = 'pma__designer_settings';
$cfg['Servers'][$i]['export_templates'] = 'pma__export_templates';

$cfg['SuhosinDisableWarning']   = true;
$cfg['blowfish_secret']         = '8a4ef4Ce578b35.65922715';
$cfg['TextareaCols']            = 70;
$cfg['TextareaRows']            = 10;
$cfg['TextareaAutoSelect']      = FALSE;
$cfg['LimitChars']              = 80;
$cfg['ShowPhpInfo']             = TRUE;
$cfg['ShowGitRevision']         = FALSE;
$cfg['MaxTableList']            = 300;
$cfg['MaxNavigationItems']      = 150;
