---

# Load distribution-specific variables
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      paths:
        - vars
      skip: true
  tags:
    - nodejs

- name: Include setup tasks
  ansible.builtin.include_tasks: setup.yml
  tags:
    - nodejs
  when: not nodejs_remove

- name: Include remove tasks
  ansible.builtin.import_tasks: remove.yml
  tags:
    - nodejs
  when: nodejs_remove
