---

- name: Include instance vars
  ansible.builtin.include_tasks: set_instance_vars.yml

# NOTE: nginx vhost symlink management is now handled by nginx_mono

# TODO: should be not restart every ansible run
- name: Start/Restart puma via systemd - {{ redmine_instance_name }}
  ansible.builtin.systemd_service:
    name: puma-{{ redmine_instance_name }}
    state: restarted
  when: redmine_instance.state is undefined or redmine_instance.state == 'active'

- name: Shutdown puma via systemd - {{ redmine_instance_name }}
  ansible.builtin.systemd_service:
    name: puma-{{ redmine_instance_name }}
    state: stopped
    enabled: false
  when:
    - redmine_instance.state is defined
    - redmine_instance.state == 'inactive'
  ignore_errors: true
