---

# see https://www.redmine.org/boards/1/topics/33669?page=2
- name: Disable IMAP ssl verification - {{ redmine_instance_name }}
  ansible.builtin.copy:
    src: config/initializers/bypass_ssl_verification.rb
    dest: '{{ redmine_app_dir }}/config/initializers/bypass_ssl_verification.rb'
    owner: '{{ redmine_user }}'
    group: '{{ redmine_group }}'
    mode: '0644'
  when:
    - redmine_instance.disable_imap_ssl_verify is defined
    - redmine_instance.disable_imap_ssl_verify

- name: Enable IMAP ssl verification - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_app_dir }}/config/initializers/bypass_ssl_verification.rb'
    state: absent
  when: redmine_instance.disable_imap_ssl_verify is undefined or not redmine_instance.disable_imap_ssl_verify

- name: Enable lograte - {{ redmine_instance_name }}
  ansible.builtin.template:
    src: redmine/config/initializers/lograge.rb.j2
    dest: '{{ redmine_app_dir }}/config/initializers/lograge.rb'
    owner: '{{ redmine_user }}'
    group: '{{ redmine_group }}'
    mode: '0640'
    validate: ruby -c %s
  when:
    - redmine_instance.use_logger is defined
    - redmine_instance.use_logger == 'lograge'

- name: Disable lograte - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_app_dir }}/config/initializers/lograte.rb'
    state: absent
  when: redmine_instance.use_logger is undefined or redmine_instance.use_logger != 'lograge'
