---

- name: Ensure postgresql packages are installed
  ansible.builtin.apt:
    name: '{{ redmine_postgresql_packages }}'
    state: present

- name: Create redmine postgresql database users - {{ redmine_instance_name }}
  become_user: postgres
  become: true
  community.postgresql.postgresql_user:
    name: '{{ redmine_db_user }}'
    password: '{{ redmine_instance.db_password | default(redmine_db_password) }}'
    role_attr_flags: "{{ redmine_instance.rb_role_flags | default('NOSUPERUSER,CREATEDB') }}"
    state: present
  no_log: '{{ hide_sensitive_data }}'
  when: redmine_instance.db_skip_user_setup is undefined or not redmine_instance.db_skip_user_setup

- name: Be sure redmine postgresql databases exists - {{ redmine_instance_name }}
  become_user: postgres
  become: true
  community.postgresql.postgresql_db:
    name: '{{ redmine_db_name }}'
    owner: '{{ redmine_db_user }}'
    state: present

- name: Add extention pg_stat_statements to Redmine database
  become_user: postgres
  become: true
  community.postgresql.postgresql_ext:
    name: pg_stat_statements
    login_db: '{{ redmine_db_name }}'
  when: postgresql_with_pg_stat_statements

- name: Add extention pg_buffercache to Redmine database
  become_user: postgres
  become: true
  community.postgresql.postgresql_ext:
    name: pg_buffercache
    login_db: '{{ redmine_db_name }}'
    state: "{{ 'present' if postgresql_with_pg_buffercache else 'absent' }}"

- name: Add pgvector extension to Redmine database - {{ redmine_instance_name }}
  become_user: postgres
  become: true
  community.postgresql.postgresql_ext:
    name: vector
    login_db: '{{ redmine_db_name }}'
  when: redmine_instance.with_pgvector | default(false)

- name: Run postgresql pre commands - {{ redmine_instance_name }}
  community.postgresql.postgresql_query:
    query: '{{ item }}'
    login_user: postgres
    login_db: '{{ redmine_db_name }}'
  loop: '{{ redmine_instance.pre_db_commands | default([]) }}'
