---

- name: Include instance vars
  ansible.builtin.include_tasks: set_instance_vars.yml

- name: Include mysql tasks
  ansible.builtin.include_tasks: instance_mysql.yml
  tags:
    - mysql
  when: >
    redmine_with_mysql
    and (redmine_instance.adapter is undefined or redmine_instance.adapter=='mysql2')
    and (mysql_replication_role is undefined or mysql_replication_role!='slave')

- name: Include postgresql tasks
  ansible.builtin.include_tasks: instance_postgresql.yml
  tags:
    - postgresql
  when: >
    redmine_with_postgresql
    and redmine_instance.adapter is defined
    and redmine_instance.adapter=='postgresql'

- name: Install instance git ignore file - {{ redmine_instance_name }}
  ansible.builtin.copy:
    src: git_ignore.txt
    dest: '{{ redmine_app_dir }}/.git/info/exclude'
    owner: '{{ redmine_user }}'
    group: '{{ redmine_group }}'
    mode: '0644'

- name: Ensure files directory exists - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_files_dir }}'
    owner: '{{ redmine_user }}'
    group: '{{ redmine_group }}'
    mode: '0750'
    state: directory

- name: Include init tasks
  ansible.builtin.include_tasks: instance_init.yml

- name: Include config tasks
  ansible.builtin.include_tasks: instance_config.yml

- name: Include config tasks
  ansible.builtin.include_tasks: instance_mysql2postgres.yml
  when:
    - redmine_instance.with_mysql2postgres is defined
    - redmine_instance.with_mysql2postgres

- name: Include plugin tasks
  ansible.builtin.include_tasks: instance_plugins.yml
  tags:
    - redmine
    - plugin

- name: Include theme tasks
  ansible.builtin.include_tasks: instance_themes.yml
  tags:
    - redmine
    - theme

- name: Include update tasks
  ansible.builtin.include_tasks: instance_update.yml
  tags:
    - redmine
    - update
  when: redmine_instance.state is undefined or redmine_instance.state != 'prepare_only'

- name: Include nginx_mono configuration tasks
  ansible.builtin.include_tasks: nginx.yml
  tags:
    - nginx
  when:
    - redmine_with_nginx
    - redmine_instance.state is undefined or redmine_instance.state != 'prepare_only'

- name: Install redmine robots.txt - {{ redmine_instance_name }}
  ansible.builtin.copy:
    src: public/robots.txt
    dest: '{{ redmine_app_dir }}/public/robots.txt'
    owner: '{{ redmine_user }}'
    group: '{{ redmine_group }}'
    mode: '0644'
  when: redmine_instance.use_robots_txt_from_redmine is undefined or not redmine_instance.use_robots_txt_from_redmine

- name: Cleanup redmine robots.txt - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_app_dir }}/public/robots.txt'
    state: absent
  when:
    - redmine_instance.use_robots_txt_from_redmine is defined
    - redmine_instance.use_robots_txt_from_redmine

- name: Include systemd tasks
  ansible.builtin.include_tasks: instance_systemd.yml
  when: redmine_instance.state is undefined or redmine_instance.state != 'prepare_only'

- name: Include prepare_only tasks
  ansible.builtin.include_tasks: instance_prepare_only.yml
  when:
    - redmine_instance.state is defined
    - redmine_instance.state == 'prepare_only'
