---

- name: Use rvm repository for ruby for Ubuntu
  when: ansible_distribution == 'Ubuntu' and redmine_rvm_apt
  block:
    - name: Remove old apt repository files
      ansible.builtin.file:
        path: '{{ item }}'
        state: absent
      loop:
        - /etc/apt/sources.list.d/ppa_launchpadcontent_net_rael_gc_rvm_ubuntu.list
        - /etc/apt/trusted.gpg.d/rvm-ppa.asc

    # see https://docs.ansible.com/ansible/latest/collections/ansible/builtin/deb822_repository_module.html
    - name: Add rvm apt repository
      ansible.builtin.deb822_repository:
        name: rvm
        uris: '{{ redmine_rvm_apt_url }}'
        types: deb
        suites: '{{ redmine_rvm_apt_suites }}'
        components: '{{ redmine_rvm_apt_components }}'
        signed_by: '{{ redmine_rvm_apt_signed_by }}'
        state: present
      register: rvm_repo

    - name: Update apt cache
      apt:
        update_cache: true
      when: rvm_repo.changed
      tags:
        - skip_ansible_lint

- name: Do not use rvm apt repository for Ubuntu
  when: ansible_distribution == 'Ubuntu' and not redmine_rvm_apt
  ansible.builtin.deb822_repository:
    name: rvm
    state: absent

- name: Remove obsolete local bin scripts
  ansible.builtin.file:
    path: /usr/local/bin/{{ item }}
    state: absent
  loop:
    - redmine_reminders
    - redmine_receive_mails
    - redmine_setup
    - redmine_test

- name: Remove obsolete cron file
  ansible.builtin.file:
    path: /etc/cron.d/puma_directories
    state: absent

- name: Include MySQL role
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
  when: redmine_with_mysql

- name: PostgreSQL
  when: redmine_with_postgresql
  block:
    # client role is not triggered by meta dep on alphanodes.setup.postgresql
    - name: Include PostgreSQL client role
      ansible.builtin.include_role:
        name: alphanodes.setup.postgresql_client

    - name: Include PostgreSQL role
      ansible.builtin.include_role:
        name: alphanodes.setup.postgresql

- name: Fix ImageMagick policy
  when: desired_distribution_release is defined and desired_distribution_release != 'trixie'
  block:
    - name: Fix ImageMagick security policies for PDF preview
      ansible.builtin.lineinfile:
        dest: /etc/ImageMagick-6/policy.xml
        regexp: '<policy domain="coder" rights="none" pattern="PDF" />'
        line: '  <policy domain="coder" rights="read|write" pattern="PDF" />'

    - name: Increase ImageMagick memory limit
      ansible.builtin.lineinfile:
        dest: /etc/ImageMagick-6/policy.xml
        regexp: '<policy domain="resource" name="memory" value="256MiB"/>'
        line: '  <policy domain="resource" name="memory" value="512MiB"/>'

    - name: Increase ImageMagick width limit
      ansible.builtin.lineinfile:
        dest: /etc/ImageMagick-6/policy.xml
        regexp: '<policy domain="resource" name="width" value="16KP"/>'
        line: '  <policy domain="resource" name="width" value="32KP"/>'

    - name: Increase ImageMagick height limit
      ansible.builtin.lineinfile:
        dest: /etc/ImageMagick-6/policy.xml
        regexp: '<policy domain="resource" name="height" value="16KP"/>'
        line: '  <policy domain="resource" name="height" value="32KP"/>'

    - name: Increase ImageMagick disk limit
      ansible.builtin.lineinfile:
        dest: /etc/ImageMagick-6/policy.xml
        regexp: '<policy domain="resource" name="disk" value="1GiB"/>'
        line: '  <policy domain="resource" name="disk" value="2GiB"/>'

    - name: Remove policy.xml.dpkg-dist
      ansible.builtin.file:
        path: /etc/ImageMagick-6/policy.xml.dpkg-dist
        state: absent

- name: Install nginx maps for redmine
  tags:
    - nginx
  ansible.builtin.template:
    src: etc/nginx/redmine_maps.conf
    dest: /etc/nginx/conf.d/
    mode: '0644'
  notify: Restart nginx

- name: Remove obsolete configuration files
  tags:
    - nginx
  ansible.builtin.file:
    path: /etc/nginx/conf.d/map_api_redmine.conf
    state: absent
  notify: Restart nginx
