---

- name: Use PPA for Ruby with Ubuntu
  ansible.builtin.apt_repository:
    repo: 'ppa:brightbox/ruby-ng'
    state: "{{ 'present' if redmine_use_ppa | bool else 'absent' }}"
    update_cache: true
  when: ansible_distribution == 'Ubuntu'

- name: Remove obsolete local bin scripts
  ansible.builtin.file:
    path: /usr/local/bin/{{ item }}
    state: absent
  loop:
    - redmine_reminders
    - redmine_receive_mails
    - redmine_setup
    - redmine_test

- name: Remove obsolete cron file
  ansible.builtin.file:
    path: /etc/cron.d/puma_directories
    state: absent

- name: Include MySQL role
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
  when: redmine_with_mysql

- name: Include PostgreSQL role
  ansible.builtin.include_role:
    name: alphanodes.setup.postgresql
  when: redmine_with_postgresql

- name: Fix ImageMagick security policies for PDF preview
  ansible.builtin.lineinfile:
    dest: /etc/ImageMagick-6/policy.xml
    regexp: '<policy domain="coder" rights="none" pattern="PDF" />'
    line: '  <policy domain="coder" rights="read|write" pattern="PDF" />'

- name: Increase ImageMagick memory limit
  ansible.builtin.lineinfile:
    dest: /etc/ImageMagick-6/policy.xml
    regexp: '<policy domain="resource" name="memory" value="256MiB"/>'
    line: '  <policy domain="resource" name="memory" value="512MiB"/>'

- name: Increase ImageMagick disk limit
  ansible.builtin.lineinfile:
    dest: /etc/ImageMagick-6/policy.xml
    regexp: '<policy domain="resource" name="disk" value="1GiB"/>'
    line: '  <policy domain="resource" name="disk" value="2GiB"/>'

- name: Remove policy.xml.dpkg-dist
  ansible.builtin.file:
    path: /etc/ImageMagick-6/policy.xml.dpkg-dist
    state: absent

- name: Install nginx maps for redmine
  tags:
    - nginx
  ansible.builtin.template:
    src: etc/nginx/redmine_maps.conf
    dest: /etc/nginx/conf.d/
    mode: 0644
  notify: Restart nginx

- name: Remove obsolete configuration files
  tags:
    - nginx
  ansible.builtin.file:
    path: /etc/nginx/conf.d/map_api_redmine.conf
    state: absent
  notify: Restart nginx
