---

- name: Include instance vars
  ansible.builtin.include_tasks: set_instance_vars.yml

- name: Ensure puma services stopped and disabled - {{ redmine_instance_name }}
  ansible.builtin.systemd_service:
    name: puma-{{ redmine_instance_name }}
    enabled: false
    state: stopped
  ignore_errors: true

- name: Remove systemd files - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ item }}"
    state: absent
  loop:
    - puma-{{ redmine_instance_name }}-directory.service
    - puma-{{ redmine_instance_name }}-directory.timer
    - puma-{{ redmine_instance_name }}.service

- name: Remove sudoer file - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
    - /etc/sudoers.d/{{ redmine_instance_name }}

- name: Remove redmine configuration - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_config_dir }}'
    state: absent

- name: Remove nginx configuration - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/nginx/sites-available/{{ redmine_instance_name }}.conf
    - /etc/nginx/sites-enabled/{{ redmine_instance_name }}.conf
  when: redmine_with_nginx
  notify: Restart nginx

- name: MySQL block - {{ redmine_db_name }}
  when: >
    redmine_with_mysql
    and (redmine_instance.adapter is undefined or redmine_instance.adapter == 'mysql2')
    and (mysql_replication_role is undefined or mysql_replication_role != 'slave')
  block:
    - name: Remove MySQL DB - {{ redmine_instance_name }}
      community.mysql.mysql_db:
        login_unix_socket: "{{ mysql_socket if mysql_root_plugin == 'auth_socket' else omit }}"
        name: '{{ redmine_db_name }}'
        state: absent

    - name: Remove MySQL user - {{ redmine_instance_name }}
      community.mysql.mysql_user:
        login_unix_socket: "{{ mysql_socket if mysql_root_plugin == 'auth_socket' else omit }}"
        name: '{{ redmine_db_user }}'
        state: absent
      when: redmine_instance.db_skip_user_setup is undefined or not redmine_instance.db_skip_user_setup

- name: PostgreSQL block
  when: >
    redmine_with_postgresql
    and redmine_instance.adapter is defined
    and redmine_instance.adapter == 'postgresql'
  block:
    - name: Remove PostgreSQL database - {{ redmine_instance_name }}
      become_user: postgres
      become: true
      community.postgresql.postgresql_db:
        name: '{{ redmine_db_name }}'
        state: absent

    - name: Remove PostgreSQL role - {{ redmine_instance_name }}
      become_user: postgres
      become: true
      community.postgresql.postgresql_user:
        name: '{{ redmine_db_user }}'
        state: absent
      when: redmine_instance.db_skip_user_setup is undefined or not redmine_instance.db_skip_user_setup

- name: Remove Redmine user - {{ redmine_instance_name }}
  ansible.builtin.user:
    name: '{{ redmine_user }}'
    state: absent
    remove: true

- name: Remove redmine directory - {{ redmine_instance_name }}
  ansible.builtin.file:
    path: '{{ redmine_home }}'
    state: absent
