---

- name: Set instance variables
  ansible.builtin.set_fact:
    redmine_instance: "{{ r_instance.value }}"
    redmine_instance_name: "{{ r_instance.key }}"

- name: Set real_puma_workers
  ansible.builtin.set_fact:
    real_puma_workers: "{{ redmine_instance.puma_worker_processes | default(redmine_puma_worker_processes) }}"

- name: Set real_db_pool (cluster mode) real_puma_workers = {{ real_puma_workers }}
  ansible.builtin.set_fact:
    real_db_pool: "{{ real_puma_workers | int * redmine_puma_max_threads | int if redmine_db_pool == '' else redmine_db_pool }}"
  when: real_puma_workers | int != 0 or redmine_db_pool | length > 0

- name: Set real_db_pool (single mode)
  ansible.builtin.set_fact:
    real_db_pool: "{{ redmine_puma_max_threads | int }}"
  when: real_puma_workers | int == 0 and redmine_db_pool | length == 0

- name: Set redmine_user - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_user: "{{ redmine_instance.user | default(redmine_instance_name) }}"

- name: Set redmine_group - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_group: "{{ redmine_instance.group | default(redmine_user) }}"

- name: Set redmine_home - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_home: "{{ redmine_base_dir }}/{{ redmine_instance_name }}"

- name: Set redmine_app_dir - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_app_dir: "{{ redmine_home }}/{{ redmine_app_dir_name }}"

- name: Set Redmine DB Name - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_db_name: '{{ redmine_instance.db_name | default(redmine_instance_name) | replace("-", "_") }}'

- name: Set Redmine DB User - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_db_user: '{{ redmine_instance.db_user | default(redmine_user) | replace("-", "_") }}'

- name: Set redmine_use_rvm - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_use_rvm: '{{ redmine_instance.use_rvm | default(redmine_use_rvm_as_default) }}'

- name: Set active_system_infos_vars - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    active_system_infos_vars: '{{ redmine_instance.system_infos_vars | default(redmine_system_infos_vars) }}'

- name: Set active_system_infos_bool_vars - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    active_system_infos_bool_vars: '{{ redmine_instance.system_infos_bool_vars | default(redmine_system_infos_bool_vars) }}'

- name: Set more instance variables - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_files_dir: "{{ redmine_instance.files_dir | default(redmine_home + '/files') }}"
    redmine_rails_env: "{{ redmine_instance.rails_env | default(rails_env) }}"
    redmine_config_dir: "{{ redmine_global_config_dir }}/{{ redmine_instance_name }}"
    redmine_plugin_dir: "{{ redmine_app_dir }}/plugins"
    redmine_plugin_assets_dir: "{{ redmine_app_dir }}/public/plugin_assets"
    puma_service_name: puma-{{ redmine_instance_name }}
    active_db_adapter: "{{ redmine_instance.adapter | default(redmine_db_adapter) }}"
    active_mysql_socket: "{{ redmine_instance.mysql_socket | default(redmine_mysql_socket) }}"
    active_redmine_patches: "{{ redmine_instance.patches | default(redmine_patches) }}"
    active_redmine_repo_version: "{{ redmine_instance.repo_version | default(redmine_repo_version) }}"
    active_delivery_method: "{{ redmine_instance.delivery_method | default(redmine_delivery_method) }}"
    active_to_time_preserves_timezone: "{{ redmine_instance.to_time_preserves_timezone | default(redmine_to_time_preserves_timezone) }}"
    active_agile: "{{ redmine_instance.with_agile | default(redmine_with_agile) }}"
    redmine_instance: "{{ redmine_instance | combine([{'error_404_enabled': true}]) }}"
    queue_adapter: "{{ redmine_instance.queue_adapter | default(redmine_queue_adapter) | default('') }}"
    htpasswd_file: "/etc/nginx/.htpasswd_redmine_{{ redmine_instance_name }}"
    access_protection: "{{ redmine_instance.access_protection | default(redmine_access_protection) }}"
    with_alphanodes_enterprise_support: "{{ redmine_instance.with_alphanodes_enterprise_support | default(redmine_with_alphanodes_enterprise_support) }}"

- name: Set enterprise tools - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    # see https://github.com/ankane/pghero
    active_pghero: "{{ redmine_instance.with_pghero | default(with_alphanodes_enterprise_support) }}"
    # see https://github.com/pawurb/rails-pg-extras
    active_pg_extras: "{{ redmine_instance.with_pg_extras | default(with_alphanodes_enterprise_support) }}"

- name: Set redmine_theme_dir - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    redmine_theme_dir: "{{ redmine_app_dir }}/themes"

- name: Correct db_host and db_encoding facts - {{ redmine_instance_name }}
  ansible.builtin.set_fact:
    active_db_host: "{{ redmine_instance.db_host if redmine_instance.db_host is defined else 'localhost' if active_db_adapter == 'mysql2' else redmine_run_base_path + '/postgresql' }}"
    active_db_encoding: "{{ redmine_instance.db_encoding if redmine_instance.db_encoding is defined else 'utf8mb4' if active_db_adapter == 'mysql2' else 'unicode' }}"
