---

- name: Set instance variables
  ansible.builtin.set_fact:
    instance: "{{ r_instance.value }}"
    instance_name: "{{ r_instance.key }}"

- name: Set real_puma_workers
  ansible.builtin.set_fact:
    real_puma_workers: "{{ instance.puma_workers | default(ansible_processor_nproc if redmine_puma_workers == '' else redmine_puma_workers) }}"

- name: Set real_db_pool (cluster mode) real_puma_workers = {{ real_puma_workers }}
  ansible.builtin.set_fact:
    real_db_pool: "{{ real_puma_workers | int * redmine_puma_max_threads | int if redmine_db_pool == '' else redmine_db_pool }}"
  when: real_puma_workers | int != 0 or redmine_db_pool | length > 0

- name: Set real_db_pool (single mode)
  ansible.builtin.set_fact:
    real_db_pool: "{{ redmine_puma_max_threads | int }}"
  when: real_puma_workers | int == 0 and redmine_db_pool | length == 0

- name: Set redmine_user - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_user: "{{ instance.user | default(instance_name) }}"

- name: Set redmine_group - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_group: "{{ instance.group | default(redmine_user) }}"

- name: Set redmine_home - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_home: "{{ redmine_base_dir }}/{{ instance_name }}"

- name: Set redmine_app_dir - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_app_dir: "{{ redmine_home }}/{{ redmine_app_dir_name }}"

- name: Set Redmine DB Name - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_db_name: '{{ instance.db_name | default(instance_name) | replace("-", "_") }}'

- name: Set Redmine DB User - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_db_user: '{{ instance.db_user | default(redmine_user) | replace("-", "_") }}'

- name: Set redmine_use_rvm - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_use_rvm: '{{ instance.use_rvm | default(redmine_use_rvm_as_default) }}'

- name: Set active_system_infos_vars - {{ instance_name }}
  ansible.builtin.set_fact:
    active_system_infos_vars: '{{ instance.system_infos_vars | default(redmine_system_infos_vars) }}'

- name: Set active_system_infos_bool_vars - {{ instance_name }}
  ansible.builtin.set_fact:
    active_system_infos_bool_vars: '{{ instance.system_infos_bool_vars | default(redmine_system_infos_bool_vars) }}'

- name: Set more instance variables - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_files_dir: "{{ instance.files_dir | default(redmine_home + '/files') }}"
    redmine_rails_env: "{{ instance.rails_env | default(rails_env) }}"
    redmine_config_dir: "{{ redmine_global_config_dir }}/{{ instance_name }}"
    redmine_plugin_dir: "{{ redmine_app_dir }}/plugins"
    redmine_plugin_assets_dir: "{{ redmine_app_dir }}/public/plugin_assets"
    puma_service_name: puma-{{ instance_name }}
    active_db_adapter: "{{ instance.adapter | default(redmine_db_adapter) }}"
    active_mysql_socket: "{{ instance.mysql_socket | default(redmine_mysql_socket) }}"
    active_redmine_patches: "{{ instance.patches | default(redmine_patches) }}"
    active_redmine_repo_version: "{{ instance.repo_version | default(redmine_repo_version) }}"
    active_delivery_method: "{{ instance.delivery_method | default(redmine_delivery_method) }}"
    active_to_time_preserves_timezone: "{{ instance.to_time_preserves_timezone | default(redmine_to_time_preserves_timezone) }}"
    active_agile: "{{ instance.with_agile | default(redmine_with_agile) }}"
    instance: "{{ instance | combine([{'error_404_enabled': true}]) }}"
    queue_adapter: "{{ instance.queue_adapter | default(redmine_queue_adapter) | default('') }}"
    htpasswd_file: "/etc/nginx/.htpasswd_redmine_{{ instance_name }}"
    access_protection: "{{ instance.access_protection | default(redmine_access_protection) }}"

- name: Set redmine_theme_dir - {{ instance_name }}
  ansible.builtin.set_fact:
    redmine_theme_dir: "{{ redmine_app_dir }}{{ '/themes' if active_redmine_repo_version == '6.0-stable' else '/public/themes' }}"

- name: Correct db_host and db_encoding facts - {{ instance_name }}
  ansible.builtin.set_fact:
    active_db_host: "{{ instance.db_host if instance.db_host is defined else 'localhost' if active_db_adapter == 'mysql2' else redmine_run_base_path + '/postgresql' }}"
    active_db_encoding: "{{ instance.db_encoding if instance.db_encoding is defined else 'utf8mb4' if active_db_adapter == 'mysql2' else 'unicode' }}"
