<?php
// {{ managed_by_ansible }}

{% for drupal_instance in drupal_instances %}
$aliases['{{ drupal_instance.name }}'] = array(
  'uri' => '{{ drupal_instance.server_name }}',
  {% if drupal_instance.dir is defined -%}
  'root' => '{{ drupal_instance.dir }}{{ drupal_instance.vhost_dir | default(drupal_vhost_dir) }}',
  {% endif %}
  {% if drupal_instance.db_url is defined -%}
  'db-url' => '{{ drupal_instance.db_url }}',
  {% endif %}
  {% if drupal_instance.remote_host is defined -%}
  'remote-host' => '{{ drupal_instance.remote_host }}',
  {% endif %}
  {% if drupal_instance.remote_user is defined -%}
  'remote-user' => '{{ drupal_instance.remote_user }}',
  {% endif -%}
  {% if drupal_instance.path_aliases is defined -%}
  'path-aliases' => {{ drupal_instance.path_aliases }},
  {% endif -%}

);
{% endfor %}
