{{ ansible_managed | comment }}
Package: git*
Pin: release n={{ ansible_distribution_release }}-backports
Pin-Priority: 600

Package: svn2git
Pin: release n={{ ansible_distribution_release }}-backports
Pin-Priority: 600
