# frozen_string_literal: true

# OmniAuth SAML
setup_saml = Proc.new do |env|
  saml_options = RedmineSaml::SamlConfig.new(env).middleware_config
  env['omniauth.strategy'].options.merge! saml_options
  # Additionals.debug "omniauth.strategy options #{env['omniauth.strategy'].options.inspect}"
end

begin
  Rails.application.config.middleware.use OmniAuth::Builder do
    provider :saml,
             assertion_consumer_service_url: "http://localhost#{RedmineSaml::CALLBACK_PATH}",
             setup: setup_saml
  end
rescue FrozenError
  # This can happen if there is a crash after Rails has
  # started booting but before we've added our middleware.
  # The middlewares array will only be frozen if an earlier error occurs
  Rails.logger.warn("Unable to add OmniAuth::Builder middleware as the middleware stack is frozen")
  puts "/!\\ Unable to add OmniAuth::Builder middleware as the middleware stack is frozen"
end
