---

- name: Install phpmyadmin version {{ phpmyadmin_git_version }}
  ansible.builtin.git:
    repo: '{{ phpmyadmin_git_url }}'
    dest: '{{ phpmyadmin_dir }}'
    version: '{{ phpmyadmin_git_version | default(omit) }}'
    accept_hostkey: true
    force: true
  register: phpmyadmin_git

- name: Run install
  when: phpmyadmin_git.changed or phpmyadmin_force_installation
  environment:
    COMPOSER_ALLOW_SUPERUSER: '1'
    NODE_ENV: 'production'
    NODE_OPTIONS: '--max-old-space-size=6144'
  tags:
    - skip_ansible_lint
  block:
    - name: Run composer
      community.general.composer:
        command: install
        no_dev: true
        working_dir: '{{ phpmyadmin_dir }}'

    - name: Build language files
      ansible.builtin.command: ./scripts/generate-mo
      args:
        chdir: '{{ phpmyadmin_dir }}'

    - name: Run yarn build
      ansible.builtin.command: /usr/local/lib/npm/bin/yarn install
      args:
        chdir: '{{ phpmyadmin_dir }}'

- name: Remove unwanted files
  ansible.builtin.file:
    path: '{{ phpmyadmin_dir }}/{{ item }}'
    state: absent
  loop: '{{ phpmyadmin_unwanted_files }}'

- name: Correct CONFIG_DIR
  ansible.builtin.lineinfile:
    dest: '{{ phpmyadmin_dir }}/libraries/vendor_config.php'
    regexp: "'CONFIG_DIR'"
    line: "define('CONFIG_DIR', '/etc/phpmyadmin/');"

- name: Correct VERSION_CHECK_DEFAULT
  ansible.builtin.lineinfile:
    dest: '{{ phpmyadmin_dir }}/libraries/vendor_config.php'
    regexp: "'VERSION_CHECK_DEFAULT'"
    line: "define('VERSION_CHECK_DEFAULT', false);"

- name: Install favicons
  ansible.builtin.get_url:
    url: https://alphanodes.com/favicon.ico
    dest: '{{ phpmyadmin_dir }}/{{ item }}'
    force: true
    mode: 0644
    owner: root
    group: root
  loop:
    - favicon.ico
    - themes/pmahomme/img/designer/favicon.ico
