{{ managed_by_ansible | comment }}
# See man 5 aliases for format

postmaster: root
abuse: root
security: root
www-data: root
{% for alias in postfix_aliases %}
{{ alias.user }}: {{ alias.alias }}
{% endfor %}
{% if postfix_root_alias is defined and postfix_root_alias != '' %}
root: {{ postfix_root_alias }}
{% endif %}
