---
# Set the version of Node.js to install ("12.x", "13.x", "14.x", "15.x", etc.).
# Version numbers from Nodesource: https://github.com/nodesource/distributions
nodejs_version: '18.x'

nodejs_apt_url: https://deb.nodesource.com/node_{{ nodejs_version }}
nodejs_apt_key_host: deb.nodesource.com
nodejs_apt_signed_by: https://{{ nodejs_apt_key_host }}/gpgkey/nodesource-repo.gpg.key
nodejs_apt_suites: nodistro
nodejs_apt_components: main
nodejs_apt_source_update: true

# The user for whom the npm packages will be installed.
# nodejs_install_npm_user: username

# The directory for global installations.
npm_config_prefix: /usr/local/lib/npm

# Set to true to suppress the UID/GID switching when running package scripts. If
# set explicitly to false, then installing as a non-root user will fail.
npm_config_unsafe_perm: "false"

# Define a list of global packages to be installed with NPM.
nodejs_npm_global_packages: []
#  # Install a specific version of a package.
#  - name: jslint
#    version: 0.9.3
#  # Install the latest stable release of a package.
#  - name: node-sass
#  # This shorthand syntax also works (same as previous example).
#  - node-sass

# The path of a package.json file used to install packages globally.
nodejs_package_json_path: ""

# Whether or not /etc/profile.d/npm.sh (globa) must be generated.
# Set to false if you need to handle this manually with a per-user install.
nodejs_generate_etc_profile: true

# remove nodejs
nodejs_remove: false
