---
# defaults file for diagnostic tools

diagnostic_with_atop: false
diagnostic_with_bottom: false
# bottom is not implemented at the moment
diagnostic_with_btop: true
# make sure pip is installed for glances
diagnostic_with_glances: false
diagnostic_with_htop: false
diagnostic_with_nmap: false
diagnostic_with_sysstat: false

diagnostic_packages: []

# required a lot of packages for glances without pip (e.g. nginx)
glances_with_pip: true
glances_pip_packages:
  - glances
glances_pip_venv: glances

sysstat_enable_data_collecting: true

# apt, source or static
# debian bullseye has no apt version, in this case use static
btop_install_type: "{{ 'static' if ansible_distribution_release == 'bullseye' else 'apt' }}"
# used for non apt install type
btop_install_path: /usr

# btop source
btop_source_repo: https://github.com/aristocratos/btop.git
btop_source_version: main
btop_source_force_rebuild: false

# btop static
btop_static_version: v1.4.5
btop_static_url: https://github.com/aristocratos/btop/releases/download/{{ btop_static_version }}/btop-x86_64-linux-musl.tbz
