---

- name: Create roundcube database
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_database.yml
  vars:
    mysql_setup_db_name: '{{ roundcube_db_name }}'

- name: Create roundcube database user
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_user.yml
  vars:
    mysql_setup_db_name: '{{ roundcube_db_name }}'
    mysql_setup_user_name: '{{ roundcube_db_user }}'
    mysql_setup_user_password: '{{ roundcube_db_password }}'
    mysql_setup_user_host: '{{ roundcube_db_host }}'
    mysql_setup_salt_id: roundcube
