{{ ansible_managed | comment }}

[client]
#password = your_password
port = {{ mysql_port }}
socket = {{ mysql_socket }}

[mysqldump]
quick
quote-names
max_allowed_packet = {{ mysql_mysqldump_max_allowed_packet }}

[mysqld]
port = {{ mysql_port }}
bind-address = {{ mysql_bind_address }}
pid-file = {{ mysql_pid_file }}
socket = {{ mysql_socket }}
datadir = {{ mysql_datadir }}
{% if mysql_skip_name_resolve %}
skip-name-resolve
{% endif %}
{% if mysql_sql_mode is not none %}
sql_mode = {{ mysql_sql_mode }}
{% endif %}

# Logging configuration.
{% if mysql_log_error is defined %}
{% if mysql_log_error == 'syslog' or mysql_log == 'syslog' %}
syslog
syslog-tag = {{ mysql_syslog_tag }}
{% endif %}
{% if mysql_log_output == 'FILE' %}
log-error = {{ mysql_log_error }}
{% endif %}
{% endif %}
{% if mysql_log_output == 'FILE' and mysql_log != '' %}
log = {{ mysql_log }}
{% endif %}

log_output = {{ mysql_log_output }}

{% if mysql_slow_query_log_enabled %}
# Slow query log configuration.
slow_query_log = 1
long_query_time = {{ mysql_slow_query_time }}
{% endif %}
{% if mysql_log_output == 'FILE' %}
slow_query_log_file = {{ mysql_slow_query_log_file }}
{% endif %}

{% if mysql_disable_log_bin and not mysql_replication_master %}
# Disable binlog to save disk space
disable-log-bin
{% endif %}

{% if mysql_replication_master %}
# Replication
server-id = {{ mysql_server_id }}

{% if mysql_replication_role == 'master' %}
log_bin = mysql-bin
log-bin-index = mysql-bin.index
expire_logs_days = {{ mysql_expire_logs_days }}
max_binlog_size = {{ mysql_max_binlog_size }}
binlog_format = {{mysql_binlog_format}}

{% for db in mysql_databases %}
{% if db.replicate|default(1) %}
binlog_do_db = {{ db.name }}
{% else %}
binlog_ignore_db = {{ db.name }}
{% endif %}
{% endfor %}
{% endif %}

{% if mysql_replication_role == 'slave' %}
read_only
relay-log = relay-bin
relay-log-index = relay-bin.index
{% endif %}
{% endif %}

# User is ignored when systemd is used (fedora >= 15).
user = mysql

# https://dev.mysql.com/doc/refman/8.0/en/performance-schema.html
;performance_schema

# Memory settings.
key_buffer_size = {{ mysql_key_buffer_size }}
max_allowed_packet = {{ mysql_max_allowed_packet }}
table_open_cache = {{ mysql_table_open_cache }}
sort_buffer_size = {{ mysql_sort_buffer_size }}
read_buffer_size = {{ mysql_read_buffer_size }}
read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size }}
myisam_sort_buffer_size = {{ mysql_myisam_sort_buffer_size }}
thread_cache_size = {{ mysql_thread_cache_size }}
max_connections = {{ mysql_max_connections }}
tmp_table_size = {{ mysql_tmp_table_size }}
max_heap_table_size = {{ mysql_max_heap_table_size }}
group_concat_max_len = {{ mysql_group_concat_max_len }}
join_buffer_size = {{ mysql_join_buffer_size }}

# Other settings.
wait_timeout = {{ mysql_wait_timeout }}
lower_case_table_names = {{ mysql_lower_case_table_names }}
event_scheduler = {{ mysql_event_scheduler_state }}

# Default is 1h, much to high!
net_read_timeout = 30

{% if mysql_server_tmpdir != '' -%}
# use ram disk for tmp directoy
tmpdir = /run/mysqld
{% endif %}

# As high as possible (or run FLUSH HOSTS occasional)
max_connect_errors = 1844674407370954751

table_definition_cache = {{ mysql_table_definition_cache }}
{% if mysql_character_set_server != '' %}
character_set_server = {{ mysql_character_set_server }}
{% endif %}
{% if mysql_collation_server != '' %}
collation_server = {{ mysql_collation_server }}
{% endif %}
{% if mysql_secure_file_priv != '' %}
secure_file_priv = {{ mysql_secure_file_priv }}
{% endif %}
{% if mysql_server_with_local_infile %}
local-infile
{% endif %}
{% if mysql_replication_with_write %}
read_only = 0
{% endif %}
{% if mysql_server_gtid_mode %}
gtid_mode = on
enforce-gtid-consistency = true
{% endif %}

# InnoDB settings.
innodb_file_per_table = {{ mysql_innodb_file_per_table }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
{% if mysql_innodb_redo_log_capacity is defined %}
innodb_redo_log_capacity = {{ mysql_innodb_redo_log_capacity }}
{% endif %}
innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout }}

{% if mysql_with_ssl -%}
# SSL configuration
ssl-ca = {{ mysql_ssl_ca }}
ssl-cert = {{ mysql_ssl_cert }}
ssl-key = {{ mysql_ssl_key }}
{% endif %}

{% if mysql_with_includedirs %}
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir {{ mysql_config_include_dir }}
!includedir {{ mysql_config_mysql_include_dir }}
{% endif %}
