---

- name: Setup nginx_mono and configure element_web vhost
  tags: nginx
  ansible.builtin.include_role:
    name: alphanodes.setup.nginx_mono
  vars:
    nginx_mono_service_name: element_web
    nginx_mono_service_enabled: "{{ element_web_enabled }}"
    nginx_mono_service_config:
      server_name: "{{ element_web_vhost_server }}"
      root: "{{ element_web_path }}"
      index: "index.html"
      redirects: "{{ element_web_redirects | default([]) }}"
      vhost_users: "{{ element_web_vhost_users | default([]) }}"
      vhost_for_zabbix: "{{ element_web_vhost_for_zabbix | default(false) }}"
      letsencrypt: "{{ element_web_vhost_letsencrypt | default(false) }}"
      letsencrypt_cert: "{{ element_web_vhost_letsencrypt_cert | default('') }}"
      letsencrypt_key: "{{ element_web_vhost_letsencrypt_key | default('') }}"
      ssl_cert: "{{ element_web_vhost_ssl_cert | default('') }}"
      vhost_includes: "{{ element_web_vhost_includes | default([]) }}"
      static_service: true
      additional_headers:
        - "Content-Security-Policy \"frame-ancestors 'none'\""

- name: Include ssl role
  ansible.builtin.include_role:
    name: alphanodes.setup.ssl
