---

- name: Detect rvm binary
  ansible.builtin.stat:
    path: '{{ rvm1_rvm }}'
  register: rvm_binary

- name: Detect rvm installer
  ansible.builtin.stat:
    path: '{{ rvm1_temp_download_path }}/rvm-installer.sh'
  register: rvm_installer

- name: Detect current rvm version
  ansible.builtin.command: '{{ rvm1_rvm }} version'
  changed_when: false
  register: rvm_current_version
  when: rvm_binary.stat.exists

- name: Install rvm installer
  ansible.builtin.get_url:
    url: '{{ rvm1_rvm_latest_installer }}'
    dest: '{{ rvm1_temp_download_path }}/rvm-installer.sh'
    mode: '0755'
  when: not rvm_installer.stat.exists

- name: Import GPG keys from keyservers
  ansible.builtin.command: 'gpg --batch --keyserver {{ item }} --recv-keys {{ rvm1_gpg_keys }}'
  changed_when: false
  check_mode: false
  loop: '{{ rvm1_gpg_key_servers }}'
  register: gpg_import
  when: not ansible_check_mode and rvm1_gpg_keys | length > 0 and (gpg_import is undefined or gpg_import.rc != 0)
  ignore_errors: true

- name: Was GPG import from keyservers succesfull?
  ansible.builtin.set_fact:
    gpg_imported_from: '{{ item.item }}'
  when: "'rc' in item and item.rc == 0"
  loop: "{{ gpg_import.results }}"

- name: Import GPG keys from rvm.io, if keyservers failed
  ansible.builtin.shell: >
    set -o pipefail &&
    curl -sSL https://rvm.io/{{ item }} | gpg --batch --import -
  args:
    executable: /bin/bash
  loop:
    - mpapis.asc
    - pkuczynski.asc
  when: not ansible_check_mode and rvm1_gpg_keys | length > 0 and gpg_imported_from is undefined

- name: Install rvm
  ansible.builtin.shell: >
    /usr/bin/env bash {{ rvm1_temp_download_path }}/rvm-installer.sh {{ rvm1_rvm_version }}
    --path {{ rvm1_install_path }} {{ rvm1_install_flags }}
  when: not rvm_binary.stat.exists

- name: Update rvm
  ansible.builtin.shell: '{{ rvm1_rvm }} get {{ rvm1_rvm_version }} && {{ rvm1_rvm }} reload'
  changed_when: false
  when: rvm_binary.stat.exists and rvm1_rvm_check_for_updates

- name: Configure rvm
  ansible.builtin.command: '{{ rvm1_rvm }} autolibs {{ rvm1_autolib_mode }}'
  when: not rvm_binary.stat.exists
