---

- name: Include MySQL role
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql

- name: Be sure nextcloud database exists
  community.mysql.mysql_db:
    login_unix_socket: "{{ mysql_socket if mysql_root_plugin == 'auth_socket' or mysql_socket_force else omit }}"
    name: '{{ nextcloud_db_name }}'
    state: present

- name: Create nextcloud user
  community.mysql.mysql_user:
    login_unix_socket: "{{ mysql_socket if mysql_root_plugin == 'auth_socket' or mysql_socket_force else omit }}"
    name: '{{ nextcloud_db_user }}'
    plugin: caching_sha2_password
    plugin_auth_string: "{{ nextcloud_db_password }}"
    salt: "{{ [ansible_facts['machine_id'], ansible_facts['hostname'], 'nextcloud'] | join | hash('sha1') | truncate(20, true, '') }}"
    host: '{{ nextcloud_db_host }}'
    priv: '{{ nextcloud_db_name }}.*:ALL'
    column_case_sensitive: true
    state: present
