---

- name: Include MySQL role
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql

- name: Create nextcloud database
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_database.yml
  vars:
    mysql_setup_db_name: '{{ nextcloud_db_name }}'

- name: Create nextcloud database user
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_user.yml
  vars:
    mysql_setup_db_name: '{{ nextcloud_db_name }}'
    mysql_setup_user_name: '{{ nextcloud_db_user }}'
    mysql_setup_user_password: '{{ nextcloud_db_password }}'
    mysql_setup_user_host: '{{ nextcloud_db_host }}'
    mysql_setup_salt_id: nextcloud
