{{ managed_by_ansible | comment }}
Package: libssl-dev
Pin: origin packages.sury.org
Pin-Priority: 1

Package: libssl-doc
Pin: origin packages.sury.org
Pin-Priority: 1

Package: openssl
Pin: origin packages.sury.org
Pin-Priority: 1

Package: libssl1.1
Pin: origin packages.sury.org
Pin-Priority: 1
