# {{ managed_by_ansible }}
{% if redmine_instance.use_logger is defined and redmine_instance.use_logger != 'syslog' %}
gem '{{redmine_instance.use_logger}}'
{% endif %}
{% if redmine_instance.use_logger is undefined or redmine_instance.use_logger == 'syslog' %}
# NOTE: Syslog::Logger without gem is used
{% endif %}
{% if redmine_instance.rails_env is undefined or (redmine_instance.rails_env != 'test') %}
gem 'puma'
{% endif %}
{% if redmine_instance.with_memcache | default(redmine_with_memcache) %}
{% if redmine_instance.without_dalli is undefined or not redmine_instance.without_dalli %}
gem 'dalli'
{% endif %}
{% endif %}
{% if redmine_instance.with_mysql2postgres is defined and redmine_instance.with_mysql2postgres %}
gem 'mysql2postgres'
{% endif %}
{% if redmine_instance.gemfile_extras is defined %}
{% for extra_line in redmine_instance.gemfile_extras %}
{{ extra_line }}
{% endfor %}
{% endif %}
# Fix bug with rails and connection_pool > 3
# see https://github.com/rails/rails/pull/56294
gem 'connection_pool', '< 3.0'
