[Unit]
Description=hedgedoc service

[Service]
User={{ hedgedoc_user }}
Group={{ hedgedoc_group }}
Environment=NODE_ENV={{ hedgedoc_node_env }}
ExecStart={{ nodejs_bin }} {{ hedgedoc_path }}/app.js
WorkingDirectory={{ hedgedoc_path }}
SyslogIdentifier={{ hedgedoc_syslog_identifier }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
