---
# defaults file for Matomo

matomo_version: 5.7.0
matomo_source_url: https://builds.matomo.org/

matomo_dir: /srv/matomo

matomo_user: "{{ nginx_user }}"
matomo_group: "{{ nginx_group }}"

matomo_config_file: "{{ matomo_dir }}/config/config.ini.php"
matomo_config_file_mode: "0660"

# you can turn of access log (e.g. for tracking server)
matomo_with_access_log: true

matomo_plugin_path: "{{ matomo_dir }}/plugins"

matomo_vhost_server: matomo.local
matomo_vhost_for_zabbix: false
matomo_vhost_default: false
matomo_vhost_includes: []

matomo_vhost_letsencrypt: false
matomo_vhost_ssl_cert: '{{ ssl_certs[0].name | default(omit) }}'
matomo_vhost_letsencrypt_cert: /etc/letsencrypt/live/{{ letsencrypt_default_cert | default(ansible_host) }}/fullchain.pem
matomo_vhost_letsencrypt_key: /etc/letsencrypt/live/{{ letsencrypt_default_cert | default(ansible_host) }}/privkey.pem

matomo_vhost_ssl_only: true

matomo_db_host: localhost
matomo_db_name: matomo
matomo_db_user: matomo
matomo_db_password: '{{ [ansible_facts["machine_id"], ansible_facts["hostname"], "matomo"] | join | hash("md5") }}'
matomo_db_tables_prefix: piwik_

# Geolocation Settings (DBIP City Lite - free, no registration required)
# Compatible with alphanodes.tasks.matomo_task for cluster setups
# For clusters: set matomo_geolocation_enabled: false and use ansible_node matomo_geoip_update playbook
matomo_geolocation_enabled: true
matomo_task_geo_target_file: DBIP-City.mmdb
matomo_task_geo_source_file: "dbip-city-lite-{{ lookup('pipe', 'date +%Y-%m') }}.mmdb"
matomo_task_geo_url: 'https://download.db-ip.com/free/{{ matomo_task_geo_source_file }}.gz'
matomo_task_geo_dest: '{{ matomo_dir }}/misc/{{ matomo_task_geo_target_file }}'
matomo_task_geo_archive_dir: '{{ matomo_private_dir }}'

# for cluster you can customize installation
matomo_with_mysql: true
# if with nginx, php_fpm will be installed, too. If without nginx, php-cli will be installed, only.
matomo_with_nginx: true

# this could be required, if you use non www-data user
# and want to use mysql_secure_file_priv
# NOTE: do not activate it, if you use www-data as matomo_user (it should work without)
matomo_add_mysql_to_matomo_group: false

# see https://matomo.org/faq/new-to-piwik/faq_134/
# if yes, plugins cannot be enabled by gui
matomo_multi_server_environment: false

matomo_plugins: []
#  - name: SecurityInfo

matomo_cleanup_files: []

matomo_with_robots_txt: false

# Private directory for backups, DBIP archive, etc.
# IMPORTANT: Must be OUTSIDE matomo_dir to avoid "unexpected files" warnings
matomo_private_dir: /var/lib/matomo

# Console-based config settings (idempotent via matomo console config:set)
# Set to empty dict {} to skip console config
matomo_console_config:
  General:
    force_ssl: 1
    show_update_notification_to_superusers_only: 1

# Upgrade settings
# Run diagnostics:unexpected-files --delete after upgrade to clean up old files
matomo_upgrade_cleanup_unexpected_files: true
