---
- name: Include vars
  ansible.builtin.import_tasks: include-vars.yml

# mysql is available on ubuntu without additional repo
- name: Include repo tasks for debian
  ansible.builtin.include_tasks: repo.yml
  when: ansible_facts.distribution == 'Debian'
  tags:
    - mysql
    - repo

- name: Include setup tasks
  ansible.builtin.include_tasks: setup.yml
  tags:
    - mysql
