[Unit]
Description=Mailcatcher for Redmine

[Service]
User={{ instance_name }}
Group={{ instance_name }}
WorkingDirectory={{ redmine_app_dir }}
{% if redmine_ruby_opt != '' %}
Environment="RUBYOPT={{ redmine_ruby_opt }}"
{% endif %}
Environment="RAILS_ROOT={{ redmine_app_dir }}"
Environment="RAILS_ENV={{ redmine_rails_env }}"
Environment="HOME={{ redmine_home }}"
Environment="USER={{ instance_name }}"
{% if redmine_use_rvm %}
ExecStart={{ redmine_home }}/.rvm/wrappers/default/mailcatcher --no-quit --foreground {{ '--ip ' + redmine_mailcatcher_ip if redmine_mailcatcher_ip != '' else '' }} --smtp-port {{ instance.mailcatcher_smtp_port | default(redmine_mailcatcher_smtp_port) }} --http-port {{ instance.mailcatcher_http_port | default(redmine_mailcatcher_http_port) }}
{% else %}
Environment="GEM_HOME={{ redmine_ruby_system_gem_home }}"
ExecStart={{ redmine_ruby_system_gem_home }}/bin/mailcatcher --no-quit --foreground {{ '--ip ' + redmine_mailcatcher_ip if redmine_mailcatcher_ip != '' else '' }} --smtp-port {{ instance.mailcatcher_smtp_port | default(redmine_mailcatcher_smtp_port) }} --http-port {{ instance.mailcatcher_http_port | default(redmine_mailcatcher_http_port) }}
{% endif %}
SyslogIdentifier=mailcatcher-{{ instance_name }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
