[Unit]
Description=Puma service for Redmine

[Service]
User={{ redmine_instance_name }}
Group={{ redmine_instance_name }}
WorkingDirectory={{ redmine_app_dir }}
{% if redmine_ruby_opt != '' %}
Environment="RUBYOPT={{ redmine_ruby_opt }}"
{% endif %}
Environment=MALLOC_ARENA_MAX=2
{% if redmine_with_jemalloc %}
Environment="LD_PRELOAD=libjemalloc.so.2"
{% endif %}
Environment="RAILS_ROOT={{ redmine_app_dir }}"
Environment="RAILS_ENV={{ redmine_rails_env }}"
Environment="HOME={{ redmine_home }}"
Environment="USER={{ redmine_instance_name }}"
{% if redmine_instance.env_vars is defined -%}
{% for env_var in redmine_instance.env_vars -%}
Environment="{{ env_var.name }}={{ env_var.value }}"
{% endfor %}
{% endif %}
{% if redmine_use_rvm %}
ExecStart={{ redmine_home }}/.rvm/wrappers/default/bundle exec puma --config {{ redmine_config_dir }}/puma.rb
{% else %}
Environment="GEM_HOME={{ redmine_ruby_system_gem_home }}"
ExecStart={{ redmine_ruby_system_gem_home }}/bin/bundle exec puma --config {{ redmine_config_dir }}/puma.rb
{% endif %}
ExecReload=/usr/bin/kill -USR2 $MAINPID
SyslogIdentifier={{ puma_service_name }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
