[Unit]
Description=Puma service for Redmine

[Service]
User={{ instance_name }}
Group={{ instance_name }}
WorkingDirectory={{ redmine_app_dir }}
{% if redmine_ruby_opt != '' %}
Environment="RUBYOPT={{ redmine_ruby_opt }}"
{% endif %}
Environment=MALLOC_ARENA_MAX=2
Environment="RAILS_ROOT={{ redmine_app_dir }}"
Environment="RAILS_ENV={{ redmine_rails_env }}"
Environment="HOME={{ redmine_home }}"
Environment="USER={{ instance_name }}"
{% if instance.env_vars is defined -%}
{% for env_var in instance.env_vars -%}
Environment="{{ env_var.name }}={{ env_var.value }}"
{% endfor %}
{% endif %}
{% if redmine_use_rvm %}
ExecStart={{ redmine_home }}/.rvm/wrappers/default/bundle exec puma --config {{ redmine_config_dir }}/puma.rb
{% else %}
Environment="GEM_HOME={{ redmine_ruby_system_gem_home }}"
ExecStart={{ redmine_ruby_system_gem_home }}/bin/bundle exec puma --config {{ redmine_config_dir }}/puma.rb
{% if active_puma_worker_killer|bool %}
ExecReload=/bin/kill -USR2 $MAINPID
{% endif %}
{% endif %}
SyslogIdentifier={{ puma_service_name }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
