---

- name: Check if custom host file is provided for {{ ansible_node_identifier }}
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/files/ansible/hosts/{{ ansible_node_identifier }}"
  ignore_errors: true
  register: custom_host_file
  delegate_to: localhost

- name: Install ansible hostfile (custom host file)
  ansible.builtin.copy:
    src: 'ansible/hosts/{{ ansible_node_identifier }}'
    dest: '{{ ansible_node_etc_dir }}/hosts'
    mode: 0644
  when:
    - custom_host_file is defined
    - custom_host_file.stat.exists

- name: Install ansible hostfile (default host file)
  ansible.builtin.copy:
    src: 'ansible/hosts/default_host'
    dest: '{{ ansible_node_etc_dir }}/hosts'
    mode: 0644
  when: custom_host_file is undefined or not custom_host_file.stat.exists
