---
{{ managed_by_ansible | comment }}

default:
  email_delivery:
    delivery_method: {{ active_delivery_method }}
{% if active_delivery_method  == ':sendmail' %}
    sendmail_settings:
      location: {{ redmine_sendmail_settings_location }}
{% if redmine_sendmail_settings_arguments | length > 0 %}
      arguments:
{% for sendmail_arg in redmine_sendmail_settings_arguments %}
        - "{{ sendmail_arg }}"
{% endfor %}
{% endif %}
{% endif %}
{% if active_delivery_method  == ':smtp' %}
    smtp_settings:
      address: "{{ instance.smtp_address | default(redmine_smtp_address) }}"
      port: {{ instance.smtp_port | default(redmine_smtp_port) }}
      tls: {{ 'true' if instance.smtp_tls | default(redmine_smtp_tls) else 'false' }}
      enable_starttls_auto: {{ 'true' if instance.smtp_enable_starttls_auto | default(redmine_smtp_enable_starttls_auto) else 'false' }}
{% endif %}

  attachments_storage_path: {{ redmine_files_dir }}
{% if instance.sudo_mode is defined and instance.sudo_mode %}
  sudo_mode: true
  sudo_mode_timeout: {{ instance.sudo_mode_timeout | default(15) }}
{% endif %}
{% if instance.database_cipher_key is defined and instance.database_cipher_key != '' %}
  database_cipher_key: "{{ instance.database_cipher_key }}"
{% endif %}
{% if ansible_facts.distribution_release == 'trixie' %}
  imagemagick_convert_command: magick
{% endif %}
{% if instance.use_logger is undefined or instance.use_logger == 'syslog' %}
  reporting_use_syslog: true
{% endif %}
{% if instance.redmine_config is defined and instance.redmine_config | length > 0 %}
{% for key, value in instance.redmine_config | dictsort %}
{% if value is boolean %}
  {{ key }}: {{ (value | bool | string | lower) }}
{% elif value is sequence and value is not string %}
  {{ key }}:
{% for item in value %}
    - {{ item }}
{% endfor %}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% if active_system_infos_vars | length > 0 %}
  system_infos_vars:
{% for info_var in active_system_infos_vars %}
    - {{ info_var }}
{% endfor %}
{% endif %}

{% if active_system_infos_bool_vars | length > 0 %}
  system_infos_bool_vars:
{% for info_bool_var in active_system_infos_bool_vars %}
    - {{ info_bool_var }}
{% endfor %}
{% endif %}
