---
{{ managed_by_ansible | comment }}

{{ redmine_rails_env }}:
  adapter: {{ active_db_adapter }}
  database: {{ redmine_db_name }}
{% if active_db_host != '' %}
  host: {{ active_db_host }}
{% if redmine_instance.db_port is defined %}
  port: {{ redmine_instance.db_port }}
{% endif %}
{% else %}
{% if active_db_adapter == 'mysql' and active_mysql_socket != '' %}
  socket: {{ active_mysql_socket }}
{% endif %}
{% endif %}
  username: {{ redmine_db_user }}
  password: "{{ redmine_instance.db_password | default(redmine_db_password) }}"
  encoding: {{ active_db_encoding }}
{% if active_db_adapter == 'postgresql' %}
  schema_search_path: public
  variables:
    statement_timeout: <%= ENV["DB_STATEMENT_TIMEOUT"] || {{ redmine_instance.db_statement_timeout | default(redmine_db_statement_timeout) }} %>
{% else %}
  variables:
    max_execution_time: <%= ENV["DB_STATEMENT_TIMEOUT"] || {{ redmine_instance.db_statement_timeout | default(redmine_db_statement_timeout) }} %>
    transaction_isolation: "READ-COMMITTED"
{% endif %}
{% if redmine_instance.db_pool is defined or real_db_pool != 0 %}
  pool: {{ redmine_instance.db_pool | default(real_db_pool) }}
{% endif %}
{% if redmine_instance.merge_projects_db_name is defined %}

source_redmine:
  adapter: {{ redmine_instance.merge_projects_adapter | default(active_db_adapter) }}
  database: {{ redmine_instance.merge_projects_db_name }}
{% if redmine_instance.merge_projects_db_host is defined %}
  host: {{ redmine_instance.merge_projects_db_host }}
{% if redmine_instance.merge_projects_db_port is defined %}
  port: {{ redmine_instance.merge_projects_db_port }}
{% endif %}
{% else %}
  socket: {{ redmine_instance.merge_projects_socket | default(active_mysql_socket) }}
{% endif %}
  username: {{ redmine_instance.merge_projects_db_user }}
  password: "{{ redmine_instance.merge_projects_db_password }}"
  encoding: utf8
{% if redmine_instance.merge_projects_adapter is defined and redmine_instance.merge_projects_adapter=='postgresql' %}
  schema_search_path: public
{% endif %}
{% endif %}
{% if redmine_with_hedgedoc and redmine_instance.with_hedgedoc is defined and redmine_instance.with_hedgedoc %}

hedgedoc:
  adapter: {{ redmine_instance.adapter | default(active_db_adapter) }}
  database: {{ hedgedoc_db_name }}
{% if active_db_host != '' %}
  host: {{ active_db_host }}
{% if redmine_instance.db_port is defined %}
  port: {{ redmine_instance.db_port }}
{% endif %}
{% else %}
  socket: {{ redmine_instance.socket | default(active_mysql_socket) }}
{% endif %}
  username: {{ hedgedoc_db_user }}
  password: "{{ hedgedoc_db_password }}"
  encoding: {{ active_db_encoding }}
{% if redmine_instance.adapter is defined and redmine_instance.adapter=='postgresql' %}
  schema_search_path: public
{% endif %}
{% endif %}
