---
{{ ansible_managed | comment }}

{{ redmine_rails_env }}:
  adapter: {{ active_db_adapter }}
  database: {{ redmine_db_name }}
{% if active_db_host != '' %}
  host: {{ active_db_host }}
{% if instance.db_port is defined %}
  port: {{ instance.db_port }}
{% endif %}
{% else %}
{% if active_db_adapter == 'mysql' and active_mysql_socket != '' %}
  socket: {{ active_mysql_socket }}
{% endif %}
{% endif %}
  username: {{ redmine_db_user }}
  password: "{{ instance.db_password | default(redmine_db_password) }}"
  encoding: {{ active_db_encoding }}
{% if active_db_adapter == 'postgresql' %}
  schema_search_path: public
  variables:
    statement_timeout: <%= ENV["DB_STATEMENT_TIMEOUT"] || {{ instance.db_statement_timeout | default(redmine_db_statement_timeout) }} %>
{% else %}
  variables:
    max_execution_time: <%= ENV["DB_STATEMENT_TIMEOUT"] || {{ instance.db_statement_timeout | default(redmine_db_statement_timeout) }} %>
{% if active_redmine_repo_version == '5.1-stable' or redmine_5_1_repo_version is defined and redmine_5_1_repo_version == active_redmine_repo_version %}
    transaction_isolation: "READ-COMMITTED"
{% endif %}
{% endif %}
{% if instance.db_pool is defined or redmine_puma_workers != 0 %}
  pool: {{ instance.db_pool | default(real_redmine_db_pool) }}
{% endif %}
{% if instance.merge_projects_db_name is defined %}

source_redmine:
  adapter: {{ instance.merge_projects_adapter | default(active_db_adapter) }}
  database: {{ instance.merge_projects_db_name }}
{% if instance.merge_projects_db_host is defined %}
  host: {{ instance.merge_projects_db_host }}
{% if instance.merge_projects_db_port is defined %}
  port: {{ instance.merge_projects_db_port }}
{% endif %}
{% else %}
  socket: {{ instance.merge_projects_socket | default(active_mysql_socket) }}
{% endif %}
  username: {{ instance.merge_projects_db_user }}
  password: "{{ instance.merge_projects_db_password }}"
  encoding: utf8
{% if instance.merge_projects_adapter is defined and instance.merge_projects_adapter=='postgresql' %}
  schema_search_path: public
{% endif %}
{% endif %}
{% if redmine_with_hedgedoc and instance.with_hedgedoc is defined and instance.with_hedgedoc %}

hedgedoc:
  adapter: {{ instance.adapter | default(active_db_adapter) }}
  database: {{ hedgedoc_db_name }}
{% if active_db_host != '' %}
  host: {{ active_db_host }}
{% if instance.db_port is defined %}
  port: {{ instance.db_port }}
{% endif %}
{% else %}
  socket: {{ instance.socket | default(active_mysql_socket) }}
{% endif %}
  username: {{ hedgedoc_db_user }}
  password: "{{ hedgedoc_db_password }}"
  encoding: {{ active_db_encoding }}
{% if instance.adapter is defined and instance.adapter=='postgresql' %}
  schema_search_path: public
{% endif %}
{% endif %}
