---

- name: Create matomo database
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_database.yml
  vars:
    mysql_setup_db_name: '{{ matomo_db_name }}'

- name: Create matomo database user
  ansible.builtin.include_role:
    name: alphanodes.setup.mysql
    tasks_from: create_user.yml
  vars:
    mysql_setup_db_name: '{{ matomo_db_name }}'
    mysql_setup_user_name: '{{ matomo_db_user }}'
    mysql_setup_user_password: '{{ matomo_db_password }}'
    mysql_setup_user_host: '{{ matomo_db_host }}'
    mysql_setup_user_priv: '{{ matomo_db_name }}.*:ALL/*.*:FILE'
    mysql_setup_salt_id: matomo

- name: Allow mysql to write to {{ matomo_dir }}
  ansible.builtin.lineinfile:
    dest: '/etc/apparmor.d/usr.sbin.mysqld'
    regexp: '{{ matomo_dir }}/\*'
    insertbefore: 'Allow systemd notify messages'
    line: '  {{ matomo_dir }}/* rw,'
  when: ansible_facts.distribution == 'Ubuntu'
  notify: Restart apparmor
