---

- name: Remove old working dir
  ansible.builtin.file:
    path: '{{ matomo_working_dir }}'
    state: absent

- name: Create working dir
  ansible.builtin.file:
    path: '{{ matomo_working_dir }}'
    state: directory
    mode: '0755'

- name: Extract matomo archive
  ansible.builtin.unarchive:
    src: '{{ matomo_archive_filename }}'
    dest: '{{ matomo_working_dir }}'
    owner: '{{ matomo_user }}'
    group: '{{ matomo_group }}'
    remote_src: true

- name: Make sure config.ini.php will not be overwritten
  ansible.builtin.file:
    path: '{{ matomo_working_dir }}/matomo/config/config.ini.php'
    state: absent

- name: Latest Matomo rsynced over last version
  ansible.builtin.command: "rsync -aq {{ matomo_working_dir }}/matomo/ {{ matomo_dir }}/"
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ matomo_user }}"

- name: Run matomo console core:update
  ansible.builtin.command: "php console --no-ansi -n core:update --yes"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_dir }}"
  become: "{{ true if matomo_user is defined else false }}"
  become_user: '{{ matomo_user | default(omit) }}'
  when:
    - mysql_replication_role is undefined or mysql_replication_role == 'master'
    - sync_master is undefined

- name: Create security files after upgrade
  ansible.builtin.command:
    cmd: php console --no-ansi -n core:create-security-files
    chdir: "{{ matomo_dir }}"
  become: true
  become_user: '{{ matomo_user }}'
  changed_when: true
  when:
    - mysql_replication_role is undefined or mysql_replication_role == 'master'
    - sync_master is undefined

- name: Clean up unexpected files after upgrade
  when: matomo_upgrade_cleanup_unexpected_files
  block:
    - name: Check for unexpected files
      ansible.builtin.command:
        cmd: php console --no-ansi -n diagnostics:unexpected-files
        chdir: "{{ matomo_dir }}"
      become: true
      become_user: '{{ matomo_user }}'
      changed_when: false
      check_mode: false
      register: matomo_unexpected_files

    - name: Delete unexpected files
      ansible.builtin.command:
        cmd: php console --no-ansi -n diagnostics:unexpected-files --delete
        chdir: "{{ matomo_dir }}"
      become: true
      become_user: '{{ matomo_user }}'
      changed_when: true
      when:
        - matomo_unexpected_files.rc == 0
        - matomo_unexpected_files.stdout | length > 0
