---
# file: run goaccess to generate html pages

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
{% if playbook_ansible_python_interpreter | length > 0 %}
    ansible_python_interpreter: {{ playbook_ansible_python_interpreter }}
{% endif %}
    system_task_name: goaccess
{% if system_task_goaccess_index_file is defined %}
    system_task_goaccess_index_file: {{ system_task_goaccess_index_file }}
{% endif %}
{% if system_task_goaccess_output_dir is defined %}
    system_task_goaccess_output_dir: {{ system_task_goaccess_output_dir }}
{% endif %}
{% if system_task_goaccess_nginx_log is defined %}
    system_task_goaccess_nginx_log: {{ system_task_goaccess_nginx_log }}
{% endif %}
{% if system_task_goaccess_options is defined %}
    system_task_goaccess_options: {{ system_task_goaccess_options }}
{% endif %}

  roles:
    - alphanodes.tasks.system_task
