---
# file: run matomo queuedtracking

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
{% if playbook_ansible_python_interpreter | length > 0 %}
    ansible_python_interpreter: {{ playbook_ansible_python_interpreter }}
{% endif %}
{% if matomo_task_become is defined %}
    matomo_task_become: {{ matomo_task_become | bool | lower }}
{% endif %}
{% if matomo_task_become_user is defined %}
    matomo_task_become_user: {{ matomo_task_become_user }}
{% endif %}
{% if matomo_user is defined %}
    matomo_user: {{ matomo_user }}
{% endif %}
{% if matomo_domain is defined %}
    matomo_domain: {{ matomo_domain }}
{% endif %}
    matomo_console_name: queuedtracking:process

  roles:
    - alphanodes.tasks.matomo_task
