---
# file: run matomo config.ini.php sync

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
{% if playbook_ansible_python_interpreter | length > 0 %}
    ansible_python_interpreter: {{ playbook_ansible_python_interpreter }}
{% endif %}
{% if matomo_config_master is defined %}
    matomo_config_master: {{ matomo_config_master }}
{% endif %}
{% if matomo_task_become is defined %}
    matomo_task_become: {{ matomo_task_become | bool | lower }}
{% endif %}
{% if matomo_task_become_user is defined %}
    matomo_task_become_user: {{ matomo_task_become_user }}
{% endif %}
    matomo_task_name: config-sync

  roles:
    - alphanodes.tasks.matomo_task
