---
# file: run pgbadger query for data collecting

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
{% if playbook_ansible_python_interpreter | length > 0 %}
    ansible_python_interpreter: {{ playbook_ansible_python_interpreter }}
{% endif %}
    system_task_name: pgbadger_query
{% if postgresql_version is defined %}
    postgresql_version: {{ postgresql_version }}
{% endif %}
{% if system_task_pgbadger_query_log is defined %}
    system_task_pgbadger_query_log: {{ system_task_pgbadger_query_log }}
{% endif %}
{% if system_task_pgbadger_query_outdir is defined %}
    system_task_pgbadger_query_outdir: {{ system_task_pgbadger_query_outdir }}
{% endif %}
{% if system_task_pgbadger_query_options is defined %}
    system_task_pgbadger_query_options: {{ system_task_pgbadger_query_options }}
{% endif %}

  roles:
    - alphanodes.tasks.system_task
