---
# file: reboot puma as a workaround for memory leak

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
{% if playbook_ansible_python_interpreter | length > 0 %}
    ansible_python_interpreter: {{ playbook_ansible_python_interpreter }}
{% endif %}
    system_task_name: service_restart
    system_task_service_name: {{ puma_restart_service_name | default('puma-redmine') }}

  roles:
    - alphanodes.tasks.system_task
