---
# file: run redmine maintenance tasks

- hosts: {{ ansible_node_playbook_host }}
  serial: 1

  vars:
    ansible_python_interpreter: {{ ansible_node_playbook_ansible_python_interpreter }}
    redmine_task_name: maintenance
{% if rails_env is defined and rails_env != 'production' %}
    rails_env: {{ rails_env }}
{% endif %}
{% if redmine_task_multi_instance_default is defined %}
    redmine_task_multi_instance_default: {{ redmine_task_multi_instance_default }}
{% endif %}
{% if redmine_maintenance_tasks is defined %}
    redmine_maintenance_tasks:
      {{ redmine_maintenance_tasks | to_nice_yaml(indent=2) | trim | indent(6) }}
{% endif %}
{% if redmine_maintenance_instances is defined or redmine_task_instances is defined %}
    redmine_instances:
      {{ redmine_maintenance_instances | default(redmine_task_instances) | to_nice_yaml(indent=2) | trim | indent(6) }}
{% else %}
    redmine_instances:
      {{ redmine_task_instance | default('redmine') }}:
{% endif %}

  roles:
    - alphanodes.tasks.redmine_task
