---

- name: Set sphinx_dir
  ansible.builtin.set_fact:
    sphinx_dir: "{{ sphinx_instance.dir | default(sphinx_base_dir + '/' + sphinx_instance.name) }}"

- name: Install sphinx - {{ sphinx_instance.name }}
  ansible.builtin.git:
    repo: '{{ sphinx_instance.repo }}'
    dest: '{{ sphinx_dir }}'
    version: '{{ sphinx_instance.repo_version | default(omit) }}'
    accept_hostkey: true
  register: git_result

- name: Build
  when: (git_result is defined and git_result.changed) or sphinx_always_build
  environment:
    PATH: "{{ sphinx_bin_path }}:$PATH:/usr/local/bin:/usr/bin:/usr/sbin"
  block:
    - name: Run sphinx clean - {{ sphinx_instance.name }}
      ansible.builtin.command: make clean
      args:
        chdir: '{{ sphinx_dir }}/{{ item.name }}'
      loop: '{{ sphinx_instance.dirs | default([]) }}'

    - name: Run sphinx build html - {{ sphinx_instance.name }}
      ansible.builtin.command: make html
      args:
        chdir: '{{ sphinx_dir }}/{{ item.name }}'
      loop: '{{ sphinx_instance.dirs | default([]) }}'

    - name: Run sphinx build pdf - {{ sphinx_instance.name }}
      ansible.builtin.shell: make latexpdf --quiet > /dev/null
      args:
        chdir: '{{ sphinx_dir }}/{{ item.name }}'
      loop: '{{ sphinx_instance.dirs | default([]) }}'

    - name: Create pdf link for download - {{ sphinx_instance.name }}
      ansible.builtin.file:
        src: '{{ sphinx_dir }}/{{ item.name }}/_build/latex/{{ item.ref_to | default(item.name) }}.pdf'
        dest: '{{ sphinx_dir }}/{{ item.name }}/_build/html/{{ item.name }}.pdf'
        state: link
      loop: '{{ sphinx_instance.dirs | default([]) }}'

# restart required, because file can be not available before
- name: Update htpassword protection file - {{ sphinx_instance.name }}
  community.general.htpasswd:
    path: /etc/nginx/.htpasswd_sphinx_{{ sphinx_instance.name }}
    name: '{{ item.user }}'
    password: '{{ item.password }}'
    owner: root
    group: '{{ nginx_group }}'
    mode: '0640'
  loop: '{{ sphinx_instance.vhost_users | default([]) }}'
  when: sphinx_instance.vhost_users is defined
  notify: Restart nginx

- name: Remove sphinx htpasswd file, if no base auth is in use - {{ sphinx_instance.name }}
  ansible.builtin.file:
    path: /etc/nginx/.htpasswd_sphinx_{{ sphinx_instance.name }}
    state: absent
  when: sphinx_instance.vhost_users is undefined
  notify: Restart nginx
