---
dependencies:
  - role: alphanodes.setup.common

galaxy_info:
  description: Setup systemd timer
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.14'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie
  galaxy_tags:
    - systemd
    - timers
    - configuration
