---

- name: Be sure jekyll packages are installed
  ansible.builtin.apt:
    name: '{{ jekyll_packages }}'
    state: present

- name: Ensures jekyll base exists
  ansible.builtin.file:
    path: '{{ jekyll_base_dir }}'
    state: directory
    mode: 0755
