{{ managed_by_ansible | comment }}
# nginx loki configuration

server {
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
  server_name {{ loki_vhost_server }};

  {% include 'templates/nginx/modern_protocols.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}
  {% include 'templates/nginx/security_headers.inc.j2' with context %}

  location {{ loki_vhost_location }} {
    auth_basic "Restricted access only";
    auth_basic_user_file /etc/nginx/.htpasswd_loki;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://{{ loki_instance_addr }}:{{ loki_http_listen_port }};
  }

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  {% include 'templates/nginx/error_handler_static.inc.j2' with context %}

  {% if loki_vhost_includes is defined -%}
  {% for include in loki_vhost_includes -%}
  include {{ include }}.conf;
  {% endfor %}
  {% endif %}

}

server {
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}
  server_name {{ loki_vhost_server }};
  return 301 https://{{ loki_vhost_server }}$request_uri;
}

{% if loki_redirects is defined -%}
server {
  server_name {{ loki_redirects | join(' ') }};
  listen 80;
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:80;
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}

  {% include 'templates/nginx/modern_protocols.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}

  return 301 https://{{ loki_vhost_server }}$request_uri;
}
{% endif %}
{% if loki_vhost_for_zabbix %}

{% include 'templates/nginx/monitoring.inc.j2' with context %}
{% endif %}
