---

- name: Set files
  ansible.builtin.set_fact:
    cert_path: '{{ ssl_certs_dir }}/{{ ssl_cert.name }}.crt'
    key_path: '{{ ssl_keys_dir }}/{{ ssl_cert.name }}.key'
    csr_path: '{{ ssl_certs_dir }}/{{ ssl_cert.name }}.csr'
    ssl_cert_owner: '{{ ssl_cert.owner | default("root") }}'
    ssl_cert_group: '{{ ssl_cert.group | default("ssl-cert") }}'

- name: Generate self-signed cert, if wanted and required
  when:
    - ssl_cert.provider is defined
    - ssl_cert.provider == 'selfsigned' or ssl_cert.provider == 'ownca'
  block:
    - name: Check whether certificate exists
      ansible.builtin.stat:
        path: '{{ cert_path }}'
      register: ssl_certificate_exists

    # see https://docs.ansible.com/ansible/latest/collections/community/crypto/openssl_privatekey_module.html
    - name: Generate an OpenSSL private key
      community.crypto.openssl_privatekey:
        path: '{{ key_path }}'
        owner: '{{ ssl_cert_owner }}'
        group: '{{ ssl_cert_group }}'
        type: '{{ ssl_cert.type | default(omit) }}'
        size: '{{ ssl_cert.size | default(omit) }}'
        mode: '0640'

    # Only generate CSR if certificate doesn't exist yet (CSR pipe is not idempotent)
    # see https://docs.ansible.com/ansible/latest/collections/community/crypto/openssl_csr_module.html
    - name: Generate an OpenSSL CSR
      community.crypto.openssl_csr_pipe:
        privatekey_path: '{{ key_path }}'
        common_name: '{{ ssl_cert.subject_common_name }}'
        country_name: '{{ ssl_cert.country_name | default(omit) }}'
        locality_name: '{{ ssl_cert.locality_name | default(omit) }}'
        state_or_province_name: '{{ ssl_cert.state_or_province_name | default(omit) }}'
        organization_name: '{{ ssl_cert.organization_name | default(omit) }}'
        organizational_unit_name: '{{ ssl_cert.organizational_unit_name | default(omit) }}'
        subject_alt_name: '{{ ssl_cert.subject_alt_name | default(omit) }}'
        email_address: '{{ ssl_cert.email_address | default(omit) }}'
      register: ssl_csr
      when: not ssl_certificate_exists.stat.exists

    # see https://docs.ansible.com/ansible/latest/collections/community/crypto/x509_certificate_pipe_module.html#ansible-collections-community-crypto-x509-certificate-pipe-module
    - name: Generate selfsigned certificate
      community.crypto.x509_certificate_pipe:
        csr_content: "{{ ssl_csr.csr }}"
        privatekey_path: '{{ key_path }}'
        selfsigned_not_after: "{{ ssl_cert.days | default('+850d') }}"
        provider: selfsigned
      when:
        - ssl_cert.provider == 'selfsigned'
        - not ssl_certificate_exists.stat.exists
      register: ssl_certificate

    # see https://docs.ansible.com/ansible/latest/collections/community/crypto/x509_certificate_pipe_module.html#ansible-collections-community-crypto-x509-certificate-pipe-module
    - name: Generate certificate signed by ca
      community.crypto.x509_certificate_pipe:
        csr_content: "{{ ssl_csr.csr }}"
        ownca_path: files/ssl/cas/{{ ssl_cert.ca_name }}_ca.crt
        ownca_privatekey_path: files/ssl/cas_private/{{ ssl_cert.ca_name }}_ca.key
        ownca_not_after: "{{ ssl_cert.days | default('+850d') }}"
        provider: ownca
      when:
        - ssl_cert.provider == 'ownca'
        - not ssl_certificate_exists.stat.exists
      register: ssl_certificate_ownca
      delegate_to: localhost

    - name: Set ssl_certificate for ownca provider
      ansible.builtin.set_fact:
        ssl_certificate: "{{ ssl_certificate_ownca }}"
      when:
        - ssl_cert.provider == 'ownca'
        - ssl_certificate_ownca.certificate is defined

    - name: Write certificate file
      ansible.builtin.copy:
        dest: '{{ cert_path }}'
        content: "{{ ssl_certificate.certificate }}"
        owner: '{{ ssl_cert_owner }}'
        group: '{{ ssl_cert_group }}'
        mode: '0644'
      when:
        - ssl_certificate.certificate is defined
        - not ssl_certificate_exists.stat.exists

- name: Install ssl certificates - {{ ssl_cert.name }}
  ansible.builtin.copy:
    src: ssl/certs/{{ ssl_cert.name }}.crt
    dest: '{{ cert_path }}'
    owner: '{{ ssl_cert_owner }}'
    group: '{{ ssl_cert_group }}'
    mode: '0644'
  notify: Restart nginx
  when: ssl_cert.provider is undefined

- name: Check trusted TLS cert - {{ ssl_cert.name }}
  ansible.builtin.stat:
    path: '{{ playbook_dir }}/files/ssl/certs/{{ ssl_cert.name }}_trusted.crt'
  delegate_to: localhost
  become: false
  register: trusted_cert

- name: Install trusted ssl certificates - {{ ssl_cert.name }}
  ansible.builtin.copy:
    src: ssl/certs/{{ ssl_cert.name }}_trusted.crt
    dest: '{{ ssl_certs_dir }}/{{ ssl_cert.name }}_trusted.crt'
    owner: '{{ ssl_cert_owner }}'
    group: '{{ ssl_cert_group }}'
    mode: '0644'
  when:
    - ssl_cert.provider is undefined
    - trusted_cert.stat.exists
  notify: Restart nginx

- name: Remove obsolete trusted ssl certificates - {{ ssl_cert.name }}
  ansible.builtin.file:
    path: '{{ ssl_certs_dir }}/{{ ssl_cert.name }}_trusted.crt'
    state: absent
  when:
    - ssl_cert.provider is undefined
    - not trusted_cert.stat.exists

- name: Install ssl keys - {{ ssl_cert.name }}
  ansible.builtin.copy:
    src: ssl/private/{{ ssl_cert.name }}.key
    dest: '{{ key_path }}'
    owner: '{{ ssl_cert_owner }}'
    group: '{{ ssl_cert_group }}'
    mode: '0640'
  notify: Restart nginx
  when: ssl_cert.provider is undefined
