---
# defaults file for rocketchat server

rocketchat_dir: /srv/rocketchat
rocketchat_application_path: '{{ rocketchat_dir }}/bundle'
# "latest" implies latest stable here, can be "3.3.0", for example
rocketchat_version: 6.2.9
# rocketchat_tarball_remote: https://releases.rocket.chat/{{ rocketchat_version }}/download
rocketchat_tarball_remote: https://cdn-download.rocket.chat/build/rocket.chat-{{ rocketchat_version }}.tgz
rocketchat_tarball_fetch_timeout: 100
rocketchat_tarball_validate_remote_cert: true
rocketchat_service_user: rocketchat
rocketchat_service_group: rocketchat
rocketchat_service_environment: {}

# MongoDB settings
# mongodb can be disabled for bulleyes update
rocketchat_with_mongodb: true
rocketchat_mongodb_server: 127.0.0.1
rocketchat_mongodb_port: 27017
rocketchat_mongodb_database: rocketchat
rocketchat_mongodb_use_tls: false
rocketchat_mongodb_user: ~
rocketchat_mongodb_password: ~

# for update procedure
rocketchat_old_application_path: '{{ rocketchat_dir }}/bundle.old'

rocketchat_internal_host: 127.0.0.1
rocketchat_internal_port: 3333

rocketchat_vhost_server: "{{ ansible_fqdn }}"
rocketchat_vhost_for_zabbix: false

rocketchat_vhost_letsencrypt: false
rocketchat_vhost_ssl_cert: '{{ ssl_certs[0].name }}'
rocketchat_vhost_letsencrypt_cert: '{{ letsencrypt_certs[0] | default(omit) }}'
rocketchat_vhost_letsencrypt_key: '{{ letsencrypt_keys[0] | default(omit) }}'

# if you want to remove rocketchat, set it to yes
rocketchat_remove: false

rocketchat_mongodb_apt_key_url: https://www.mongodb.org/static/pgp/server-5.0.asc
