---

- name: Validate Matrix configuration
  ansible.builtin.assert:
    that:
      - fail2ban_matrix_token is defined and fail2ban_matrix_token | length > 0
      - fail2ban_matrix_room_id is defined and fail2ban_matrix_room_id | length > 0
    fail_msg: "Matrix notification is enabled (fail2ban_matrix_server is set) but fail2ban_matrix_token and/or fail2ban_matrix_room_id are missing!"
    success_msg: "Matrix configuration is valid"
  when: fail2ban_matrix_server is defined and fail2ban_matrix_server | length > 0

- name: Set facts
  ansible.builtin.set_fact:
    login_action: >-
      {{
        fail2ban_login_action
        if (
          (fail2ban_matrix_server is defined and (fail2ban_matrix_server | length) > 0)
          and (fail2ban_matrix_token is defined and (fail2ban_matrix_token | length) > 0)
          and (fail2ban_matrix_room_id is defined and (fail2ban_matrix_room_id | length) > 0)
        )
        else fail2ban_action
      }}
    named_ssh_server_port: "{{ 'ssh' if fail2ban_sshd_port == '22' else fail2ban_sshd_port }}"

- name: Get error log file info
  ansible.builtin.stat:
    path: /var/log/nginx/error.log
    get_checksum: false
  register: nginx_error_log_file

- name: Be sure fail2ban is installed
  ansible.builtin.apt:
    name: '{{ fail2ban_packages }}'
    state: present

- name: Update fail2ban configuration
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: Restart fail2ban

- name: Install actions
  ansible.builtin.copy:
    src: action.d/
    dest: '{{ fail2ban_action_path }}'
    mode: '0644'
  notify: Restart fail2ban

- name: Install filters
  ansible.builtin.copy:
    src: filter.d/
    dest: '{{ fail2ban_filter_path }}'
    mode: '0644'
  notify: Restart fail2ban

- name: Install sudoer access for zabbix
  ansible.builtin.copy:
    src: sudoers.d/fail2ban
    dest: /etc/sudoers.d/fail2ban
    mode: '0440'

- name: Start the fail2ban service
  ansible.builtin.systemd_service:
    name: fail2ban
    state: started
    enabled: true
