---
# defaults file for redis-server

# iproute2 is required for ss (zabbix-monitoring)
redis_server_packages:
  - redis-server
  - iproute2

# redis 6.2 or newer is required for GitLab 16.8
redis_use_redis_io: true
redis_apt_url: https://packages.redis.io/deb
redis_apt_suites: '{{ ansible_distribution_release }}'
redis_apt_components: main
redis_apt_signed_by: https://packages.redis.io/gpg

# uncomment it, if you want to set it (redis recommend it)
# redis_vm_overcommit_memory: 1

redis_server_bind: '127.0.0.1 -::1'

# redis_server_logfile: /var/log/redis/redis-server.log
redis_server_logfile:
redis_server_loglevel: notice
redis_server_syslog_enabled: true
redis_server_syslog_ident: redis
# Specify the syslog facility. Must be USER or between LOCAL0-LOCAL7.
redis_server_syslog_facility: local0

# Optional: locale used for string collation. Only supported on newer Redis releases.
# Leave undefined to omit the directive (recommended for distro Redis 7.0.x).
# Example: redis_server_locale_collate: "C"

# socket is not working on all systems!
# port 0 for socket only
redis_server_port: 6379
redis_server_unixsocket: /run/redis/redis.sock
redis_server_unixsocketperm: 770

redis_server_timeout: 0
redis_server_databases: 16
redis_server_requirepass: ''

# use false for systemd
redis_server_daemonize: false
# use systemd for systemd (quotes are required here)
redis_server_supervised: 'systemd'

# redis_server_pidfile: /run/redis/redis-server.pid
# for system no pid file is used
redis_server_pidfile: ''

# Disable certain Redis commands for security reasons.
redis_server_disabled_commands: []
#  - FLUSHDB
#  - FLUSHALL
#  - KEYS
#  - PEXPIRE
#  - DEL
#  - CONFIG
#  - SHUTDOWN
#  - BGREWRITEAOF
#  - BGSAVE
#  - SAVE
#  - SPOP
#  - SREM
#  - RENAME
#  - DEBUG

# zabbix template: https://github.com/cuimingkun/zbx_tem_redis
zabbix_monitoring: false
