---

- name: Stop Rocket.Chat for update
  ansible.builtin.systemd:
    name: rocketchat
    state: stopped
  ignore_errors: true

- name: Delete existing [UPGRADE] {{ rocketchat_old_application_path }}
  ansible.builtin.file:
    path: '{{ rocketchat_old_application_path }}'
    state: absent

- name: Backup current Rocket.Chat instance [UPGRADE]
  ansible.builtin.command: mv {{ rocketchat_application_path }} {{ rocketchat_old_application_path }}
  when: rocketchat_deploy_state.stat.exists
