{{ managed_by_ansible | comment }}

smtpd_banner = {{ postfix_smtpd_banner }}
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html
compatibility_level = {{ postfix_compatibility_level }}

# TLS parameters
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_chain_files = {{ postfix_smtpd_tls_chain_files | join(',') }}
{% if postfix_smtpd_tls_mandatory_protocols is defined %}
smtpd_tls_mandatory_protocols = {{ postfix_smtpd_tls_mandatory_protocols }}
{% endif %}
{% if postfix_smtpd_tls_dh1024_param_file is defined %}
smtpd_tls_dh1024_param_file = {{ postfix_smtpd_tls_dh1024_param_file }}
{% endif %}
{% if postfix_smtpd_tls_protocols is defined %}
smtpd_tls_protocols = {{ postfix_smtpd_tls_protocols }}
{% endif %}
smtpd_tls_auth_only = {{ 'yes' if postfix_tls_auth_only | bool else 'no' }}

smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
{% if postfix_smtp_tls_mandatory_protocols is defined %}
smtp_tls_mandatory_protocols = {{ postfix_smtp_tls_mandatory_protocols }}
{% endif %}
{% if postfix_smtp_tls_protocols is defined %}
smtp_tls_protocols = {{ postfix_smtp_tls_protocols }}
{% endif %}
{% if postfix_sasl_auth_enable %}
# enable SASL authentication
smtp_sasl_auth_enable = yes
smtp_tls_wrappermode = {{ 'yes' if postfix_smtp_tls_wrappermode | bool else 'no' }}
smtp_tls_note_starttls_offer = {{ 'yes' if postfix_smtp_tls_note_starttls_offer | bool else 'no' }}
{% if postfix_sasl_mechanism_filter != '' %}
smtp_sasl_mechanism_filter = {{ postfix_sasl_mechanism_filter }}
{% endif %}
# disallow methods that allow anonymous authentication.
smtp_sasl_security_options = {{ postfix_sasl_security_options }}
# where to find sasl_passwd
smtp_sasl_password_maps = hash:{{ postfix_sasl_password_file }}
{% endif %}

{% if postfix_smtp_dns_support_level is defined -%}
smtp_dns_support_level = {{ postfix_smtp_dns_support_level }}
{% endif -%}

myhostname = {{ postfix_myhostname }}
alias_maps = hash:{{ postfix_aliases_file }}
alias_database = hash:{{ postfix_aliases_file }}
mydestination = {{ postfix_mydestination | join(', ') }}
mailbox_size_limit = {{ postfix_mailbox_size_limit }}
{% if postfix_virtual_mailbox_limit is defined %}
virtual_mailbox_limit = {{ postfix_virtual_mailbox_limit }}
{% endif %}
message_size_limit = {{ postfix_message_size_limit }}
recipient_delimiter = +
inet_interfaces = {{ postfix_inet_interfaces }}
{% if postfix_inet_protocols != '' %}
inet_protocols = {{ postfix_inet_protocols }}
{% endif %}
mynetworks_style = {{ postfix_mynetworks_style }}
{% if postfix_mynetworks_style != 'host' %}
mynetworks = {{ postfix_mynetworks | join(' ') }}
{% endif %}

{% if postfix_relayhost != '' %}
relayhost = {{ real_postfix_relayhost }}
{% endif %}
{% if postfix_relaytls %}
smtp_use_tls = yes
{% endif %}
{% if postfix_redirect_all_mails_to is defined %}
recipient_canonical_maps = regexp:/etc/postfix/recipient-canonical
{% endif %}
{% if postfix_sender_canonicals | length > 0 %}
sender_canonical_maps = hash:/etc/postfix/sender-canonical
{% endif %}
smtpd_relay_restrictions = {{ real_smtpd_relay_restrictions | join(',') }}

# Disable the SMTP VRFY command. This stops some techniques used to harvest email addresses.
disable_vrfy_command = yes

{% if postfix_with_postscreen %}
### postscreen configuration block
postscreen_access_list = permit_mynetworks

# Drop connections from blacklisted servers with a 521 reply
postscreen_blacklist_action = drop

# Clean Postscreen cache after 24h
postscreen_cache_cleanup_interval = 24h

postscreen_dnsbl_ttl = 5m
postscreen_dnsbl_threshold = 8
postscreen_dnsbl_action = enforce
postscreen_dnsbl_sites =
{% for site in postfix_postscreen_dnsbl_sites %}
  {{ site }}
{% endfor %}
postscreen_greet_banner = $smtpd_banner
postscreen_greet_action = enforce
postscreen_greet_wait = 3s
postscreen_greet_ttl = 2d
postscreen_bare_newline_enable = no
postscreen_non_smtp_command_enable = no
postscreen_pipelining_enable = no
postscreen_cache_map = proxy:btree:$data_directory/postscreen_cache
{% endif %}

{% if postfix_with_smtps %}
## Restrictions for MUAs (Mail user agents)

mua_relay_restrictions = {{ postfix_mua_relay_restrictions | join(',') }}
mua_sender_restrictions = {{ postfix_mua_sender_restrictions | join(',') }}
mua_client_restrictions = {{ postfix_mua_client_restrictions | join(',') }}
{% endif %}

{% if postfix_with_vimbadmin %}
### vimbadmin configuration block

smtpd_recipient_restrictions = {{  postfix_smtpd_recipient_restrictions | join(',') }}

# Unauthenticated users must not pipeline their commands
# Block clients that try to send too early
smtpd_data_restrictions = reject_unauth_pipelining

# A lookup table mapping sender addresses to their authorized identities
smtpd_sender_login_maps = proxy:mysql:/etc/postfix/mysql/virtual_alias_maps.cf

# Please say hello first...
smtpd_helo_required = yes

# Report the SASL authenticated user name in the smtpd Received message header.
smtpd_sasl_authenticated_header = yes

# The lookup tables that the proxymap server is allowed to access for the read-only service.
proxy_read_maps = $local_recipient_maps $mydestination $virtual_alias_maps $virtual_alias_domains $virtual_mailbox_maps $virtual_mailbox_domains $relay_recipient_maps $relay_domains $canonical_maps $sender_canonical_maps $recipient_canonical_maps $relocated_maps $transport_maps $mynetworks $smtpd_sender_login_maps

## Virtual transport configuration
# A prefix that the virtual delivery agent prepends to all pathname results from $virtual_mailbox_maps
virtual_mailbox_base = /

# THIS contains a list of domains we are the final destination for (unlike "mydestination").
virtual_mailbox_domains = proxy:mysql:/etc/postfix/mysql/virtual_domains_maps.cf

# Alias specific mail addresses or domains to other local or remote address.
virtual_alias_maps = proxy:mysql:/etc/postfix/mysql/virtual_alias_maps.cf

# Specify a left-hand side of "@domain.tld" to match any user in the specified domain
virtual_mailbox_maps = proxy:mysql:/etc/postfix/mysql/virtual_mailbox_maps.cf

# The minimum user ID value that the virtual delivery agent accepts
virtual_minimum_uid = 5000

# We use "vmail" user with UID/GID 5000 to lookup tables
virtual_uid_maps = static:5000
virtual_gid_maps = static:5000

# The default mail delivery transport and next-hop destination for final delivery to domains listed with "virtual_mailbox_domains"
virtual_transport = lmtp:unix:private/dovecot-lmtp

transport_maps = mysql:/etc/postfix/mysql/virtual_transport_maps.cf
{% endif %}
{% if postfix_with_rspamd %}

##
## Spam filter and DKIM signatures via Rspamd
##

smtpd_milters = inet:localhost:11332
non_smtpd_milters = inet:localhost:11332
milter_protocol = 6
milter_mail_macros =  i {mail_addr} {client_addr} {client_name} {auth_authen}
milter_default_action = accept
{% endif %}
{% for custom_option in postfix_custom_options | default([]) %}

{% if custom_option.comment is defined %}
# {{ custom_option.comment }}
{% endif %}
# @see https://www.postfix.org/postconf.5.html#{{ custom_option.name }}
{{ custom_option.name }} = {{ custom_option.value | default('') }}
{% endfor %}
