---

- name: Include PostgreSQL tasks
  ansible.builtin.include_tasks: postgresql.yml
  tags:
    - dendrite
    - matrix
    - postgresql
  when: not dendrite_remove | bool

- name: Include setup tasks
  ansible.builtin.include_tasks: setup.yml
  when: not dendrite_remove | bool
  tags:
    - dendrite
    - matrix

- name: Include validation tasks
  ansible.builtin.include_tasks: validation.yml
  when: not dendrite_remove | bool and dendrite_with_validation
  tags:
    - dendrite
    - matrix

- name: Include matrix room cleaner tasks
  ansible.builtin.include_tasks: matrix_room_cleaner.yml
  when: not dendrite_remove | bool and dendrite_with_matrix_room_cleaner
  tags:
    - dendrite
    - matrix

- name: Include remove tasks
  ansible.builtin.include_tasks: remove.yml
  when: dendrite_remove | bool
  tags:
    - dendrite
    - matrix
    - remove
