{{ managed_by_ansible | comment }}
# nginx element-web configuration

server {
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
  server_name {{ element_web_vhost_server }};
  root {{ element_web_path }};
  index index.html;

  {% include 'templates/nginx/http2.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}

	# Make sure to set Content-Security-Policy when this is not aleady done with the default headers.
	add_header Content-Security-Policy "frame-ancestors 'none'";

  {% if element_web_vhost_users | length > 0 -%}
  # access protection
  auth_basic "Restricted access only";
  auth_basic_user_file /etc/nginx/.htpasswd_element_web;
  {% endif %}

  {% include 'templates/nginx/error_handler_static.inc.j2' with context %}

  {% if element_web_vhost_includes is defined -%}
  {% for include in element_web_vhost_includes -%}
  include {{ include }}.conf;
  {% endfor %}
  {% endif %}

}

server {
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}
  server_name {{ element_web_vhost_server }};

  return 301 https://{{ element_web_vhost_server }}$request_uri;
}

{% if element_web_redirects is defined -%}
server {
  server_name {{ element_web_redirects | join(' ') }};
  listen 80;
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:80;
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}

  {% include 'templates/nginx/http2.inc.j2' with context %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}

  return 301 https://{{ element_web_vhost_server }}$request_uri;
}
{% endif %}
{% if element_web_vhost_for_zabbix %}

{% include 'templates/nginx/monitoring.inc.j2' with context %}
{% endif %}
