---

dependencies:
  - role: alphanodes.setup.common
    public: true
  - role: alphanodes.setup.rsync
  - role: alphanodes.setup.ssl
    when: matomo_with_nginx
  - role: alphanodes.setup.php_fpm
    when: matomo_with_nginx
  - role: alphanodes.setup.php_cli
    when: not matomo_with_nginx
  # mysql_client must come AFTER php_cli/php_fpm so php-mysql driver gets installed
  - role: alphanodes.setup.mysql_client
    public: true
  # Note: nginx is now installed via nginx_mono include_role in setup_nginx.yml

galaxy_info:
  description: Setup matomo
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.18'
  platforms:
    - name: Ubuntu
      versions:
        - noble
    - name: Debian
      versions:
        - bookworm
        - trixie
