---
# defaults file for dovecot
#
# NOTE: This role is optimized for use with ViMbAdmin (https://www.vimbadmin.net/)
# as the mail account management interface. The SQL queries are tailored to the
# vimbadmin database schema. If you use a different mail management system,
# you may need to adjust the SQL queries in templates/dovecot.conf.j2.

dovecot_packages:
  - dovecot-core
  - dovecot-imapd
  - dovecot-lmtpd
  - dovecot-sieve
  - dovecot-managesieved
  - dovecot-mysql

# Database configuration (vimbadmin schema)
dovecot_db_name: vimbadmin
dovecot_db_user: vimbadmin
dovecot_db_host: 127.0.0.1
# IMPORTANT: Set this in host_vars, never commit passwords!
dovecot_db_password: ''

dovecot_db_with_caching_sha2_password: false

# List of supported schemes is in
# http://wiki2.dovecot.org/Authentication/PasswordSchemes
dovecot_default_pass_scheme: SHA512-CRYPT

# SSL certificates (override in host_vars for Let's Encrypt)
dovecot_ssl_cert: /etc/ssl/certs/ssl-cert-snakeoil.pem
dovecot_ssl_key: /etc/ssl/private/ssl-cert-snakeoil.key

dovecot_vmail_user: vmail
dovecot_vmail_group: vmail
# base directory of all mail user accounts
dovecot_vmail_home: '/var/{{ dovecot_vmail_user }}'

dovecot_mail_home: '{{ dovecot_vmail_home }}/%{user|domain}/%{user|username}'

dovecot_postmaster_address: 'postmaster@example.com'
dovecot_before_sieve_script: '{{ dovecot_vmail_home }}/before.sieve'
dovecot_before_sieve_svbin: '{{ dovecot_vmail_home }}/before.svbin'

# Set to false for testing without MySQL database
dovecot_enable_service: true
