---

- name: Ensure alert scripts directory exists
  ansible.builtin.file:
    path: '{{ zabbix_server_alert_scripts_path }}'
    state: directory
    owner: "{{ zabbix_server_user }}"
    group: "{{ zabbix_server_user }}"
    mode: '0750'

- name: Install sendmail alert script
  tags: alert
  ansible.builtin.template:
    src: alert.d/send_mail_with_sendmail.j2
    dest: '{{ zabbix_server_alert_scripts_path }}/send_mail_with_sendmail.sh'
    mode: '0750'
    owner: "{{ zabbix_server_user }}"
    group: "{{ zabbix_server_user }}"
