{{ managed_by_ansible | comment }}

[Unit]
Description=Purge old unused kernel packages
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'dpkg -l "linux-*" | grep "^rc" | awk "{print \$2}" | xargs --no-run-if-empty dpkg --purge'
