---

- name: Drush install/update
  when:
    - drush_update
    - drush_install
  block:
    - name: Install drush
      ansible.builtin.command: '{{ composer_path }} global require drush/drush:{{ drush_version }}'
      register: drush_result
      changed_when: "'Nothing to install, update or remove' not in drush_result.stderr"

    - name: Output of drush
      ansible.builtin.debug:
        var: drush_result
    #  when: drush_install.stdout_lines | length > 0

    - name: Update composer packages to latest required version
      ansible.builtin.command: '{{ composer_path }} global update'
      register: composer_result
      changed_when: "'Nothing to install, update or remove' not in composer_result.stderr"

    - name: Output of composer update
      ansible.builtin.debug:
        var: composer_result
    #  when: composer_result.stdout_lines | length > 0

- name: Install drush configuration directory
  ansible.builtin.file:
    state: directory
    dest: /etc/drush
    mode: '0755'

- name: Drush configuration update
  ansible.builtin.template:
    src: etc/drush/drushrc.j2
    dest: /etc/drush/drushrc.php
    mode: '0644'

- name: Drush aliases configuration
  ansible.builtin.template:
    src: etc/drush/aliases.drushrc.php.j2
    dest: /etc/drush/aliases.drushrc.php
    mode: '0644'

- name: Remove obsolete sync configuration
  ansible.builtin.file:
    path: /etc/drush/aliases.drushrc.sync.php
    state: absent

- name: Install reset script
  ansible.builtin.template:
    src: reset.sh.j2
    dest: /usr/local/bin/reset_{{ drush_reset_script_name }}
    mode: '0755'
  when: drush_reset_script

- name: Install sudoer access for zabbix
  ansible.builtin.template:
    src: etc/sudoers.d/drush.j2
    dest: /etc/sudoers.d/drush
    mode: '0440'
