---
- name: Converge
  hosts: all
  become: true

  pre_tasks:
    - name: Update apt cache.
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 600
      changed_when: false

  vars:
    docker_with_compose: true

  roles:
    - role: alphanodes.setup.docker
