{% if ansible_facts.distribution == 'Debian' and ansible_facts.distribution_major_version == '13' %}
  http2 on;
{% if nginx_with_http3 %}
  http3 on;
  quic_gso on;
  ssl_early_data on;
{% endif %}
{% endif %}
