
# Port redirect for {{ instance.server_name if instance.server_name is defined else 'default host' }}
server {
{% if instance.server_port == 443 %}
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}
{% else %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}
{% endif %}
{% if instance.server_name is defined %}
  server_name {{ instance.server_name }};
{% endif %}

{% if instance.server_port != 443 -%}
  {% include 'includes/modern_protocols.inc.j2' %}
  {% include 'includes/ssl.inc.j2' %}
{% endif %}

  return 301 {{ 'https' if instance.server_port == 443 else 'http' }}://$host$request_uri;
}
