
# HTTP to HTTPS redirect for {{ instance.server_name if instance.server_name is defined else 'default host' }}
{% set ssl_port = nginx_listen_config.server_port | default(443) %}
server {
  listen 80;
{% if nginx_listen_config.use_ipv6 %}
  listen [::]:80;
{% endif %}
{% if instance.server_name is defined %}
  server_name {{ instance.server_name }};
{% endif %}

{% if ssl_port == 443 %}
  return 301 https://$host$request_uri;
{% else %}
  return 301 https://$host:{{ ssl_port }}$request_uri;
{% endif %}
}
