
# HTTP to HTTPS redirect for {{ instance.server_name if instance.server_name is defined else 'default host' }}
{% set ssl_port = nginx_listen_config.server_port | default(443) %}
{# When use_redirect_block is true, default_host_redirect.inc.j2 already has default_server - don't duplicate it here #}
{% set default_server_flag = '' if use_redirect_block | default(false) else (' default_server' if nginx_listen_config.default_server else '') %}
server {
  listen 80{{ default_server_flag }};
{% if nginx_listen_config.use_ipv6 %}
  listen [::]:80{{ default_server_flag }};
{% endif %}
{% if instance.server_name is defined %}
  server_name {{ instance.server_name }};
{% endif %}

{% if ssl_port == 443 %}
  return 301 https://$host$request_uri;
{% else %}
  return 301 https://$host:{{ ssl_port }}$request_uri;
{% endif %}
}
