  # Deny access based on the User-Agent header
  if ($bad_bot) {
    return 444;
  }

  # Block unwanted url requests
  if ($bad_locations) {
    return 404;
  }
{% if instance.block_unsafe_methods | default(false) %}

  # Protection against illegal HTTP methods. Out of the box only HEAD,
  # GET and POST are allowed.
  if ($not_allowed_method) {
    return 405;
  }
{% endif %}
