{% if instance.proxy_pass is defined and instance.proxy_pass | length > 0 %}
  location {{ instance.proxy_location | default('/') }} {
{% if instance.vhost_users is defined and instance.vhost_users | length > 0 %}
    # access protection (location level)
    auth_basic "{{ instance.auth_basic_realm | default('Restricted access only') }}";
    auth_basic_user_file /etc/nginx/.htpasswd_{{ instance.htpasswd_name | default(nginx_mono_service_name | default(instance.name)) }};

{% endif %}
    proxy_pass {{ instance.proxy_pass }};
{% if instance.proxy_http_version is defined %}
    proxy_http_version {{ instance.proxy_http_version }};
{% elif (instance.proxy_websocket is defined and instance.proxy_websocket) or (nginx_with_websocket | default(false)) %}
    proxy_http_version 1.1;
{% endif %}
    proxy_set_header X-Real-IP $remote_addr;
{% if instance.proxy_host_header is defined %}
    proxy_set_header Host {{ instance.proxy_host_header }};
{% elif nginx_with_proxy_forwarded_hosts | default([]) | length > 0 %}
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Host $forwarded_host;
{% else %}
    proxy_set_header Host $proxy_host;
{% endif %}
{% if nginx_with_proxy_forwarded_for | default(true) %}
{% if instance.proxy_headers is not defined or not (instance.proxy_headers | select('match', '^X-Forwarded-For ') | list) %}
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{% endif %}
{% endif %}
{% if instance.proxy_forwarded_proto is defined %}
    proxy_set_header X-Forwarded-Proto {{ instance.proxy_forwarded_proto }};
{% else %}
    proxy_set_header X-Forwarded-Proto $scheme;
{% endif %}
{% if instance.proxy_redirect is defined %}
    proxy_redirect {{ instance.proxy_redirect }};
{% endif %}

{% if (instance.proxy_websocket is defined and instance.proxy_websocket) or (nginx_with_websocket | default(false)) %}
    # WebSocket support
    proxy_set_header Upgrade $http_upgrade;
{% if instance.proxy_connection_upgrade is defined %}
    proxy_set_header Connection "{{ instance.proxy_connection_upgrade }}";
{% else %}
    proxy_set_header Connection $connection_upgrade;
{% endif %}
{% endif %}

{% if instance.proxy_headers is defined %}
{% for header in instance.proxy_headers %}
    proxy_set_header {{ header }};
{% endfor %}
{% endif %}

{% if instance.proxy_timeout is defined %}
    proxy_connect_timeout {{ instance.proxy_timeout }};
    proxy_send_timeout {{ instance.proxy_timeout }};
    proxy_read_timeout {{ instance.proxy_timeout }};
{% endif %}
{% if instance.proxy_buffers is defined %}
    proxy_buffers {{ instance.proxy_buffers }};
{% endif %}
{% if instance.proxy_buffer_size is defined %}
    proxy_buffer_size {{ instance.proxy_buffer_size }};
{% endif %}
{% if instance.proxy_busy_buffers_size is defined %}
    proxy_busy_buffers_size {{ instance.proxy_busy_buffers_size }};
{% endif %}
  }
{% endif %}
