
# Redirects for {{ instance_name | default(instance.name) }}
server {
  server_name {{ instance.redirects | join(' ') }};
  listen 80;
{% if nginx_with_ipv6 %}
  listen [::]:80;
{% endif %}

{% if nginx_with_ssl %}
  listen 443 {{ nginx_ssl_listen_option }};
{% if nginx_with_ipv6 %}
  listen [::]:443 {{ nginx_ssl_listen_option }};
{% endif %}

  {% include 'templates/nginx/modern_protocols.inc.j2' with context %}
{% if instance.redirects_ssl_cert is defined %}
  ssl_certificate /etc/ssl/certs/{{ instance.redirects_ssl_cert }}.crt;
  ssl_certificate_key /etc/ssl/private/{{ instance.redirects_ssl_cert }}.key;
{% else %}
  {% include 'templates/nginx/ssl.inc.j2' with context %}
{% endif %}
{% endif %}
{% if instance.server_port is defined and instance.server_port == 80 %}
  return 301 http://{{ instance.server_name }}$request_uri;
{% elif instance.server_port is defined and instance.server_port == 443 %}
  return 301 https://{{ instance.server_name }}$request_uri;
{% else %}
  return 301 $scheme://{{ instance.server_name }}$request_uri;
{% endif %}
}
