---

# Basic Auth handled by nginx_mono service.yml

- name: Enable block
  when: hedgedoc_enabled
  block:
    - name: Set TLS files for letsencrypt
      ansible.builtin.set_fact:
        vhost_letsencrypt_cert: "{{ hedgedoc_vhost_letsencrypt_cert }}"
        vhost_letsencrypt_trusted_cert: "{{ hedgedoc_vhost_letsencrypt_trusted_cert }}"
        vhost_letsencrypt_key: "{{ hedgedoc_vhost_letsencrypt_key }}"
        force_letsencrypt: true
      when:
        - hedgedoc_vhost_letsencrypt is defined
        - hedgedoc_vhost_letsencrypt

    - name: Check trusted TLS cert
      ansible.builtin.stat:
        path: /etc/ssl/certs/{{ hedgedoc_vhost_ssl_cert }}_trusted.crt
      register: trusted_cert
      when: hedgedoc_vhost_letsencrypt is undefined or not hedgedoc_vhost_letsencrypt

    - name: Set TLS files
      ansible.builtin.set_fact:
        vhost_ssl_cert: "{{ hedgedoc_vhost_ssl_cert }}"
        vhost_ssl_with_trusted_cert: "{{ trusted_cert.stat.exists | bool }}"
      when: hedgedoc_vhost_letsencrypt is undefined or not hedgedoc_vhost_letsencrypt

    - name: Build additional headers list
      ansible.builtin.set_fact:
        _hedgedoc_additional_headers: >-
          {{
            ['Content-Security-Policy "' ~ hedgedoc_content_security_policy ~ '"']
            if hedgedoc_content_security_policy | default('') != ''
            else []
          }}

    - name: Setup nginx_mono and configure hedgedoc vhost
      tags: nginx
      ansible.builtin.include_role:
        name: alphanodes.setup.nginx_mono
      vars:
        nginx_with_websocket: true
        nginx_mono_service_name: hedgedoc
        nginx_mono_service_enabled: "{{ hedgedoc_enabled }}"
        nginx_mono_service_config:
          server_name: "{{ hedgedoc_vhost_server }}"
          root: "{{ hedgedoc_path }}"
          index: "index.html"
          proxy_pass: "http://{{ hedgedoc_host_name }}:{{ hedgedoc_http_port }}"
          proxy_location: "/"
          proxy_websocket: true
          vhost_users: "{{ hedgedoc_vhost_users | default([]) }}"
          vhost_for_zabbix: "{{ hedgedoc_vhost_for_zabbix | default(false) }}"
          letsencrypt: "{{ hedgedoc_vhost_letsencrypt | default(false) }}"
          redirects: "{{ hedgedoc_redirects | default([]) }}"
          vhost_includes: "{{ hedgedoc_vhost_includes | default([]) }}"
          additional_headers: "{{ _hedgedoc_additional_headers }}"

- name: Disable block
  when: not hedgedoc_enabled
  block:
    - name: Ensure hedgedoc vhost is disabled
      ansible.builtin.file:
        path: /etc/nginx/sites-enabled/hedgedoc.conf
        state: absent
