{% if cifs_mount.credential_domain is defined and cifs_mount.credential_domain != '' %}
domain={{ cifs_mount.credential_domain }}
{% endif %}
username={{ cifs_mount.credential_user }}
password={{ cifs_mount.credential_password }}
