---

- name: Ensure PostgreSQL packages are installed
  ansible.builtin.apt:
    name: '{{ drupal_postgresql_packages }}'
    state: present

- name: Ensure postgresql drupal user is present - {{ drupal_instance.name }}
  become_user: postgres
  become: true
  community.postgresql.postgresql_user:
    name: '{{ drupal_instance.db_user | default(drupal_instance.name) | replace("-", "_") }}'
    password: "{{ drupal_instance.db_password }}"
    role_attr_flags: "{{ drupal_instance.db_role_flags | default('NOSUPERUSER,CREATEDB') }}"
  no_log: '{{ hide_sensitive_data }}'
  when: drupal_instance.db_skip_user_setup is undefined or not drupal_instance.db_skip_user_setup

- name: Ensure postgreSQL drupal database is present - {{ drupal_instance.name }}
  become_user: postgres
  become: true
  community.postgresql.postgresql_db:
    name: '{{ drupal_instance.db_name | default(drupal_instance.name) | replace("-", "_") }}'
    owner: '{{ drupal_instance.db_user | default(drupal_instance.name) | replace("-", "_") }}'
    state: present
  when: drupal_instance.db_skip_db_setup is undefined or not drupal_instance.db_skip_db_setup

- name: Add extention pg_stat_statements to gitlab database
  become_user: postgres
  become: true
  community.postgresql.postgresql_ext:
    name: pg_stat_statements
    login_db: '{{ drupal_instance.db_user | default(drupal_instance.name) | replace("-", "_") }}'
  when: not drupal_instance.db_skip_db_setup and postgresql_with_pg_stat_statements
