---

- name: Set instance name variable
  ansible.builtin.set_fact:
    drupal_instance_name: "{{ drupal_instance.name }}"

- name: Include zsh role
  ansible.builtin.include_role:
    name: alphanodes.setup.zsh
  vars:
    zsh_user: '{{ drupal_instance.drupal_user }}'
    zsh_with_setup: false
    zsh_user_home: '{{ drupal_instance.dir }}'
  when: drupal_with_zsh and drupal_instance.drupal_user is defined

- name: Set drupal home dir permission - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ drupal_instance.dir }}'
    owner: '{{ drupal_instance.drupal_user }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    mode: '0755'
    state: directory
  when: drupal_instance.drupal_user is defined and drupal_instance.drupal_user != 'root'

- name: Include mysql tasks
  ansible.builtin.include_tasks: instance_mysql.yml
  tags: mysql
  when:
    - drupal_instance.db_driver is undefined or drupal_instance.db_driver == 'mysql'
    - drupal_instance.db_host is undefined or drupal_instance.db_host == 'localhost' or drupal_instance.db_host == '127.0.0.1'

- name: Include postgresql tasks
  ansible.builtin.include_tasks: instance_postgresql.yml
  tags: postgresql
  when:
    - drupal_instance.db_driver is defined
    - drupal_instance.db_driver == 'pgsql'
    - drupal_instance.db_host is undefined or drupal_instance.db_host == 'localhost' or drupal_instance.db_host == '127.0.0.1'

- name: Set facts
  ansible.builtin.set_fact:
    file_private_path: "{{ drupal_instance.file_private_path | default(drupal_instance.dir + '/private_files') }}"
    config_sync_directory: "{{ drupal_instance.config_sync_directory | default(drupal_instance.dir + '/config') }}"
    sites_default_dir: "{{ drupal_instance.dir }}{{ drupal_instance.vhost_dir | default(drupal_vhost_dir) }}/sites/default"

- name: Fix owner and permission for settings on checkout
  when: drupal_instance.write_settings_file is defined and not drupal_instance.write_settings_file
  block:
    - name: Fix sites/default owner and permission
      ansible.builtin.file:
        path: "{{ sites_default_dir }}"
        owner: "{{ drupal_instance.drupal_user | default('root') }}"
        group: "{{ drupal_instance.drupal_group | default(nginx_group) | default('root') }}"
        mode: '0755'
        state: directory

    - name: Fix settings.php owner and permission
      ansible.builtin.file:
        path: "{{ sites_default_dir }}/settings.php"
        owner: "{{ drupal_instance.drupal_user | default('root') }}"
        group: "{{ drupal_instance.drupal_group | default(nginx_group) | default('root') }}"
        mode: '0644'
        state: file

    - name: Check for settings.prod.php
      ansible.builtin.stat:
        path: "{{ sites_default_dir }}/settings.prod.php"
      register: prod_php

    - name: Fix settings.prod.php owner and permission
      ansible.builtin.file:
        path: "{{ prod_php.stat.path }}"
        owner: "{{ drupal_instance.drupal_user | default('root') }}"
        group: "{{ drupal_instance.drupal_group | default(nginx_group) | default('root') }}"
        mode: '0644'
        state: file
      when: prod_php.stat.exists

- name: Install drupal - {{ drupal_instance_name }}
  ansible.builtin.git:
    repo: '{{ drupal_instance.repo }}'
    dest: '{{ drupal_instance.dir }}'
    version: '{{ drupal_instance.repo_version | default(omit) }}'
    update: '{{ drupal_instance.repo_update | default("yes") }}'
    accept_hostkey: true
    force: true
  when: drupal_instance.repo is defined
  become: '{{ true if drupal_instance.drupal_user is defined else false }}'
  become_user: '{{ drupal_instance.drupal_user | default("") }}'
  register: git_result

- name: Run post commands
  ansible.builtin.command: "{{ item | replace('[drush]', '{{ drupal_instance.drush_path | default(drupal_drush_path) }} @{{ drupal_instance.name }}') }}"
  become: '{{ true if drupal_instance.drupal_user is defined else false }}'
  become_user: '{{ drupal_instance.drupal_user | default("") }}'
  loop: "{{ drupal_instance.post_commands }}"
  when:
    - git_result.changed
    - drupal_instance.post_commands is defined

- name: Create drupal directories for permissions - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ drupal_instance.dir }}{{ item }}'
    state: directory
    recurse: true
  loop: '{{ drupal_instance.write_permissions | default([]) }}'

- name: Include composer tasks {{ drupal_instance.name }}
  ansible.builtin.include_tasks: instance_composer.yml

- name: Set drupal permissions - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ drupal_instance.dir }}{{ item }}'
    owner: '{{ nginx_user }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    recurse: true
  loop: '{{ drupal_instance.write_permissions | default([]) }}'
  when: drupal_user is undefined

- name: Make sure tmp directory exists and permissions are correct - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ drupal_instance.dir }}{{ drupal_instance.tmp_dir }}'
    owner: '{{ drupal_instance.drupal_user | default(nginx_user) }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    state: directory
    recurse: true
  when: drupal_instance.tmp_dir is defined

- name: Check if private files directory exists - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ file_private_path }}'
    state: directory
    recurse: true

- name: Set private files permissions - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ file_private_path }}'
    owner: '{{ drupal_instance.drupal_user | default(nginx_user) }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    recurse: true

- name: Set configuration sync permissions - {{ drupal_instance_name }}
  ansible.builtin.file:
    path: '{{ config_sync_directory }}'
    owner: '{{ drupal_instance.drupal_user | default(nginx_user) }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    recurse: true

- name: Update settings.php for Drupal - {{ drupal_instance_name }}
  ansible.builtin.template:
    src: default.settings.php.j2
    dest: "{{ sites_default_dir }}/settings.php"
    validate: 'php -l %s'
    owner: '{{ drupal_instance.drupal_user | default("root") }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    mode: '0640'
  when:
    - drupal_instance.write_settings_file is undefined or drupal_instance.write_settings_file

- name: Update .env
  ansible.builtin.template:
    src: env.j2
    dest: "{{ drupal_instance.dir }}/.env"
    owner: '{{ drupal_instance.drupal_user | default("root") }}'
    group: '{{ drupal_instance.drupal_group | default(nginx_group) }}'
    mode: '0640'

- name: Include nginx configuration - {{ drupal_instance_name }}
  ansible.builtin.include_tasks: instance_nginx.yml
  tags: nginx
