---

- name: Set facts
  ansible.builtin.set_fact:
    file_private_path: "{{ instance.file_private_path | default(instance.dir + '/private_files') }}"
    config_sync_directory: "{{ instance.config_sync_directory | default(instance.dir + '/config') }}"

- name: Check if private files directory exists - {{ instance.name }}
  ansible.builtin.file:
    path: '{{ file_private_path }}'
    state: directory
    recurse: true

- name: Set private files permissions - {{ instance.name }}
  ansible.builtin.file:
    path: '{{ file_private_path }}'
    owner: '{{ nginx_owner }}'
    group: '{{ nginx_group }}'
    recurse: true

- name: Set configuration sync permissions - {{ instance.name }}
  ansible.builtin.file:
    path: '{{ config_sync_directory }}'
    owner: '{{ nginx_owner }}'
    group: '{{ nginx_group }}'
    recurse: true

- name: Update settings.php for Drupal 8 - {{ instance.name }}
  ansible.builtin.template:
    src: default.settings8.php.j2
    dest: "{{ instance.dir }}{{ instance.vhost_dir | default(drupal_vhost_dir) }}/sites/default/settings.php"
    validate: 'php -l %s'
    owner: root
    group: '{{ nginx_group }}'
    mode: 0640
  when:
    - instance.write_settings_file is not defined or instance.write_settings_file
    - drupal_instances | length
