---
# defaults file for ssl

ssl_packages:
  - ssl-cert

ssl_certs_dir: /etc/ssl/certs
ssl_keys_dir: /etc/ssl/private
ssl_cas_dir: /usr/local/share/ca-certificates

ssl_forward_secrecy_key_path: "{{ ssl_keys_dir }}/dhparams.pem"
ssl_forward_secrecy_key_length: 4096
# always generate new key
ssl_forward_secrecy_key_force: false

ssl_dhparams_force: false

ssl_certs: []

# CA files has to use .crt extention!
ssl_cas: []

# ssl certs, which are used from system (in most cases with own ca)
ssl_system_certs: []

# openssl genrsa 2048 > ca.key
# openssl req -new -x509 -nodes -days 3650 -key ca.key > ca.crt
# ssl_ca: key
ssl_mysql_ca: ''

# server or client. If '', no mysql ssl certs are installed
ssl_mysql_mode: ''
ssl_mysql_force_overwrite: false
ssl_mysql_server_cert_days: 3560
# see http://stackoverflow.com/questions/8075274/is-it-possible-making-openssl-skipping-the-country-common-name-prompts
ssl_mysql_server_cert_subj: '/C=DE/ST=Bavaria/L=Munich/CN=server.alphanodes.com'
