listen-http=:{{ gitlab_pages_port }}
pages-root={{ gitlab_path }}/{{ gitlab_pages_storage_path }}
api-secret-key={{ gitlab_pages_secret_path }}
artifacts-server=https://{{ gitlab_vhost_server }}/api/v4
pages-domain={{ gitlab_pages_domain }}
internal-gitlab-server=https://{{ gitlab_vhost_server }}
{% if gitlab_pages_ssl %}
root-cert=/etc/ssl/certs/{{ gitlab_pages_domain_ssl_cert }}.crt
root-key=/etc/ssl/private/{{ gitlab_pages_domain_ssl_cert }}.key
{% endif %}
{% if gitlab_pages_auth_client_id != '' %}
auth-client-id={{ gitlab_pages_auth_client_id }}
auth-client-secret={{ gitlab_pages_auth_client_secret }}
auth-redirect-uri={{ gitlab_pages_auth_redirect_uri }}
auth-secret={{ gitlab_pages_auth_secret }}
gitlab-server=https://{{ gitlab_vhost_server }}
{% endif %}
log-verbose={{ gitlab_pages_log_verbose | bool | lower }}
