---
dependencies:
  - role: alphanodes.setup.common
    public: true
  - role: alphanodes.setup.ssl
  - role: alphanodes.setup.memcached
  # NOTE: nginx is now handled via nginx_mono in tasks/nginx.yml
  - role: alphanodes.setup.hedgedoc
    when: redmine_with_hedgedoc

galaxy_info:
  description: Setup Redmine
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.18'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie
  galaxy_tags:
    - redmine
