---
dependencies:
  - role: alphanodes.setup.common
    public: true
  - role: alphanodes.setup.mysql_client
  - role: alphanodes.setup.php_fpm
  - role: geerlingguy.composer

galaxy_info:
  description: Setup phpmyadmin
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.16'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie

  galaxy_tags:
    - phpmyadmin
