---
dependencies:
  - role: alphanodes.setup.common
    public: true
  - role: alphanodes.setup.php_cli

galaxy_info:
  description: Setup php fpm
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.14'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie

  galaxy_tags:
    - php
    - fpm
