---
name: certbot

"on":
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'roles/certbot/**'
      - 'molecule/certbot/**'
      - '.github/workflows/certbot.yml'
  schedule:
    - cron: 25 4 * * 2

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2404
          - debian12
          - debian13

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install test dependencies
        run: pip install 'ansible<10' molecule molecule-plugins[docker] docker

      - name: Run Molecule tests
        run: molecule test -s certbot
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
