---
name: "alphanodes.setup.gitlab"
'on':
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'roles/gitlab/**'
      - 'molecule/gitlab/**'
      - '.github/workflows/gitlab.yml'

defaults:
  run:
    working-directory: 'gitlab'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1

    strategy:
      matrix:
        # GitLab source installation (self-compiled) is only used with Ubuntu 24.04
        # See: https://gitlab.com/gitlab-org/gitlab/-/blob/master/doc/install/self_compiled/_index.md
        # For GitLab Omnibus (package installation), use gitlab_omnibus role instead
        distro:
          - ubuntu2404

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
        with:
          path: 'gitlab'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install test dependencies.
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Molecule tests.
        run: |
          molecule --version
          molecule test -s gitlab
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
