---
name: Linter

on:  # yamllint disable-line rule:truthy
  # Run CI against all pushes (direct commits, also merged PRs), Pull Requests
  push:
    branches: [main]
    paths:
      - 'roles/**'
      - 'requirements.yml'
      - '**/*.md'
      - '**/*.yml'
      - '**/*.yaml'
      - '.markdownlintignore'
      - '.yamllint'
      - 'package.json'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
    paths:
      - 'roles/**'
      - 'requirements.yml'
      - '**/*.md'
      - '**/*.yml'
      - '**/*.yaml'
      - '.markdownlintignore'
      - '.yamllint'
      - 'package.json'

jobs:
  yamllint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: yamllint .

  ansible-lint:
    runs-on: ubuntu-latest

    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install ansible-lint
        run: pip install ansible-lint

      - name: Install Ansible collections
        run: ansible-galaxy collection install -r requirements.yml

      - name: Run ansible-lint
        run: ansible-lint

  markdownlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run markdownlint
        run: yarn markdownlint "**/*.md"
