---
name: "alphanodes.setup.mongodb"
'on':
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'plugins/modules/mongodb_replication.py'
      - 'roles/mongodb/**'
      - 'molecule/mongodb/**'
      - '.github/workflows/mongodb.yml'

defaults:
  run:
    working-directory: 'alphanodes.mongodb'

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - ubuntu2204
          - debian11

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3
        with:
          path: 'alphanodes.mongodb'

      - name: Set up Python 3.
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-plugins[docker] docker

      - name: Run Molecule tests.
        run: |
          molecule --version
          molecule test -s mongodb
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
