---
name: "alphanodes.setup.mongodb"
'on':
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'plugins/modules/mongodb_replication.py'
      - 'roles/mongodb/**'
      - 'molecule/mongodb/**'
      - '.github/workflows/mongodb.yml'

defaults:
  run:
    working-directory: 'mongodb'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1

    strategy:
      matrix:
        distro:
          - ubuntu2204  # Ubuntu 22.04 LTS - MongoDB 7.0 supported
          - debian12    # Debian 12 Bookworm - MongoDB 7.0 supported

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
        with:
          path: 'mongodb'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install test dependencies.
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Molecule tests.
        run: |
          molecule --version
          molecule test -s mongodb
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
