---
name: "alphanodes.setup.systemd_timer"
'on':
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'roles/systemd_timer/**'
      - 'molecule/systemd_timer/**'
      - '.github/workflows/systemd_timer.yml'

defaults:
  run:
    working-directory: 'systemd_timer'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1

    strategy:
      matrix:
        distro:
          - ubuntu2404
          - debian12
          - debian13

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
        with:
          path: 'systemd_timer'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Molecule tests.
        run: |
          molecule --version
          molecule test -s systemd_timer
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
