---
name: Yaml Lint  # feel free to pick your own name

on:  # yamllint disable-line rule:truthy
  # Run CI against all pushes (direct commits, also merged PRs), Pull Requests
  push:
    branches: [main]
    paths:
      - 'roles/**'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
    paths:
      - 'roles/**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1

    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v5

      - name: 'Yamllint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: false
